<!-- top header -->
<app-header></app-header>

<div class="dashboardContainer">

    <!-- 4 boxes-->
    <div class="container-fluid removePadding">
        <div class="row d-xl-flex d-lg-flex d-md-flex">
            <!-- box 1 -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="whiteBox whiteBoxSchool">
                    <h3 class="blueGradientHead text-center">315</h3>
                    <p class="blueGradientPara text-center">Students Active</p>
                    <a href="#" class="infoGreyRight text-right"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>

            <!-- box 2 -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="whiteBox whiteBoxSchool">
                    <h3 class="greenGradientHead text-center">124</h3>
                    <p class="greenGradientPara text-center">Students Completed</p>
                    <a href="#" class="infoGreyRight text-right"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>


            <!-- box 3 -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="whiteBox whiteBoxSchool">
                    <h3 class="orangeGradientHead text-center orangeGradient">24</h3>
                    <p class="orangeGradientPara text-center">Pending</p>
                    <a href="#" class="infoGreyRight text-right"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>

            <!-- box 4 -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="whiteBox whiteBoxSchool">
                    <h3 class="pinkGradientHead text-center pinkGradient">24</h3>
                    <p class="pinkGradientPara text-center">Mentor Repeat</p>
                    <a href="#" class="infoGreyRight text-right"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>




        </div>
    </div>


    <!-- students -->
    <div class="container-fluid whiteBox">
        <!-- box heading -->
        <div class="row headingBorder d-flex">
            <div class="col-6">
                <p class="headingOne text-uppercase">Students</p>
            </div>
            <div class="col-6">
                <div class="alignRight">
                    <span class="spanSchoolSort">Sort By</span>
                    <select class="form-control schoolSelect">
                        <option>Class</option>
                    </select>
                    <select class="form-control schoolSelect">
                        <option>Section</option>
                    </select>
                    <select class="form-control schoolSelect">
                        <option>Gender</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- card layout -->
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="borderCardSchool text-center">
                    <!-- image -->
                    <img src="../../../assets/images/common/profile.jpg" class="img-fluid imgProfileSchool"
                        alt="student image">
                    <!-- name -->
                    <p class="nameSchool">Ashlyn Smith</p>
                    <!-- class -->
                    <p class="classSchool">Class: 8<sup>th</sup> | Section: D</p>
                    <!-- age -->
                    <p class="classSchool">Age: 13years | Gender: Female</p>
                    <!-- mobile number -->
                    <p class="classSchool">+91-940-252-5252</p>
                    <!-- email -->
                    <p class="classSchool">email@email.com</p>
                    <!-- view + chat -->
                    <p class="viewSchool d-flex"><a href="#" class="col-6">View Profile</a> <a href="#"
                            class="col-6">Chat</a></p>
                </div>
            </div>
        </div>



    </div>



</div>