<app-header></app-header>

<div class="theme-three">

<!--hero banner start-->
<div class="hero-banner">
    <div class="hero-content">
  <div class="custom-container">
   <div class="row">
     <div class="col-md-9">
            <h1>Redefining Career Discovery</h1>
            <p>The first ever Future Readiness Summit<br>across 10 cities in india</p>
            <a href="javascript:void(0);" (click)="registration()" class="d-inline-block custom-secondary-btn">Register now</a>
          </div>
     </div>
   </div>
   <div class="sponsorShip">
      <span class="sessionPartner">Session Partner</span>
      <span><img src="assets/images/city-tour/amrita-banner.png" alt="amrita logo" class="img-fluid"></span>
      <span><img src="assets/images/city-tour/dalham-white.png" alt="dalham logo" class="img-fluid"></span>
      <!-- <span><img src="assets/images/city-tour/dice.png" alt="DICE logo" class="img-fluid"></span> -->
      <span><span><img src="assets/images/city-tour/jain-logo.png" alt="Jain logo" class="img-fluid"></span></span>
    </div>
  </div>

</div>
<!--hero banner end-->

<!--about tour city start-->
<div class="about-tour-city p-t-100 p-b-100">
<div class="custom-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="m-b-60 about-heading"><span>About</span> Future readiness summit</h2>
      <p>In this growing age of technology and advancement, the world is gearing up for massive change and upgradation. It is not the same as it was 10 years back and hence we are sure that the future needs us to be prepared. To address the need of skilled professionals that will be created by the jobs of the future, Great Place to Study has started a special initiative. Here school counselors, principals and industry experts will be coming under one roof to discuss emerging career options and how to prepare the next generation for the challenge. </p>

    </div>
  </div>

  <div class="row object-outcome p-t-100">
      <div class="col-md-10 offset-md-1">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="col-md-12">
                    <h2 class="m-b-60 about-heading">Objectives<br> & Outcomes</h2>
                </div>
                <div class="col-md-12 col-lg-8 offset-lg-2">
                    <ul>
                        <li>The summit will enable the school counselors to discuss the changing trends of the professional world and forthcoming job options in both STEM and non-STEM category.</li>
                          <li>It shall also introduce them to the upcoming and novel methodology of Psychometric Test that is based on positive psychology.  </li>
                      </ul>
                </div>
              </div></div>

            <div class="col-md-12 col-lg-6">
<ul>
  <li>The summit will also enable the counselors to discuss the changing trend of the career options among the students and new careers in both STEM & Non-STEM.</li>
  <!-- <li>Scheduled to start from 11th Nov till 13th Dec the summit is aimed at impacting more than 70000+ students across 10 cities.</li> -->
  <li>Introduce them to upcoming and new methodology of psychometric test i.e. based on positive psychology.</li>
</ul>

            </div>
          </div>
      </div>
    </div>

</div>
</div>
<!--about tour city end-->

<!--city and date start-->
<div class="city-date p-b-100">
  <div class="custom-container">
    <div class="row">
      <div class="col-md-12 text-center m-b-60"><h3 class="about-heading text-center">City & Dates</h3></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-0">
        <div class="calendar-box">
          <h2>December <span>2019</span></h2>
          <div class="calendar-content">
              <table class="table" cellspacing="10">
                  <thead>
                    <tr>
                        <th class="weekend">Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th class="weekend">Sat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="weekend">1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td class="weekend">7</td>
                    </tr>
                    <tr>
                        <td class="weekend">8</td>
                        <td>9</td>
                        <td><span class="delhi">delhi</span>10 <span class="completed">Completed</span></td>
                        <td>11</td>
                        <td>12</td>
                        <td><span class="chandigarh">Chandigarh</span>13 <span class="completed">Completed</span></td>
                        <td class="weekend">14</td>
                      </tr>
                      <tr>
                          <td class="weekend">15</td>
                          <td>16</td>
                          <td>17</td>
                          <td><span class="jaipur">Jaipur</span>18 <span class="completed">Completed</span></td>
                          <td>19</td>
                          <td>
                            <span class="bhopal">Bhopal</span>20 <span class="completed">Completed</span></td>
                          <td class="weekend">21</td>
                        </tr>
                        <tr>
                            <td class="weekend">22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td class="weekend">28</td>
                          </tr>
                          <tr>
                              <td class="weekend">29</td>
                              <td>30</td>
                              <td>31</td>
                              <td class="empty"></td>
                              <td class="empty"></td>
                              <td class="empty"></td>
                              <td class="empty"></td>
                            </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-0">
          <div class="calendar-box">
              <h2>January <span>2020</span></h2>
              <div class="calendar-content">
                  <table class="table" cellspacing="10">
                      <thead>
                        <tr>
                            <th class="weekend">Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th class="weekend">Sat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="empty"></td>
                          <td class="empty"></td>
                          <td class="empty"></td>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                        </tr>
                        <tr>
                            <td class="weekend">5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td><span class="mumbai">mumbai</span>9 <span class="scheduled">Scheduled</span></td>
                            <td>10</td>
                            <td class="weekend">11</td>
                          </tr>
                          <tr>
                              <td class="weekend">12</td>
                              <td><span class="ahmedabad">ahmedabad</span>13 <span class="scheduled">Scheduled</span></td>
                              <td>14</td>
                              <td>15</td>
                              <td>16</td>
                              <td><span class="hyderabad">Hyderabad</span>17 <span class="scheduled">Scheduled</span></td>
                              <td class="weekend">18</td>
                            </tr>
                            <tr>
                                <td class="weekend">19</td>
                                <td>20</td>
                                <td>21</td>
                                <td><span class="chennai">chennai</span>22 <span class="scheduled">Scheduled</span></td>
                                <td>23</td>
                                <td>24</td>
                                <td class="weekend">25</td>
                              </tr>
                              <tr>
                                  <td class="weekend">26</td>
                                  <td><span class="bangalore">Bangalore</span>27 <span class="scheduled">Scheduled</span></td>
                                  <td>28</td>
                                  <td>29</td>
                                  <td>30</td>
                                  <td><span class="pune">Pune</span>31 <span class="scheduled">Scheduled</span></td>
                                  <td class="empty"></td>
                                </tr>
                      </tbody>
                    </table>

                </div>
            </div>

      </div>

      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-0 mt-5">
        <div class="calendar-box">
            <h2>February <span>2020</span></h2>
            <div class="calendar-content">
                <table class="table" cellspacing="10">
                    <thead>
                      <tr>
                          <th class="weekend">Sun</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                          <th class="weekend">Sat</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="empty"></td>
                        <td class="empty"></td>
                        <td class="empty"></td>
                        <td class="empty"></td>
                        <td class="empty"></td>
                        <td class="empty"></td>
                        <td>1</td>
                      </tr>
                      <tr>
                          <td class="weekend">2</td>
                          <td><span class="dehradun">Dehradun</span>3 <span class="scheduled">Scheduled</span></td>
                          <td>4</td>
                          <td>5</td>
                          <td><span class="kolkata">Kolkata</span>6 <span class="scheduled">Scheduled</span></td>
                          <td>7</td>
                          <td class="weekend">8</td>
                        </tr>
                        <tr>
                            <td class="weekend">9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td class="weekend">15</td>
                          </tr>
                          <tr>
                              <td class="weekend">16</td>
                              <td>17</td>
                              <td>18</td>
                              <td>19</td>
                              <td>20</td>
                              <td>21</td>
                              <td class="weekend">22</td>
                            </tr>
                            <tr>
                                <td class="weekend">23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                              </tr>
                    </tbody>
                  </table>

              </div>
          </div>

    </div>

    </div>
  </div>
</div>
<!--city and date end-->


<!--agenda start-->
<div class="agenda p-t-100 p-b-100">
  <div class="custom-container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class=" about-heading m-b-60">Agenda</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center border-right p-l-0">
          <div class="agenda-box">
            <h3>Registration & Tea</h3>
            <p>The summit begins at 9.00 AM.</p>
          </div>
          <div class="agenda-box">
              <h3>Thriving Index Workshop</h3>
              <p>A workshop by Talent Enterprise to all the attendees on positive psychology</p>
            </div>
            <div class="agenda-box">
                <h3>Workshop</h3>
                <p>Workshop for attendees to explain emerging career, by industry veterans. </p>
              </div>

        </div>
        <div class="col-md-4 text-center border-right">
            <div class="agenda-box">
                <h3>Keynote</h3>
                <p>Former Founder President - FLAME University
                    | Co-founder - DALHAM Foundation</p>
              </div>
              <div class="agenda-box">
                  <h3>Future of Jobs</h3>
                  <p>Session by acclaimed corporate representative.</p>
                </div>
                <div class="agenda-box">
                    <h3>Quiz for Counselors</h3>
                    <p>A short quiz for counselors to evaluate their understanding of new age careers.</p>
                  </div>

        </div>
        <div class="col-md-4 text-center p-r-0">
            <div class="agenda-box">
                <h3>New Age Career Discovery</h3>
                <p>Introduction to new age career discovery tool by
                    Founder & CEO - Great Place to Study</p>
              </div>
              <div class="agenda-box">
                  <h3>Lunch</h3>
                  <p>Break for lunch at 1 PM.</p>
                </div>
                <div class="agenda-box">
                    <h3>CONCLUSION</h3>
                    <p>A small photo session and certificate distribution.</p>
                  </div>

        </div>
      </div>
  </div>
</div>
<!--agenda start-->


<!--regisration section start-->
<div class="cityTourRegistration" id="cityTourRegistration">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 registration-form">
      <h3>REGISTRATION</h3>
      <form #cityReg = "ngForm" (ngSubmit) = "cityTourRegistration(cityReg.value)" id="cityReg">
        <div class="alert alert-success" *ngIf="msg">
          Thank you for registering with us. We will get back to you soon.
        </div>
        <div class="alert alert-danger" *ngIf="error">
          <ul>
          <li *ngFor="let val of error">{{val}}</li>
          </ul>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name='name' required placeholder="Your Name" ngModel >
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name='email' required placeholder="Your Email Id" ngModel >
          </div>
        <div class="form-group">
             <input type="text" class="form-control" name="school" required placeholder="School Name" ngModel>
            </div>
            <div class="form-group">
                <!-- <input type="text" class="form-control" name="city" required placeholder="City" ngModel> -->
                <select name="city" class="form-control"  ngModel>
                  <option hidden value="" disabled selected>Select City</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Bhopal">Bhopal</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Jaipur">Jaipur</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Mumbai">Mumbai</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="contact" required placeholder="Contact No" ngModel>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="noofguest" required placeholder="No Of Guest" ngModel>
              </div>
              <div class="form-group">
                 <input type="submit" class="d-block custom-secondary-btn"  id="ctregbtn" value="Register Now" >
                </div>
                <!-- <div class="form-group text-center">
                   <a href="#" class="d-block custom-primary-btn download">Download Summit Details</a>
                  </div> -->
      </form>
    </div>
    <div class="col-lg-7 registration-image"></div>
  </div>
</div>
</div>
<!--regisration section end-->

<!--our speaker start-->
<div class="custom-container p-t-100 p-b-100">
  <div class="row">
    <div class="col-xl-12">
      <div class="our-speaker">
        <div class="row">
            <div class="col-md-12 text-center m-b-60"><h3 class="about-heading text-center">Our Speakers</h3></div>
            
            <div class="col-lg-4 col-md-6 spaker-box speaker-10">
              <a href="javascript:void(0);" class="speaker-content">
                <div class="title">
                <h3>Vivek Mansukhani</h3>
                  <p>Head - The Institute of International Education</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 spaker-box speaker-11">
              <a href="javascript:void(0);" class="speaker-content">
                <div class="title">
                <h3>Zulfi Ali</h3>
                  <p>Creative Director and Academic Head of JD South</p>
                </div>
              </a>
            </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-1">
            <a href="javascript:void(0);" class="speaker-content">
              <div class="title">
              <h3>Aakash Sethi</h3>
                <p>CEO Quest Alliance</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-2">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Amrita Sadarngini</h3>
                <p>Regional Director, South Asia India & South Asia Liaison Office, University of Edinburgh</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-3">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Angela Roye</h3>
                <p>Founder-Principal of Angela Roye's Child Development Center</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 spaker-box speaker-4">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Deepika Burman</h3>
                <p>Heads Asia Pacific Operations at the Talent Enterprise</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-5">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Indira J Parikh</h3>
                <p>Founder President of FLAME University</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-6">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Radhika Punshi</h3>
                <p>Co-Founder and Managing Director at The Talent Enterprise.</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 spaker-box speaker-7">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Sandeep Saraswal</h3>
                <p>Manager, Outreach - South Asia at The College Board</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-8">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Shalini Nambiar</h3>
                <p>Education Consultant</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-9">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Vikram Badhwar</h3>
                <p>Founder & MD - Syngrity</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-12">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Anand Shenoy</h3>
                <p>Chairman (Admissions) at Amrita Vishwa Vidyapeetham</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 spaker-box speaker-13">
            <a href="javascript:void(0);" class="speaker-content">
                <div class="title"> <h3>Imran Kapadia</h3>
                <p>Cheif Digital Officer - DICE</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--our speaker end-->



<!--support section start-->
<div class="support">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 support-image"></div>
          <div class="col-lg-5 support-content">
              <h3>For Updates</h3>
            <a href="https://twitter.com/Gptsglobal" target="_blank" class="twitter"><img src="assets/images/city-tour/twitter.jpg" alt="twitter"></a>
            <p>Follow us on Twitter to get regular updates on
                <span>FUTURE READINESS SUMMIT</span>
                <a href="https://twitter.com/Gptsglobal" target="_blank" class="twitter">@GPTSGlobal</a>
                <span class="d-inline-block ml-3">#GPTS</span>
              </p>
            </div>
        </div>
      </div>
</div>
<!--support section end-->

<!--partner logo start-->
<div class="partner-logo p-t-100 p-b-100">
    <div class="custom-container">
       <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
          <img src="assets/images/city-tour/skills-logo.png" alt="Skills-logo" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 text-center"><img src="assets/images/city-tour/amrita-logo.png" class="amrita-logo img-fluid" alt="amrita-logo"></div>
        <div class="col-lg-4 col-md-4 text-center"><img src="assets/images/city-tour/dalham-logo.png" alt="dalham-logo" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <!--partner logo end-->

  
<!--testimonial start-->
<div class="testimonial pb-80 pt-80">
  <div class="custom-container">
  <div  class="row">
    <div class="col-md-12 text-center mb-4"><h3 class="about-heading text-center">Client Testimonial</h3></div>
  </div>
  <div class="custom-container" data-aos="fade-up" data-aos-duration="1000">
    <ngb-carousel config="config">
        <ng-template ngbSlide id="slideOne">          
            <div class="carousel-caption2 text-center">
                <p>It was great attending “The Future Readiness Summit” organized by The Great Place to Study.
                  Attending the summit was not only an eye opener for me as a career counselor as I was introduced to
                  new emerging careers, also it was a delight for me to know how personalized programs can cater
                  to each child’s interest and capabilities and how it can cater to fresh blood need of “never heard
                  before” emerging roles and profiles.</p>
                  <p>The icing on the cake was indeed a power packed speech from Mr. Shekhar Bhattacharjee.</p>
                  <p>I would like to thank GPTS for not only arranging such informative summit but also for their wonderful
                    contribution in education space.<br>More power to you GPTS!</p>
                  <div class="title">
                    <h4>Meghna Gandhi</h4>
                   <p>Career Counselor,<br>Navrachana International School<br>Vadodara</p>
                  </div>
            </div>
        </ng-template>
        <ng-template ngbSlide id="slideTwo">           
            <div class="carousel-caption2 text-center">
                <p>I had the pleasure to attend an interesting seminar by GPTS. It focused on equipping students with 21st
                  century skills. It was well organized, and the speakers were informative and there was good time
                  management. Looking forward to more such seminars in the future.</p>
                <div class="title">
                <h4>Joy Chauhan</h4>
                  <p>
                    Thakur International School, Mumbai</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide id="slideThree">            
            <div class="carousel-caption2 text-center">
                <p>The summit on future readiness counselor program organized by Great Place to Study was very
                  informative and helpful. The speakers were extremely interactive and friendly. A special mention about
                  the session by Ms. Rekha on positive psychology. The session was truly interesting and lot of take
                  away.... Good job team GPTS.</p>
                <div class="title">
                <h4>Lakshmi S Nair</h4>
                  <p>Principal<br>
                    Edify World School, Attapur</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide id="slideFour">            
          <div class="carousel-caption2 text-center">
              <p>All good things start with Great place to study. I was indeed very thrilled and enlightened by the Future
                Readiness Summit held in The Park on 6th of February 2020. The panel of speakers were the chosen
                ones from each facet of life sharing their experiences with educators like us. I am sure this will make a
                huge difference in the way we guide our students henceforth. Thanks to the team of Great Place to Study.</p>
              <div class="title">
                <h4>Jayati Goswami</h4>
                <p>Lakshmipat Singhania Academy<br>
                  Kolkata</p>
              </div>
          </div>
      </ng-template>
      
      <ng-template ngbSlide id="slideFive">            
        <div class="carousel-caption2 text-center">
            <p>I attended the session at Park Hotel. I thoroughly admired the outlook about versatile career opportunities
              and found the speakers quite impressive.</p>
            <div class="title">
              <h4>Rajasree Banerjee</h4>
              <p>DPS Howrah</p>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide id="slideFive">            
      <div class="carousel-caption2 text-center">
          <p>The work shop was a special programme providing a broad overview of the numerous career options available to students of every stream,with an introduction to career planning in new upcoming fields .The inter active workshop,using audio visual aids,assisted principals,directors, counselors of various reputed educational institutions of India to learn how to assists students in identifying career options and appropriate higher education routes for each, thus enabling them determine the steps they need to take to equip themselves for the world of work...Thanks to the team  of Great place to study to enhance our knowledge</p>
          <div class="title">
            <h4>By Dr. Shelly</h4>
            <p>Psychological Counsellor<br>
              Sherwood Convent School, Mohali</p>
          </div>
      </div>
  </ng-template>
    </ngb-carousel>
  </div>
</div>
<!--testimonial end-->
</div>

  </div>
