<app-header-two></app-header-two>

<div class="theme-three mt-0">
	<!-- banner section -->
    <div class="faaart_banner dynheader">
        <div class="custom-container">
            <div class="row align-items-middle banner-content leagurSpartanBold">
                <div class="col-lg-8 col-md-10 col-sm-12 col-12 align-middle" data-aos="fade-up" data-aos-duration="1000">
                  <img src="assets/images/faaart/faaart-logo.png" class="img-fluid mb-3">
                	<h1 class="roy_banner_text white_color poppinsFont">Film as<strong>an Art</strong></h1>
                    <p class="latoFont"><strong>Great Place to Study</strong> is giving wings to the imagination of budding filmmakers under the <strong>Great Challenge</strong> initiative with an exclusive film making contest.</p>
                    <a href="javascript:void(0)" (click)="callregModal('faaart')" class="custom-primary-btn latoFont">Register Now!</a>
				</div>
				
            </div>
        </div>
    </div>


 <!-- About Scholarship -->
    <div class="about pt-100 pb-100"  data-aos="fade-up" data-aos-duration="1000">
    	<div class="custom-container text-center">    		
    		<div class="row align-items-center">
    			<div class="col-lg-12">
            <p><span>The best possible way to draw the attention of a budding artist or an aspiring filmmaker<br>is to give them an opportunity to create and showcase their work.</span></p>
            <span class="video-icon d-block mt-3"><img src="assets/images/faaart/video-icon.png" ait="video icon"></span>
    			</div>    			
    			<div class="col-lg-12">
    				<p class="mt-3 weight300">Great Place to Study under their <strong>Great Challenge</strong> initiative have created a film making a contest, for Class 12 students who are passing out of school in 2020 and other <strong>young aspiring film students</strong>. The idea behind creating a filmmaking contest is to generate interest among students wishing to <strong>pursue filmmaking as a career option</strong>.</p>
    			</div>
    		</div>
    	</div>
    </div><!-- About Scholarship -->

<!--objective start-->
<div class="objective pt-100 pb-100">
	<div class="custom-container" data-aos="fade-up" data-aos-duration="1000">
		<div class="row">
      <div class="col-md-12 text-center">
        <h2 class="latoFont heading-title">Objective <span>our aim</span></h2>
      </div>
      <div class="col-md-12 text-center mt-5">
        <p>The objective of <strong>#FAAART contest</strong> and the campaign is to reach out to the maximum number of students interested in the process of <strong>filmmaking</strong>.</p>
      </div>
		</div>
	</div>
</div>

<!--objective end-->
<!--step-process start-->
<div class="step-process pt-100 pb-100">
  <span class="bg-overlay"></span>
		<div class="custom-container"  data-aos="fade-up" data-aos-duration="1000">
			<div class="row">
				<div class="col-md-12 mb-5 pb-3 text-center">
          <h2 class="latoFont heading-title">FAAART Your Way Through! <span>how to apply</span></h2>
				</div>
			</div>
			<div class="row">
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">   <img src="assets/images/faaart/step-one.png" class="img-fluid"> </div>       
        <p>Students need to apply online</p>
        </div>
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">     <img src="assets/images/faaart/step-two.png" class="img-fluid">       </div>       
          <p>5 socially relevant topics will be given from which the student will choose one.</p>
        </div>
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">     <img src="assets/images/faaart/step-three.png" class="img-fluid">       </div>       
          <p>Students will need to fill-up a form on a micro website dedicated to the #FAAART Contest & submit a 500 word script and a 2-minute film on the topic they choose.</p>
        </div>
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">       <img src="assets/images/faaart/step-four.png" class="img-fluid">     </div>       
          <p>Students will be able to upload all their information on the website.</p>
        </div>
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">      <img src="assets/images/faaart/step-five.png" class="img-fluid">      </div>       
          <p>A sample script will be provided on the website.</p>
        </div>
        <div class="col-lg-2 pl-0 pr-0 text-center col-sm-4">
          <div class="step">      <img src="assets/images/faaart/step-six.png" class="img-fluid">      </div>       
          <p>The entries will then be screened with the following weightage- Story: 60% | Direction: 20% | Picture Quality: 10% | Sound Quality: 10%</p>
        </div>
			</div>
		</div>
	</div>
  <!--step-process end-->
  <!--test of talents html start-->
  <div class="test-of-talent pb-0">
    <div class="custom-container">
      <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-12 mb-5 pb-3 text-center">
          <h2 class="latoFont heading-title">The Test of Talent <span>process of evaluation</span></h2>
				</div>
      </div>
      <div class="row mt-3" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-6 pl-0">
          <div class="tot-box box1">
            <p><strong>Top 100 students</strong> will be selected by the jury on the basis of <strong>script and direction</strong>.</p>
          </div>
        </div>
        <div class="col-lg-6 pl-0">
          <div class="tot-box box2">
            <p>These 100 students will then be invited to attend a <strong>10-Day workshop</strong>.</p>
          </div>
        </div>
        <div class="col-lg-6 pr-0">
          <div class="tot-box box3">
            <p>During the workshop, these students will work on <strong>different assignments</strong>. The work completed during this workshop will further be evaluated and <strong>top 10 will be shortlisted</strong>.</p>
          </div>
        </div>
        <div class="col-lg-6 pr-0">
          <div class="tot-box box4">
            <p>There will be a <strong>gala celebration</strong> on the last day of the workshop where eminent personalities
              will be invited and the student films will be showcased in a <strong>screening</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--test of talents html end-->



   <!--movie-master start-->
	<div class="movie-master pt-100 pb-100 d-none">
		<div class="custom-container side" data-aos="fade-up" data-aos-duration="1000">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="row">
            <div class="col-md-12 text-center mb-5 pb-5">
              <h2 class="latoFont heading-title">The Movie Masters <span>jury members</span></h2>
            </div>
          </div>
      <div class="row">
        <div class="col-md-6">
          <div class="master-box">
            <div class="master-pic"><img src="assets/images/faaart/master-01.jpg" class="img-fluid"></div>
            <h3 class="latoFont">anurag kashyap</h3>
            <p>Director  |  Actor  |  Writer</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="master-box">
            <div class="master-pic"><img src="assets/images/faaart/master-02.jpg" class="img-fluid"></div>
            <h3 class="latoFont">rajeev ravi</h3>
            <p>Cinematographer</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="master-box">
            <div class="master-pic"><img src="assets/images/faaart/master-03.jpg" class="img-fluid"></div>
            <h3 class="latoFont">DIBAKAR BANERJEE</h3>
            <p>Director</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="master-box">
            <div class="master-pic"><img src="assets/images/faaart/master-04.jpg" class="img-fluid"></div>
            <h3 class="latoFont">r.balki</h3>
            <p>Writer</p>
          </div>
        </div>
    </div>
        </div>
      </div>
      </div>
	</div>
	<!--movie-master end-->

<!--showdown html start-->
<div class="custom-container pt-100 pb-100">
  <div class="row">
    <div class="col-md-12 text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="latoFont heading-title">The Movie Masters <span>jury members</span></h2>
    </div>
  </div>
  <div class="show-down" data-aos="fade-up" data-aos-duration="1000">
    <span class="left-thumb thumb"></span>
 <div class="show-down-box">
  <div class="row">
    <div class="col-lg-4 text-center">
      <h2 class="poppinsFont">Top 100</h2>
      <p class="poppinsFont">students will be invited to the workshop where they will get to learn the process of filmmaking from experts provided with best infrastructural facilities.</p>
    </div>
    <div class="col-lg-4 text-center borderLeft">
      <h2  class="poppinsFont">Top 10</h2>
      <p class="poppinsFont">students among the 100 shall be given exclusive prizes.</p>
    </div>
    <div class="col-lg-4 text-center borderLeft">
      <h2  class="poppinsFont">screening</h2>
      <p class="poppinsFont">of top 10 films at #FAAART Festival and top 3 students to be <strong>awarded by Karan Johar</strong>.</p>
    </div>
  </div>
 </div>
  <span class="right-thumb thumb"></span>
  </div>
</div>
<!--showdown html end-->

<!--other action html start-->
<div class="other-action pt-60">
  <div class="top-section" data-aos="fade-up" data-aos-duration="1000">
    <img src="assets/images/faaart/other-action-top.png" class="img-fluid">
  </div>
  <div class="some-action pt-100 pb-100">
    <div class="custom-container" data-aos="fade-up" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="heading-title poppinsFont mb-4">Ready for some action?</h2>
          <a href="javascript:void(0);" (click)="callregModal('faaart')" class="custom-primary-btn poppinsFont d-inline-block">Register Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--other action html end-->
	
</div>

    <!--  GREAT CHALLANGE NOTIFICATION MODAL for faaart  -->
   <div class="modal auth-modal fade noback" id="greatChallengeNotify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog noBlue login-modal"  role="document" >  
        <div class="modal-content ">  
            <div class="modal-header">
                <button type="button" class="close" (click)="removeBootstrapModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid removePadding" >
                  <div class="row justify-content-center">
                        <div class="tab-content w-100">
                            <div class="tab-pane active" id="student">
                                <div class=" text-left">                                
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login-dots-reg">
                                        <h3 class="sigin-Head-reg pl-2"><img src="assets/images/common/blue-gpts.png" alt="gpts logo"></h3>
                                        <form #chregform="ngForm" (ngSubmit)="greatChallengeNotify(notify_for,chregform.value)" novalidate>
                                          
                                          <div class="form-group">
                                            <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='name' required placeholder="Your Name" ngModel>
                                          </div>
                                          <div class="form-group">
                                              <input type="email" class="form-control removeBorderRadius formHeight custom-form-control" name='email' required placeholder="Your Email Id" ngModel>
                                            </div>
                                            <div class="form-group">
                                              <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='school_name' required placeholder="School Name" ngModel>
                                            </div>
                                            <div class="form-group">
                                              <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='location' required placeholder="Location" ngModel>
                                            </div>
                                          <div class="form-group">
                                          <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name="contact_no" required placeholder="Contact No" ngModel>
                                          </div>
                                          <div class="form-group mt-4 mb-0">
                                              <input type="submit" class="custom-primary-btn d-flex justify-content-center align-items-center"  value="Notify Me" >
                                          </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>