<!-- body -->
<div id="page-content-wrapper">

  <!-- trending videos -->
  <div class="container-fluid whiteBox">
    <!-- box heading -->
    <div class="row headingBorder d-flex">
      <div class="col-6">
        <p class="headingOne text-uppercase">my favourite</p>
      </div>
      <div class="col-6">

      </div>
    </div>


    <!-- 3 content tab -->
    <div class="row marginFavi">
      <div class="col-12">
        <ngb-tabset class="favi" [justify]="currentJustify">

          <ngb-tab id="college">
            <ng-template ngbTabTitle>Universities/ colleges</ng-template>
            <ng-template ngbTabContent>
              <!-- set 1 -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>


              </div>
              <!-- set1 ends -->

              <!-- set2 -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <p class="verticalCertified text-center text-uppercase">Certified</p>
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>


              </div>
              <!-- set2 ends -->

              <!-- set3 -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <!-- <p class="verticalCertified text-center text-uppercase">Certified</p> -->
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <!--  <p class="verticalCertified text-center text-uppercase">Certified</p> -->
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox d-flex col-12 overflHidden">
                    <!-- logo -->
                    <div class="col-5 collegeRightBr">
                      <a href="#" class="collegeFaviHeart"><i class="fa fa-heart"></i></a>
                      <img src="assets/images/common/bethel-logo-vertical-color.png"
                        class="img-fluid collegeFaviLogo displayCenterTab" alt="image">
                    </div>

                    <!-- rating -->
                    <div class="col-7 remove-padding">
                      <p class="gptsRating text-center">Great Place To Study Rating</p>
                      <!-- <p class="verticalCertified text-center text-uppercase">Certified</p> -->
                      <!-- circle graph -->
                      <div class="displayCenterTab">
                        <div class="second"> <strong class="secondGraph">5</strong> </div>
                      </div>
                      <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                          class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                    </div>
                  </div>
                </div>


              </div>
              <!-- set3 ends -->

              <!-- button -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">
                <div class="col-12">
                  <a href="#" class="btn greenLoadBtn">load more</a>
                </div>
              </div>


            </ng-template>
          </ngb-tab>
          <ngb-tab title="Courses">
            <ng-template ngbTabContent>
              <!-- set 1 -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">
                <!-- left side -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox whiteBoxTwo">
                    <!-- b1 -->
                    <div class="d-flex col-12 overflHidden">
                      <!-- logo -->
                      <div class="col-7 collegeRightBr">
                        <!-- college logo -->
                        <img src="assets/images/common/bethel-logo-vertical-color.png" class="img-fluid coursesLogo"
                          alt="image">
                        <!-- college name -->
                        <p class="courseCollegeName">Bachelor in Mass Communication</p>
                        <!-- course -->
                        <p class="courseName">USC School of Cinematic Arts</p>
                        <!-- location -->
                        <p class="courseLocation">Southern California, USA</p>
                        <!-- duration -->
                        <p class="courseDuration">4 years | Fulltime</p>

                      </div>

                      <!-- rating -->
                      <div class="col-5 remove-padding">
                        <p class="gptsRating text-center">Great Place To Study Rating</p>
                        <p class="verticalCertified text-center text-uppercase">Certified</p>
                        <!-- circle graph -->
                        <div class="displayCenterTab">
                          <div class="second"> <strong class="secondGraph">5</strong> </div>
                        </div>
                        <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                            class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                            class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                      </div>
                    </div>
                    <!-- b2 -->
                    <div class="col-12 d-flex borderTopGrey remove-padding">
                      <!-- shortlist -->
                      <div class="col-7 d-flex">
                        <a href="#" class="courseFavi col"><i class="fa fa-heart"></i></a>
                        <a href="#" class="shortlist col">Shortlist</a>
                        <a href="#" class="compare col">Compare</a>

                      </div>
                      <!-- add to common app -->
                      <div class="col-5 remove-padding">
                        <a href="#" class="btn gradientAddBtn">Apply</a>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- right side -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                  <div class="whiteBox collegeWhiteBox whiteBoxTwo">
                    <!-- b1 -->
                    <div class="d-flex col-12 overflHidden">
                      <!-- logo -->
                      <div class="col-7 collegeRightBr">
                        <!-- college logo -->
                        <img src="assets/images/common/bethel-logo-vertical-color.png" class="img-fluid coursesLogo"
                          alt="image">
                        <!-- college name -->
                        <p class="courseCollegeName">Bachelor in Mass Communication</p>
                        <!-- course -->
                        <p class="courseName">USC School of Cinematic Arts</p>
                        <!-- location -->
                        <p class="courseLocation">Southern California, USA</p>
                        <!-- duration -->
                        <p class="courseDuration">4 years | Fulltime</p>

                      </div>

                      <!-- rating -->
                      <div class="col-5 remove-padding">
                        <p class="gptsRating text-center">Great Place To Study Rating</p>
                        <p class="verticalCertified text-center text-uppercase">Certified</p>
                        <!-- circle graph -->
                        <div class="displayCenterTab">
                          <div class="second"> <strong class="secondGraph">5</strong> </div>
                        </div>
                        <p class="text-center removeMarginBottom"> <i class="fa fa-star goldStar"></i> <i
                            class="fa fa-star goldStar"></i> <i class="fa fa-star goldStar"></i> <i
                            class="fa fa-star goldStar"></i> <i class="fa fa-star greyStar"></i> </p>
                      </div>
                    </div>
                    <!-- b2 -->
                    <div class="col-12 d-flex borderTopGrey remove-padding">
                      <!-- shortlist -->
                      <div class="col-7 d-flex">
                        <a href="#" class="courseFavi col"><i class="fa fa-heart"></i></a>
                        <a href="#" class="shortlist col">Shortlist</a>
                        <a href="#" class="compare col">Compare</a>

                      </div>
                      <!-- add to common app -->
                      <div class="col-5 remove-padding">
                        <a href="#" class="btn gradientAddBtn">Apply</a>
                      </div>
                    </div>

                  </div>
                </div>




              </div>
              <!-- set1 ends -->
              <!-- button -->
              <div class="row d-xl-flex d-lg-flex d-md-flex videoMarginTop padLftRgt">
                <div class="col-12">
                  <a href="#" class="btn greenLoadBtn">load more</a>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

  </div>
  <!-- trending videos -->









</div>