<app-header></app-header>

<div *ngIf="loggedIn && contentLoaded || !loggedIn && contentLoaded">

  <div class="theme-three">
    <!-- banner section -->
    <div class="career-library-back dynheader">
      <div class="custom-container banner-height">
        <div class="row">
          <div class="col-lg-6 col-12 text-center text-lg-left">
            <h2 class="text-big">Redefine Career Success</h2>
            <p class="text-macro"></p>
          </div>
          <div class="col-lg-6 col-12 text-center text-lg-right">
            <img src="assets/images/theme-three/banner/career-library.svg"
              class="img-fluid bannerImgSub banner-icon-position" alt="img">
          </div>
        </div>
      </div>
    </div>

    <!-- latest from career -->
    <div class="gray-background">
      <div class="custom-container section-padding">
        <!-- r1 -->
        <div class="row margin-bottom68">
          <div class="col-12 text-center">
            <h3 class="font-size50 custom-text-light margin-btm36">Latest from the Career Library</h3>
            <p class="orange-text sub-text font-color33">See the insights on</p>
          </div>
        </div>
        <!-- r2 -->
        <div class="row justify-content-center">
          <!-- video -->
          <div class="col-xl-5 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="white-border-video margin-bottom68">
              <div class="embed-responsive embed-responsive-16by9"  (click)="stopAllVid('video-one')">
                <!-- removed this "big-video-container" class from here-->
                <vg-player class="embed-responsive-item">
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>
                  <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    <vg-scrub-bar [vgSlider]="true">
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video [poster]="latestVideo.video_thumb" id="video-one" [vgMedia]="media" [src]="latestVideo.video"
                    #media class="videoClass"></video>
                </vg-player>
              </div>
            </div>
            <!-- title -->
            <h3 class="font-size30 font-color33 custom-text-light">{{latestVideo.title}}</h3>
            <p class="orange-text text-macro">{{latestVideo.name}}</p>
            <p class="text-macro font-color6f margin-top30">{{latestVideo.about}}</p>
          </div>
          <!-- para + video -->
          <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 removePadding responsive-margin-top">
            <!-- s1 -->
            <div class="d-xl-flex d-md-flex margin-bottom44 flex-wrap">
              <div class="col-xl-6 col-lg-6  col-md-6  col-sm-12 col-12 margin-bottom44 ">
                <h2 class="font-color33 font-size30 custom-text-light margin-bottom16">Get Inspired by Industry Giants
                </h2>
                <p class="orange-text text-macro">Watch One of Our Videos Now!</p>
                <p class="text-small font-color34 margin-top38">Watch beginners, professionals and legends of various
                  industries share their experiences and invaluable insights with the Video Library. It’s time to take
                  your
                  first step and dive into a world of exciting career profiles.</p>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom44"
                *ngFor="let data of greatMindsArr | slice: 0:3">
                <div class="embed-responsive embed-responsive-16by9 " (click)="stopAllVid('video'+data.video_id)">
                  <!-- remove this "video-container" class from here -->
                  <vg-player class="embed-responsive-item">
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                      <vg-scrub-bar [vgSlider]="true">
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                      </vg-scrub-bar>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                      <vg-mute></vg-mute>
                      <vg-volume></vg-volume>
                      <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video  [poster]="data.video_thumb" id="video{{data.video_id}}" [src]="data.video" [vgMedia]="media" #media
                      class="videoClass"></video>
                  </vg-player>
                </div>

                <!-- whitebox for video with heart -->
                <div class="whiteBoxVideo">
                  <p class="text-macro" [title]=data.video_title>{{data.video_name}}</p>
                  <p class="font-size14">{{data.designation}}</p>
                  <p *ngIf="this.loggedIn" class="text-right heartPosition" [class.inactive]="!data.fav"
                    (click)="addToFav(data.video_id, $event, data.fav)"><i class="fa fa-heart-o"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- r3 -->
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="orange-text font-size30 custom-text-light">Register with us to watch a range of interesting
              videos</h3>
            <button (click)="openSignupModal()"
              class="d-inline-block custom-secondary-btn margin-top30">Register</button>
          </div>
        </div>
      </div>
    </div>

    <!-- blue background 3 points -->
<!-- <div class="career-blue-bg">
      <div class="custom-container section-padding">
        <div class="row justify-content-center">
          <div class="col text-center responsive-margin-bottom">
            <h3 class="white-color font-size60 custom-text-light">200+</h3>
            <p class="text-macro white-color">Career Videos</p>
          </div>
          <div class="col text-center responsive-margin-bottom">
            <h3 class="white-color font-size60 custom-text-light">Cinematic</h3>
            <p class="text-macro white-color">Videos of Career Streams</p>
          </div>
          <div class="col text-center responsive-margin-bottom">
            <h3 class="white-color font-size60 custom-text-light">Professional</h3>
            <p class="text-macro white-color">Insights from Industry Experts</p>
          </div>
        </div>
      </div>

    </div>  -->


    <!-- scroll video section -->
    <!-- content  -->
    <!-- search filter -->
    <!--<div class="custom-container section-padding blue-search-box">-->
    <div class="custom-container section-padding pb-4">
      <div class="row no-gutters">
        
        <div class="col-12 text-center">
            <h3 class="font-size50 custom-text-light margin-btm36">Explore Career</h3>
          <!--<div class="input-group mb-3">-->
            <!--<ng-select (change)="focusCareer($event.career_id)" class="custom-search-career" [items]="careerList"
              bindValue="career_id" bindLabel="career_name" [searchable]="true" placeholder="Search Career">
            </ng-select>-->
            <!--<div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>-->
          <!--</div>-->
        </div>
    <!-- <div #tagsInputContainer class="col-6 removePadding d-lg-block d-none" (click)="adjustWidth(tagsInputContainer)">
          <div class="input-group mb-3">
            <tag-input [secondaryPlaceholder]="'Type Career'" [(ngModel)]="videoSerachList"
              [onlyFromAutocomplete]="true" [maxItems]='1' (onAdd)="searchVideo(videoSerachList[0])"
              class="custom-input">
              <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="careerList"
                [identifyBy]="'career_id'" [displayBy]="'career_name'" [appendToBody]="false">
              </tag-input-dropdown>
            </tag-input>

          </div>
        </div>  -->

      </div>
    </div>

    <div class="custom-container section_padding">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-center">
    

          <!-- 12 -->
          <a href="javascript:void(0)" class="cl_new_video"  *ngFor="let careeritem of listCareer" (click)="showClusterDive(careeritem.slug)">
            <div class="img_box_purple">
              <img src="{{careeritem.career_icon}}" class="img-fluid">
            </div>
            <div class="whiteBoxVideo d-flex align-items-center justify-content-center height_50">
              <p class="text-macro text-center">{{careeritem.name}}</p>
            </div>
          </a>


        </div>


        <!-- Opening Area -->
        <div class="col-12 d-flex flex-wrap-reverse opening_area_bg" *ngIf="show" id="scrollcluster">
          <div class="col-lg-6 col-12">
            <div class="opening_head">{{pname}}</div>
            <p class="text-small">{{pabout | slice:0:500}}....</p>
            <div class="mt-2 mb-4"><a [routerLink]="['/course', parentSlug]">Know More</a></div>

            <p class="font_18">Click below to explore any of the following career(s)</p>
            <div class="d-flex flex-wrap mt-3">
              <a  class="explore_btn_style" *ngFor="let sublist of subCareerList" [routerLink]="['/course', parentSlug, sublist.sub_career_slug]">{{sublist.sub_career_name}}</a>
            </div>
          </div>

          <div class="col-lg-6 col-md-9 col-12 mx-auto opening_video_padding">
            <div class="white-border-video margin-bottom68">
                        <div class="embed-responsive embed-responsive-16by9">
                            <!-- removed this "big-video-container" class from here-->
                            <vg-player class="embed-responsive-item">
                                <vg-overlay-play></vg-overlay-play>
                                <vg-buffering></vg-buffering>
                                <vg-controls>
                                  <vg-play-pause></vg-play-pause>
                                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                  <vg-scrub-bar [vgSlider]="true">
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                  </vg-scrub-bar>
                                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                                  <vg-mute></vg-mute>
                                  <vg-volume></vg-volume>
                                  <vg-fullscreen></vg-fullscreen>
                                </vg-controls>
                                <video [poster]="exp_video_thumb" [src]="exp_video" [vgMedia]="media" #media
                                  class="videoClass"></video>
                              </vg-player>
                        </div>
                    </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div>
     <div class="custom-container video-conatiner" #videoSetContainer>
        <div class="contentGreyBackground" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div *ngFor="let video of videoList | slice:0:10; i as index" class="row justify-content-center">
            <div class="col-12 margin-bottom44" [id]="'careerId'+video.career_id">
              <h4 class="font-size30 font-color33 custom-text-light text-center">{{video.career_name}}</h4>
            </div>
            video list 
            1 
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let data of video.videolist">
              <div class="embed-responsive embed-responsive-16by9 ">
                 remove this "video-container" class from here 
                <vg-player class="embed-responsive-item">
                  <vg-overlay-play></vg-overlay-play>
                  <vg-buffering></vg-buffering>
                  <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    <vg-scrub-bar [vgSlider]="true">
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video preload="auto" [poster]="data.video_thumb" [vgMedia]="media" [src]="data.video" #media
                    class="videoClass"></video>
                </vg-player>
              </div>

               whitebox for video with heart 
              <div class="whiteBoxVideo">
                <p class="text-macro" [title]=data.video_title>{{data.video_name}}</p>
                <p class="font-size14 ellipsis" [title]="data.designation">{{data.designation}}</p>
                <p *ngIf="this.loggedIn" class="text-right heartPosition" [class.inactive]="!video.fav"
                  (click)="addToFav(video.video_id, $event, fav)"><i class="fa fa-heart-o"></i></p>
              </div>
            </div>

        <div class="col-12 d-flex flex-wrap justify-content-center justify-content-lg-start removePadding marginTopBtmCourseTwo">
          <div *ngFor="let videoObj of video.videolist;index as i" class="col-xl-4 col-lg-4 col-md-6 col-8">
            <div *ngIf="videoObj != undefined">
              <img class="w-100" [src]="videoObj.video_thumb">
            </div>
            <div class="blueBackgroundVideo">
              <h5 class="namevideo">{{videoObj.video_name}}</h5>
              <p class="text-uppercase nameVideoTxt">{{videoObj.designation}}</p>
            </div>
            <div class="text-center">
              <p class="paraThree">| {{videoObj.video_title}} |</p>
            </div>
          </div>
        </div> 
              btn
            <div class="col-12 d-flex justify-content-center border-blue-btm margin-btm137">
              <a [routerLink]="['/course', video.slug]"
                class="d-inline-block custom-secondary-btn margin-top38  margin-top53">Load
                More</a>
            </div>
          </div>
        </div>
      </div> 
    </div> -->

    <!-- do you like to know -->
    <!-- <div class="custom-container section-padding career-library-bubble">
      <div class="swiper-custom-container">
        <div class="row margin-do-you-swiper">
          <div class="col-12 text-center">
            <h4 class="font-size50 custom-text-light">Explore more careers and gain great insights</h4>
          </div>
        </div>
         slider 
        <div class="row">
          <div class="col-12 swiper-custom-container">
            <div *ngIf="careerList.length" class="swiper-container browse-tiles-carousel w-100"
              [swiper]="browseListConfig">
              <div class="swiper-wrapper">
                <div *ngFor="let career of listCareer; i as index" class="text-center swiper-slide new-card">
                  <a class="position-absolute w-100 h-100 cursor-pointer" [routerLink]="['/course',career.slug]"></a>
                  <img [src]="career.career_thumb" class="w-100" alt="image">
                  <p class="sliderBrowse">{{career.name}}</p>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev swiper-button-prev-browse custom-swiper-button">
              <img src="assets/images/static/white-left.svg" alt="image" class="imageLeftIcon">
            </div>
            <div class="swiper-button-next swiper-button-next-browse custom-swiper-button"><img
                src="assets/images/static/white-right.svg" alt="image" class="imageRightIcon"></div>


             <div class="col-3 text-center">
              <img src="assets/images/static/browsecontent.jpg" class="img-fluid" alt="image">
              <p class="sliderBrowse">Travel</p>
            </div> 
          </div>
        </div>
      </div>
    </div> -->

    <!-- footer -->
    <div class="page-footer-section text-center">
      <div class="custom-container">
        <div class="custom-head custom-text-medium custom-text-light footer-text-width">
          Venture into a world that is full of possibilities
        </div>
        <div class="sub-text">
          Register today!
        </div>
        <button (click)="openSignupModal()" class="custom-secondary-btn">
          Get Started
        </button>
      </div>
    </div>

  </div> <!-- theme three ends -->

</div>

