.instiBack {
    background-image: url(../../../assets/images/theme-three/studentBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.widthFooterText {
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
}


.banner-height {
    .row {
        align-items: center;
    }
}

.banner-icon-position {
    position: relative;
    top: 30px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-top-n15 {
    margin-top: -15px;
}

@media (max-width: 1199px) {
    .banner-height {
        .text-macro {
            max-width: 632px;
            margin: auto;
        }
    }
}

@media (max-width: 991px) {
    .remove-padding-bottom {
        padding-bottom: 0;
    }
}


@media (max-width: 600px) {}