<app-header></app-header>

<!-- body -->


<div class="theme-three">
  <!-- banner section -->
  <div class="instiBack dynheader">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Discover uniqueness</h2>
          <p class="text-macro"></p>
        </div>
        <div class="col-lg-6 col-12 text-center text-lg-right">
          <img src="assets/images/theme-three/banner/institue-banner.svg"
            class="img-fluid bannerImgSub banner-icon-position" alt="img">
        </div>
      </div>
    </div>
  </div>

  <div class="alternate-section-padding text-lg-left text-center">
    <!-- sfi -->
    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-lg col-12">
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">School Fulfilment Index</h2>
            <p class="text-macro paraInsitSpacing">School Fulfilment Index (SFI) is designed as a mechanism that helps
              schools take steps towards revolutionising the education system. Taking
              key stakeholders opinion as the focal point, this robust platform evaluates every aspect of the school in
              order to identify areas of strength and refinement. As a transparent platform, the entire process will be
              carried out will the full participation of all stakeholders of the school including students, parents,
              teachers and alumni.
            </p>
            <a routerLink="/sfiwebsite" class="d-inline-block custom-secondary-btn">Read More</a>
          </div>
          <div class="col-md col-12">
            <img src="assets/images/theme-three/sfiInsti.png" class="img-fluid alternate-section-img" alt="image">
          </div>
        </div>
      </div>
    </div>

    <!-- career discovery -->
    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column flex-lg-row">
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/careerInsti.png" class="img-fluid alternate-section-img" alt="image">
          </div>
          <div class="col-lg col-12">
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">Career Discovery &
              Acceleration Platform</h2>
            <p class="text-macro paraInsitSpacing">CDAP is a student engagement
              platform that facilitates career-discovery and college search. The first-ever video streaming platform
              for career's offering world-class cinematic content and detailed insights on various career fields.
              Allowing budding young minds to make the right career choices. Through the platform, students can discover
              their intrinsic abilities, receive counselling to make informed decisions and get inspired by industry
              experts. </p>
            <a class="micro-text link d-block margin-bottom20 margin-top-n15" routerLink="/CDAP"> Know more</a>
            <button class="d-inline-block custom-secondary-btn" (click)="openSignupModal()">Begin Now</button>
          </div>

        </div>
      </div>
    </div>

    <!-- gli -->
    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-lg col-12">
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">Global League Institute Certification</h2>
            <p class="text-macro paraInsitSpacing">Greatness is the ability to constantly learn and evolve. Assessing
              your strengths and weakness is the foundation to become a Great Place To Study. You have the chance to
              find your
              ‘greatness factor’ with the Global League Institute Certification (GLI) by Great Place to Study. The
              process measures student satisfaction on 7 key performance indicators. The data is then processed through
              robust technology, to get a detailed understanding of the impact of your institute’s standards,
              practices and your student satisfaction level.
            </p>
            <a class="micro-text link d-block margin-bottom20 margin-top-n15" routerLink="/glicertification"> Know
              more</a>
            <button class="d-inline-block custom-secondary-btn" (click)="queryModal.openModal()">Get Certified</button>
          </div>
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/gliInsti.png" class="img-fluid alternate-section-img" alt="image">
          </div>
        </div>
      </div>
    </div>

    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column flex-lg-row">
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/studentInsti.png" class="img-fluid alternate-section-img" alt="image">
          </div>
          <div class="col-lg col-12">
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">GPTS Featured</h2>
            <p class="text-macro paraInsitSpacing">As a global pioneer for creating branded content in the education
              sector, we launched a television series, Education Evangelists of India, on higher education institutions
              back in 2012. Today we have 6 intellectual properties, with India's top national channels enabling schools
              and colleges to share their unique stories. GPTS is also an exclusive partner with Forbes India for
              branded content in education and has released more than 7 editions with Forbes Marque.</p>
            <a routerLink="/featuredinstitute" class="d-inline-block custom-secondary-btn">Know More</a>
          </div>

        </div>
      </div>
    </div>

    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-lg col-12">
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">Student Engagement Platform</h2>
            <p class="text-macro paraInsitSpacing remove-padding-bottom">The first Big Data intelligence search
              tool that will allow
              institutions to ‘search, select and enrol’ the right candidate across the globe. Our new age student
              enagagement student platform together with 1st degree visual
              content enables institutions for a seamless experience.
            </p>
            <p class="micro-text link d-block margin-top-n15">Coming Soon</p>
            <!-- <a routerLink="/glicertification" class="d-inline-block custom-secondary-btn">Read More</a> -->
          </div>
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/mediaInsti.png" class="img-fluid alternate-section-img" alt="image">
          </div>
        </div>
      </div>
    </div>


    <div class="section-padding" data-aos="fade-up" data-aos-duration="600">    
      <div class="custom-container alingCenterVer">    
        <div class="row flex-column flex-lg-row">   
          <div class="col-lg col-12">   
            <img src="assets/images/theme-three/nano-laptop.png" class="img-fluid alternate-section-img" alt="image">    
          </div>    
          <div class="col-lg col-12">   
            <h2 class="custom-text-medium custom-text-light headSpacing pb-0 mb-3">Nano Classes</h2>    
            <p class="text-macro paraInsitSpacing">In order give students an edge in highly complex career fields, institutes are offering nano classes that are designed to empower students to make informed decisions about their future. It has been built using expert instructional designs and curriculum to help students understand a particular subject or topic and gain relevant certification from the institute. These 5-7-minute video lessons offer insights into career fields, opening the doors of opportunity for budding young minds to succeed in the world of creative and liberal education.</p>   
              
          <!-- In collaboration with Great Place To Study (the pioneers of the digital Non-STEM world), educational institutions have launched the first-of-its-kind MOOC for Indian universities. -->    
            <a routerLink="/nanoclass" [queryParams]="{tabparam: 'tab-2'}" class="d-inline-block custom-secondary-btn">Know More</a>    
          </div>    
        </div>    
      </div>    
    </div>

  </div>


  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light widthFooterText">
        Schedule a demo

      </div>
      <!-- <div class="sub-text">
        Great Thing happens!
      </div> -->
      <button class="custom-secondary-btn" (click)="queryModal.openModal()">
        We are excited
      </button>
    </div>
  </div>

</div>

<app-query-modal #queryModal></app-query-modal>