<app-header></app-header>

<div class="theme-three">
  <!-- banner section -->
  <div class="dalham-background dynheader">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Our contribution for the betterment of education</h2>
          <!-- <p class="text-macro">At GPTS, we have tools to disrupt the
            education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
        </div>
        <div class="col-lg-6 col-12 text-center text-center">
          <img src="assets/images/theme-three/banner/dalham.svg" class="img-fluid bannerImgSub banner-icon-position"
            alt="img">
        </div>
      </div>
    </div>
  </div>



  <!-- dalham logo -->
  <!-- alternate section -->
  <div class="alternate-section-padding text-lg-left text-center">
    <!-- sfi -->
    <div class="section-padding">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-lg col-12">
            <img src="assets/images/static/dalham-logo.png" class="img-fluid" alt="image" width="212">
            <h2 class="custom-text-medium custom-text-light margin-bottom24">Dalham Foundation</h2>
            <p class="orange-text font-size25 margin-bottom45">Explore unprecedented opportunities in the non-STEM world
              and chart new career paths to success.</p>
            <p class="text-macro paraInsitSpacing">DALHAM is an independent, not-for-profit social enterprise dedicated
              to advance, promote and practice non-STEM education as a lifelong endeavour. The foundation is committed
              to helping students explore their passion and priorities as individuals and identifying their proclivity
              towards domains in non-STEM subjects.
            </p>
            <a href="http://dalhamfoundation.org" class="d-inline-block custom-secondary-btn">Explore Dalham</a>
          </div>
          <div class="col-md col-12">
            <img src="assets/images/theme-three/dalham-laptop.png" class="img-fluid alternate-section-img" alt="image">
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- elements -->
  <div class="section-padding  border-bottom-light bubble-blue-left">
    <div class="custom-container">
    <div class="row margin-bottom96">

      <div class="col text-center">

        <h2 class="custom-text-medium custom-text-light margin-bottom24">Elements of DALHAM</h2>
        <p class="orange-text font-size25">Foundation for creative and liberal education</p>
      </div>
    </div>

    <div class="row justify-content-center dalham-products-wrapper">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <img src="assets/images/theme-three/dart.png" class="img-fluid margin-bottom20" alt="image">
        <p class="font-size25 font-color33 margin-bottom12">D-ART</p>
        <p class="orange-text margin-bottom32">DALHAM – Assessment and Review Tool </p>
        <p class="font-color33 text-small line-height30">DALHAM – Assessment and Review Tool (D-ART) is India’s first
          comprehensive
          examination to enter the undergraduate world of creative and liberal education. The test evaluates 12 facets
          of a student, including emotional response, logical thinking, pattern of thoughts and reasoning. D-ART is now
          accepted by top colleges and universities in India for student enrolment.
        </p>
        <a href="https://www.dalhamfoundation.org/about-dart" class="micro-text link">Learn more</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <img src="assets/images/theme-three/dart.png" class="img-fluid margin-bottom20" alt="image">
        <p class="font-size25 font-color33 margin-bottom12">HFA</p>
        <p class="orange-text margin-bottom32">Human Factor Assessment</p>
        <p class="font-color33 text-small line-height30">The Human Factor Assessment (HFA) is the first analysis tool
          that assesses the emotional and mental wellbeing of an individual. The assessment adopts the science of
          Thematic Apperception to offer insights into a student’s reaction to different stimulus and their perception
          of the world. The test also includes Application Rating, Video SOP and Social Skills Test.
        </p>
        <a href="https://www.dalhamfoundation.org/hfa" class="micro-text link">Learn more</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <img src="assets/images/theme-three/dart.png" class="img-fluid margin-bottom20" alt="image">
        <p class="font-size25 font-color33 margin-bottom12">I-LEP</p>
        <p class="orange-text margin-bottom32">Integrated- Liberal Education Programme</p>
        <p class="font-color33 text-small line-height30">I-LEP is DALHAM Enabled Curriculum for institutions, that
          promises to embed credible values in every individual to create a diverse mindset and produce many leaders in
          virtually every field of human endeavour. The idea is to create diversity in the mindset of every individual
          as a "diverse mindset" is the need of the hour in every space - engineering, medical, accountancy, policy
          making, leadership and so on
        </p>
        <a href="https://www.dalhamfoundation.org/i-lep" class="micro-text link">Learn more</a>
      </div>

    </div>
  </div></div>


  <!-- board of advisors -->
  <div class="section-padding custom-container pt-0">

    <!-- heading -->
    <div class="row">
      <div class="col text-center">

        <h2 class="font-size50 custom-text-light font-color33 margin-bottom24">Board of Advisors</h2>
        <p class="orange-text font-size25 orange-head-width">Dalham - Assessment & Review Tool is
          India's first
          comprehensive examination
          to enter the undergraduate world of creative and liberal education. </p>
        <p class="font-color33 text-small orange-head-width margin-bottom115">The test evaluates 12 facets of a student
          and not just
          logical thinking and
          reasoning. Now accepted by top colleges and universities in India for 2020 enrollment.</p>
      </div>
    </div>
    <!-- advisory -->
    <div class="row justify-content-center margin-bottom96">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="box">
          <img src="assets/images/static/dalham-elements/mashelkar.png" class="img-fluid" alt="image">
          <div class="box-content">
            <h3 class="title">R A Mashelkar</h3>
            <span class="post">Former Director General The Council of Scientific & Industrial Research</span>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ntore veritatis
              et quasi architecto beatae vitae dicta sunt </p>
          </div>
          <ul class="icon">
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <div class="blue-boxy">
            <p class="name">R A Mashelkar</p>
            <p>Former Director General The Council of Scientific & Industrial Research</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="box">
          <img src="assets/images/static/dalham-elements/mohan.png" class="img-fluid" alt="image">
          <div class="box-content">
            <h3 class="title">Mohan Das Pai</h3>
            <span class="post">Chairman, Manipal Global Educationt</span>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ntore veritatis
              et quasi architecto beatae vitae dicta sunt </p>
          </div>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/mohandaspai/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <div class="blue-boxy">
            <p class="name">Mohan Das Pai</p>
            <p>Chairman, Manipal Global Educationt</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="box">
          <img src="assets/images/static/dalham-elements/dutta.png" class="img-fluid" alt="image">
          <div class="box-content">
            <h3 class="title">Mr. Avhijit Dutta</h3>
            <span class="post">Indian filmmaker, Actor, Theatre Director
              and Communications Consultant</span>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ntore veritatis
              et quasi architecto beatae vitae dicta sunt </p>
          </div>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/avijit-dutt/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <div class="blue-boxy">
            <p class="name">Mr. Avhijit Dutta</p>
            <p>Indian filmmaker, Actor, Theatre Director
              and Communications Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="box">
          <img src="assets/images/static/dalham-elements/sinha.png" class="img-fluid" alt="image">
          <div class="box-content">
            <h3 class="title">Pramath Nath Sinha</h3>
            <span class="post">Founding Dean, ISB, Anant National University
              and Ashoka University</span>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ntore veritatis
              et quasi architecto beatae vitae dicta sunt </p>
          </div>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/pramathsinha/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <div class="blue-boxy">
            <p class="name">Pramath Nath Sinha</p>
            <p>Founding Dean, ISB, Anant National University
              and Ashoka University</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="box">
          <img src="assets/images/static/dalham-elements/horvath.png" class="img-fluid" alt="image">
          <div class="box-content">
            <h3 class="title">Virginia Horvath</h3>
            <span class="post">President, State University of New York</span>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ntore veritatis
              et quasi architecto beatae vitae dicta sunt </p>
          </div>
          <ul class="icon">
            <li><a href="https://www.linkedin.com/in/virginia-horvath-05101616/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <div class="blue-boxy">
            <p class="name">Virginia Horvath</p>
            <p>President, State University of New York</p>
          </div>
        </div>
      </div>
    </div>
    <!-- view all -->
    <div class="row">
      <div class="col-12 text-center">
        <a class="d-inline-block custom-secondary-btn" href="/">View All</a>
      </div>
    </div>
  </div>

  <!-- get in touch  -->
  <div class="section-padding custom-container pt-0">
    <div class="row violet-background align-items-end ">
      <div class="col-md-3 col-12">
        <h4 class="font-size50 custom-text-light font-color33 max-width2">Get in Touch</h4>
      </div>
      <div class="col-md-3 col-12">
        <address class="text-macro font-color33">B1-B2, Mohan Cooperative Estate,
          Mathura Road,
          New Delhi 110044, India</address>
      </div>
      <div class="col-md-3 col-12">
        <p class="text-macro font-color33 index-dalham"><i class="fa fa-globe"></i> <a
            href="https://dalhamfoundation.org/" class="text-macro font-color33">www.dalhamfoundation.org</a> </p>
        <p class="text-macro font-color33 index-dalham"><i class="fa fa-envelope"></i> <a
            href="mailto:ask@dalhamfoundation.org" class="text-macro font-color33">ask@dalhamfoundation.org</a></p>
        <p class="text-macro font-color33 index-dalham"><i class="fa fa-phone"></i> +91-11-41023100</p>
      </div>

    </div>
  </div>

  <!-- footer -->

  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        A new India is emerging and with it,
        a new generation of thinkers.


      </div>
      <div class="sub-text">
        <!-- Great Thing happens! -->
      </div>
      <!-- <button (click)="queryModal.openModal()" class="custom-primary-btn">
        Get Certified
      </button> -->

      <a href="https://dalhamfoundation.org/" class="custom-primary-btn" target="_blank">Explore Dalham</a>
    </div>
  </div>


  <app-query-modal #queryModal></app-query-modal>


</div> <!-- theme three ends -->