/* new stylingo */
.certified-school-back {
    background-image: url(../../../assets/images/theme-three/banner/green-orange-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-icon-position {
    position: relative;
    top: 30px;
}

.banner-height {
    .row {
        align-items: center;
    }
}

.margin-btm36 {
    margin-bottom: 36px;
}

.font-size25 {
    font-size: 25px;
}

.custom-margin-weight {
    margin-top: 45px;
    font-weight: 400;
}

.comiMargin {
    margin-top: 4em;
    margin-bottom: 1em;
}

.margiW {
    border-radius: 3px;
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ececec;
    background-color: #fdfdfd;
    margin-bottom: 90px;
    padding: 60px;
    padding-top: 0;
}


.whiteBackFeature {

    padding-top: 42px;
}

.whiteFBg {
    color: #333333;
    font-weight: 300;
    font-size: 15px;
    padding: 23px;
    background: #e7e7e7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-text-width {
    margin: auto;
    margin-bottom: 15px;
    max-width: 700px;
}

/* new stylingo ends */


















































.featureHeadingTwo {
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    padding-top: 2em;
    padding-bottom: 6%;
}

.blueSchoolBg {
    background-image: url(../../../assets/images/static/blueBgSchool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3em;
    padding-top: 2em;
}

.blueIcon {
    img {
        margin-bottom: 10px;
    }

    p {
        color: white;
        font-size: 14px;
        font-weight: 400;
        padding-top: 15px;
    }
}

.featuredBgOne {
    background: url(../../../assets/images/static/pattern.jpg);
    background-size: contain;
    background-position-y: 0em;
    background-repeat: no-repeat;
    background-position: top;
}


.featureHeading {
    font-weight: 400;
    color: #343434;
    font-size: 35px;
    padding-top: 2em;
    padding-bottom: 1em;

    span.orange {
        background: #f4941c;
        color: white;
        font-weight: 600;
        padding: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.fParaOne {
    font-weight: 400;
    font-size: 16px;
    color: #343434;
    margin-bottom: 3em;
    line-height: 28px;
}

.fParaTwo {
    font-weight: 400;
    font-size: 14px;
    color: #343434;
    margin-bottom: 5em;
}

.title {
    text-align: center;
    margin: 9px 10px 10px 6px;
}

.spaceX {
    padding-right: 2.5em;
}

.spaceX {

    img {
        box-shadow: 0px 0px 0px 0px black;
        transition: all 0.3s ease-in-out;
        width: 90%;
    }

    img:hover {
        box-shadow: 0px 5px 30px -20px black;
        transition: all 0.3s ease-in-out;
    }
}

.colCustom {
    flex-grow: 1;
    max-width: 250px;
    margin-top: 2em;
    margin-right: 15px;
    width: 100%;
}

.cOne {
    background: white;
    border: 1px solid #dadada;
    padding-top: 15px;
    position: relative;
    min-height: 285px;
    max-height: 285px;

    img {
        width: 180px;
        padding-bottom: 15px;
    }
}

.cTwo {
    color: #333333;
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 15px;


}


.cThree {
    color: #ff5443;
    font-weight: 300;
    font-size: 16px;
    margin-top: 12px;
}



.bordrTp {


    p {
        padding-top: 10px;
        margin-bottom: 10px;

        i {
            margin-right: 3px;
            color: #dadada;

        }

        .fa.fa-star.goldy {
            color: #f4ac00;
        }
    }
}

.pagination {
    margin-top: 4em;
}



.btn-outline-primary {
    color: #343434;
    border-color: transparent;
    border-radius: 0;
}

.whiteDrop {
    width: 325px;
    background: white;
    text-align: end;
    padding: 7px;
    box-shadow: -1px 3px 9px -9px black;

}

i.fa.fa-sliders {
    transform: rotate(90deg);
    margin-right: 5px;
}

.dropEnd {
    display: inline-flex;
    height: 100%;
    justify-content: flex-end;
    padding-top: 4.5em;
}

.dropdown-menu.show {
    margin-top: 7px;
    border: none;
    box-shadow: -1px 3px 9px -9px black;
    border-radius: 2px;
}

.dropdown button {
    font-size: 14px;
    font-weight: 400;
    color: #696969;
}

.tabFeatuHead {
    color: #333333;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 40px;
    letter-spacing: 0.8px;
    padding-top: 46px;
}

/* == my kungfu == */


@media(max-width: 1200px) {

    .colCustom {
        flex-basis: initial;
        flex-grow: 1;
        max-width: 25%;
        margin-top: 2em;
        margin-right: 15px;
    }
}

@media(max-width: 991px) {

    .colCustom {
        flex-basis: initial;
        flex-grow: 1;
        max-width: 25%;
        margin-top: 2em;
        margin-right: 15px;
    }

}




@media(max-width: 768px) {
    .colCustom {
        flex-basis: auto;
        flex-grow: 0;
        max-width: none;
        margin-top: 2em;
        margin-right: 15px;
        width: 300px;
    }

    .featureHeading {
        padding-bottom: 0em;
        text-align: center;
    }

    .dropEnd {
        justify-content: center;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
}