.collegeTextOne{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 13px;
}

.boxHeading{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 0.86em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.schoolFormControl{
    
    height: 34px;

}

.customSchoollabel{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #546170;
}

.selectWidth{
    width: 94%;
}

.collegeTextTwo{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 11.5px;
}

.customFormGroup{
    margin-bottom: 0;
}

.greenBtn{
    background: #46c38e;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}