<!-- heading -->
<app-header></app-header>

<div class="ratingsContainer">
  <div class="container-fluid whiteBox">
    <!-- box heading -->
    <div class="row headingBorder d-flex">
      <div class="col-6">
        <p class="headingOne text-uppercase">Ratings</p>
      </div>
      <div class="col-6">

      </div>
    </div>


    <!-- = ratings form = -->
    <!-- criteria -->
    <div class="row">
      <!-- heading -->
      <div class="col-12">
        <h3 class="boxHeading">Criteria to apply</h3>
      </div>
      <!-- 3 texts -->
      <div class="col-12 d-xl-flex d-lg-flex d-md-flex">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
          <p class="collegeTextOne">Atleast 3 years into establishment</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
          <p class="collegeTextOne">Catering to UG, PCt, above 12<sup>th</sup> students</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
          <p class="collegeTextOne">Affiliation to state/ CBSE/ ICSE</p>
        </div>
      </div>
    </div>

    <!-- details -->
    <div class="row">
      <!-- heading -->
      <div class="col-12">
        <h3 class="boxHeading">Details</h3>
      </div>
      <!-- input -->
      <div class="col-12 removePadding">

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

          <div class="form-group row customFormGroup">
            <label for="inputPassword" class="col-xl-3 col-form-label text-right customSchoollabel">Institutes
              Registered
              Name</label>
            <div class="col-xl-5 d-xl-flex d-lg-flex d-md-flex removePadding">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <input type="text" class="form-control schoolFormControl">
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <input type="text" class="form-control schoolFormControl">
              </div>
            </div>
          </div>


        </div>

      </div>

      <!-- affiliated -->
      <div class="col-12 removePadding">

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

          <div class="form-group row customFormGroup">
            <label for="inputPassword" class="col-xl-3 col-form-label text-right customSchoollabel">Affiliated
              to</label>
            <div class="col-xl-4 d-xl-flex d-lg-flex d-md-flex">
              <select class="form-control schoolFormControl selectWidth">
                <option>CBSE</option>
              </select>

            </div>
          </div>


        </div>

      </div>

    </div>

    <!-- institutes details -->

    <div class="row">
      <!-- heading -->
      <div class="col-12">
        <h3 class="boxHeading">Institutes Details</h3>
      </div>


      <!-- left -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- s0 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel"></label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <p class="collegeTextTwo">1<sup>st</sup> - 5<sup>th</sup></p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <p class="collegeTextTwo">6<sup>th</sup> - 10<sup>th</sup></p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <p class="collegeTextTwo">10<sup>th</sup> - 12<sup>th</sup></p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- s1 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">No. of
                Students</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- s2 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">No. of
                Parents</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- s3 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">No. of
                Teacher</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <input type="text" class="form-control schoolFormControl">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- right -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Website</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <div class="col-12 removePadding">
                  <input type="text" class="form-control schoolFormControl">
                </div>

              </div>
            </div>


          </div>
        </div>
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Years in
                operation</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <select class="form-control schoolFormControl">
                  <option>29</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>




    </div>

    <!-- head of institutes -->
    <div class="row">


      <!-- left -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- heading -->
        <div class="col-12 removePadding">
          <h3 class="boxHeading">Head of Institute/ Principal's Details</h3>
        </div>
        <!-- s1 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Name</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s2 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword"
                class="col-xl-6 col-form-label text-right customSchoollabel">Designation</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s3 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Email ID</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s4 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Office No</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <input type="text" class="form-control schoolFormControl">
              </div>
            </div>
          </div>

        </div>

        <!-- s5 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Mobile No</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <input type="text" class="form-control schoolFormControl">
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- right -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- heading -->
        <div class="col-12">
          <h3 class="boxHeading">POC Contact Details</h3>
        </div>
        <!-- s1 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Name</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s2 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword"
                class="col-xl-6 col-form-label text-right customSchoollabel">Designation</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s3 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Email ID</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">

                <input type="text" class="form-control schoolFormControl">


              </div>
            </div>
          </div>

        </div>

        <!-- s4 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Office No</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <input type="text" class="form-control schoolFormControl">
              </div>
            </div>
          </div>

        </div>

        <!-- s5 -->
        <div class="col-12 removePadding">
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

            <div class="form-group row customFormGroup">
              <label for="inputPassword" class="col-xl-6 col-form-label text-right customSchoollabel">Mobile No</label>
              <div class="col-xl-6 d-xl-flex d-lg-flex d-md-flex removePadding">
                <input type="text" class="form-control schoolFormControl">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- additional info -->
    <div class="row">
      <div class="col-12">
        <h3 class="boxHeading">Additional Information</h3>
      </div>
      <div class="col-12 removePadding">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

          <div class="form-group row customFormGroup">
            <label for="inputPassword" class="col-xl-3 col-form-label text-right customSchoollabel">Anything unique that
              want to seek feedback on</label>
            <div class="col-xl-9 d-xl-flex d-lg-flex d-md-flex removePadding">

              <textarea class="form-control" cols="90" rows="5"></textarea>

            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- submit button -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button class="btn greenBtn text-uppercase">Submit</button>
      </div>
    </div>




  </div>
</div>