<app-header></app-header>
<div id="page-content-wrapper">
    <!-- == start main code for body == -->
    <!-- search box -->
    <div class="container-fluid whiteBox">
        <div class="row">
            <!-- heading -->
            <div class="col-12">
                <h4 class="text-center searchHead">Search for Mersion Fellowship</h4>
            </div>
            <!-- input -->
            <div class="col-12 d-flex">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12"></div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="form-group">
                    <input type="text" class="form-control customFormSearch" placeholder="Search Career or College by ...">
                    </div>

                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12"></div>
            </div>
            <!-- dropdwon -->
            <div class="col-12 d-flex">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12"></div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex disCenter">

                            <div class="col">
                                    <div ngbDropdown class="d-inline-block">
                                      <button class="btn btn-outline-primary customDropSearchBtn" id="dropdownBasic1" ngbDropdownToggle>Country</button>
                                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button class="dropdown-item">Action - 1</button>
                                        <button class="dropdown-item">Another Action</button>
                                        <button class="dropdown-item">Something else is here</button>
                                      </div>
                                    </div>
                                  </div>
              
                                  <div class="col">
                                          <div ngbDropdown class="d-inline-block">
                                            <button class="btn btn-outline-primary customDropSearchBtn" id="dropdownBasic2" ngbDropdownToggle>Interest</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                              <button class="dropdown-item">Action - 1</button>
                                              <button class="dropdown-item">Another Action</button>
                                              <button class="dropdown-item">Something else is here</button>
                                            </div>
                                          </div>
                                        </div>
              
                                        <div class="col">
                                              <div ngbDropdown class="d-inline-block">
                                                <button class="btn btn-outline-primary customDropSearchBtn" id="dropdownBasic3" ngbDropdownToggle>Duration</button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                                  <button class="dropdown-item">Action - 1</button>
                                                  <button class="dropdown-item">Another Action</button>
                                                  <button class="dropdown-item">Something else is here</button>
                                                </div>
                                              </div>
                                            </div>
              
                                            <div class="col">
                                                  <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-outline-primary customDropSearchBtn" id="dropdownBasic4" ngbDropdownToggle>Full time</button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                                                      <button class="dropdown-item">Action - 1</button>
                                                      <button class="dropdown-item">Another Action</button>
                                                      <button class="dropdown-item">Something else is here</button>
                                                    </div>
                                                  </div>
                                                </div>

                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12"></div>
                    




        </div>
    </div>
    </div>

    <div class="container-fluid whiteBox">
            <!-- box heading -->
            <div class="row headingBorder d-flex">
              <div class="col-6">
                <p class="headingOne text-uppercase">128 result found</p>
              </div>
              <div class="col-6">
                <a href="#" class="editBtn">View full profile</a>
              </div>
            </div>

              <!-- set1 -->
        <div class="row removePadding d-xl-flex d-lg-flex d-md-flex marginRowTp">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p> 
                                <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="whiteHover">
                            <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                    alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                            <div class="col-12 text-center cardWhiteBox">
                                <p class="summerPro">Summer program</p>
                                <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                    cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                    laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                            more</a></p>
                            </div>
                        </div>
                    </div>
            </div>

             <!-- set2 -->
        <div class="row removePadding d-xl-flex d-lg-flex d-md-flex marginRowTp">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p> 
                                <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="whiteHover">
                        <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                        <div class="col-12 text-center cardWhiteBox">
                            <p class="summerPro">Summer program</p>
                            <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                        more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="whiteHover">
                            <div class="col-12 removePadding"> <img src="../../../assets/images/common/uniblackbg.jpg" class="img-fluid"
                                    alt="image" width="100%"> <span class="cardUniversityName">Duke University</span> </div>
                            <div class="col-12 text-center cardWhiteBox">
                                <p class="summerPro">Summer program</p>
                                <p class="summerTxt">Culpa pariatur incididunt consequat nulla. Aliqua fugiat deserunt
                                    cupidatat. Laboris non velit sint aute consequat. Voluptate nostrud ad nulla in. Dolore sed
                                    laboris ad dolor dolore</p>  <p class="text-center disCenter"><a href="#" class="text-uppercase viewMoreBlue text-center">View
                                            more</a></p>
                            </div>
                        </div>
                    </div>
            </div>




    </div>


</div>