<app-header></app-header>
<div id="page-content-wrapper">
    <!-- == start main code for body == -->
    <!-- search box -->
    <!-- <div class="container-fluid whiteBox">
        <div class="row">
            <div class="col-12 d-flex">
                <p class="headingTwo headingTwoAdjust col-xl-1 col-lg-1 col-md-2 col-sm-12 col-12">Search for </p>
                <div class="dropdown collegeOrangeTop  col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                    <button class="btn btn-secondary dropdown-toggle drpDownBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Colleges </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
                </div>
                <div class="form-group  col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <input type="text" class="form-control customSearch" placeholder="Search" /> </div>
            </div>
        </div>
    </div> -->
    <!-- card layout -->
    <div class="container-fluid removePadding">
        <!-- set 1 -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="col-12 removePadding  whiteBox d-xl-flex d-lg-flex d-md-flex">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center"> <img
                            src="assets/images/common/scholarship.png" class="img-fluid circleBorderImage" alt="image">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="col-12">
                            <p class="text-uppercase redClose">Closed</p>
                            <p class="scholarshipName">College Bound Scholarship</p>
                            <p class="scholarshipNumber"><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information
                                Technology</p>
                            <p class="scholarshipText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                        class="fa fa-star starUser"></i></i> Open for National/ International
                                Students</p>
                            <p class="scholarshipText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                        </div>
                        <div class="col-12 text-right">
                            <a href="#" class="text-uppercase knowMoreGreenBtn">Know
                                More</a>

                            <a href="#" class="text-uppercase knowMorePinkBtn">Apply Now</a>
                        </div>





                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="col-12 removePadding  whiteBox d-xl-flex d-lg-flex d-md-flex">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center"> <img
                            src="assets/images/common/scholarship.png" class="img-fluid circleBorderImage" alt="image">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="col-12">
                            <p class="text-uppercase redClose">Closed</p>
                            <p class="scholarshipName">College Bound Scholarship</p>
                            <p class="scholarshipNumber"><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information
                                Technology</p>
                            <p class="scholarshipText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                        class="fa fa-star starUser"></i></i> Open for National/ International
                                Students</p>
                            <p class="scholarshipText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                        </div>
                        <div class="col-12 text-right">
                            <a href="#" class="text-uppercase knowMoreGreenBtn">Know
                                More</a>

                            <a href="#" class="text-uppercase knowMorePinkBtn">Apply Now</a>
                        </div>





                    </div>
                </div>
            </div>
        </div>
        <!-- set 2 -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="col-12 removePadding  whiteBox d-xl-flex d-lg-flex d-md-flex">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center"> <img
                            src="assets/images/common/scholarship.png" class="img-fluid circleBorderImage" alt="image">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="col-12">
                            <p class="text-uppercase redClose">Closed</p>
                            <p class="scholarshipName">College Bound Scholarship</p>
                            <p class="scholarshipNumber"><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information
                                Technology</p>
                            <p class="scholarshipText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                        class="fa fa-star starUser"></i></i> Open for National/ International
                                Students</p>
                            <p class="scholarshipText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                        </div>
                        <div class="col-12 text-right">
                            <a href="#" class="text-uppercase knowMoreGreenBtn">Know
                                More</a>

                            <a href="#" class="text-uppercase knowMorePinkBtn">Apply Now</a>
                        </div>





                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="col-12 removePadding  whiteBox d-xl-flex d-lg-flex d-md-flex">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center"> <img
                            src="assets/images/common/scholarship.png" class="img-fluid circleBorderImage" alt="image">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="col-12">
                            <p class="text-uppercase redClose">Closed</p>
                            <p class="scholarshipName">College Bound Scholarship</p>
                            <p class="scholarshipNumber"><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information
                                Technology</p>
                            <p class="scholarshipText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                        class="fa fa-star starUser"></i></i> Open for National/ International
                                Students</p>
                            <p class="scholarshipText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                        </div>
                        <div class="col-12 text-right">
                            <a href="#" class="text-uppercase knowMoreGreenBtn">Know
                                More</a>

                            <a href="#" class="text-uppercase knowMorePinkBtn">Apply Now</a>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>