/* new stylingo */

.margin-default-adjustment {
    margin-top: 0px
}

.image-size {
    width: 91px;
}

.box-three {
    padding: 42px;
    border-radius: 4px;
    padding-bottom: 28px;
    margin-top: 61px;

    p {
        z-index: 1;
        position: relative;
    }

    &.active-blue {
        box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
        background-color: #e5f5ff;
    }

    &.active-red {
        background-color: #fbf2f3;
        box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    }

    &.active-violet {
        background-color: #e9eafc;
        box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    }

    &.disabled-box {
        background-color: #f0f0f0;
        box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);

        a,
        button {
            border: 1px solid #9d9d9d;
            cursor: not-allowed;
            color: #9d9d9d;
            background: transparent;
        }
    }

    h6 {
        margin-top: 41px;
        margin-bottom: 24px;
    }

    a,
    button {
        margin-top: 34px;
        display: inline-block;
    }

}

.one-number,
.two-number,
.three-number {
    position: relative;
}

.one-number::after {
    content: '';
    background-image: url(../../../assets/images/dashboard-three/one-number.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 172px;
    height: 28vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 95px;
}

.two-number::after {
    content: '';
    background-image: url(../../../assets/images/dashboard-three/two-number.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 172px;
    height: 28vh;
    background-repeat: no-repeat;
    background-position: bottom right;

}

.three-number::after {
    content: '';
    background-image: url(../../../assets/images/dashboard-three/three-number.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 172px;
    height: 28vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 60px;

}

.arrow-position {
    position: absolute;
    transform: rotate3d(12, 12, -1, 150deg);
    top: 45px;
    right: -45px;
    z-index: 1;
}

.arrow-position-bottom {
    position: absolute;
    transform: rotate3d(50, -25, 200, 260deg);
    bottom: -37px;
    right: -45px;
    z-index: 1;
}

.arrow {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.arrow .curve {
    border: 2px solid #4a4e50;
    border-color: transparent transparent transparent #4a4e50;
    height: 220px;
    width: 145px;
    border-radius: 230px 0 0 150px;
}

.arrow .point {
    position: absolute;
    left: 23px;
    top: 190px;
}

.arrow .point:before,
.arrow .point:after {
    border: 1px solid #4a4e50;
    height: 27px;
    content: "";
    position: absolute;
}

.arrow .point:before {
    top: -11px;
    left: -11px;
    transform: rotate(-74deg);
    -webkit-transform: rotate(-74deg);
    -moz-transform: rotate(-74deg);
    -ms-transform: rotate(-74deg);
}

.arrow .point:after {
    top: -20px;
    left: 5px;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}

.white-box {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    background-color: #ffffff;
    position: relative;

    &.violet-gradient {
        background-image: linear-gradient(292deg, #86558e, #bd79c6);

        h5 {
            color: white;
        }

        p {
            color: white;
        }


    }


}

.white-box-image {
    position: relative;

    &.white-box-image::after {
        content: '';
        background-image: url(../../../assets/images/dashboard-three/latest-career.png);
        background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-position: right;
        width: 100%;

    }

}

.margin-bottom49 {
    margin-bottom: 49px;
}

.max-width-one {
    max-width: 423px;
}

.dark-image {
    background-size: cover;
    background-image: url(../../../assets/images/dashboard-three/dark-image.jpg);
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    border-radius: 4px;

}

.box-padding {
    padding: 29px;
    overflow: hidden;
}

.margin-top30 {
    margin-top: 30px;
}

.min-height192 {
    min-height: 192px;
    max-height: 192px;
}

.white-box-image-scope {
    &.white-box-image-scope::after {
        content: '';
        background-image: url(../../../assets/images/dashboard-three/scope.png);
        background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-position: right;
        width: 100%;

    }
}

.margin-bottom23 {
    margin-bottom: 23px;
}

.max-width-two {
    max-width: 252px;
}

.white-image {
    width: 55px;
    height: 100%;
    margin-right: 25px;
}

.max-width-three {
    max-width: 523px;
}

.blue-background {
    background-image: url(../../../assets/images/dashboard-three/blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 635px;
    max-height: 635px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
}

.did-list {
    line-height: 25px;

    li {
        list-style-image: url(../../../assets/images/dashboard-three/list-right.png);
        list-style-position: inside;
        margin-bottom: 22px;
    }
}

.custom-col {
    width: 33%;
}

.margin-bottom16 {
    margin-bottom: 16px;
}

.margin-bottom12 {
    margin-bottom: 12px;
}

.margin-bottom38 {
    margin-bottom: 38px;
}

.margin-bottom45 {
    margin-bottom: 45px;
}

.margin-top91 {
    margin-top: 91px;
}

.line-height25 {
    line-height: 25px;
}

.light-orangeBg {
    border-radius: 2px;
    background-color: #fdf3f2;
    padding: 12px;
    padding-left: 60px;
    width: 100%;

    p {
        padding-left: 30px;
    }
}

.white-box-card {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    background-color: #ffffff;
    padding: 8px;

    img {
        width: 100%;
    }

    div {
        padding: 10px;

        p {
            text-align: center;
        }
    }
}

.margin-btm63 {
    margin-bottom: 63px;
}

/* new stylingo ends */


/* step 2 css */

.blue-bg-career {
    border-radius: 4px;
    background-color: #edf8fa;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    padding: 35px;
}

.margin-bottom26 {
    margin-bottom: 26px;
}

.white-box-step {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    background: white;
    padding: 32px;
}

.white-cdp-box {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    background: white;
    padding: 22px;
    min-height: 240px;
    max-height: 240px;
    position: relative;

    img {
        margin-bottom: 25px;
        margin-top: 25px;
    }
}

.custom-col-cdp {
    max-width: 19%;
    margin-right: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.margin-bottom52 {
    margin-bottom: 52px;
}




.arrow-position-s {
    position: absolute;
    transform: rotate3d(12, 12, -1, 150deg);
    top: -10px;
    right: -72px;
    z-index: 1;
}

.arrow-position-bottom-s {
    position: absolute;
    transform: rotate3d(50, -25, 200, 260deg);
    bottom: -15px;
    right: -75px;
    z-index: 1;

}

.arrow-s {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.arrow-s .curve {
    border: 2px solid #4a4e50;
    border-color: transparent transparent transparent #4a4e50;
    height: 155px;
    width: 145px;
    border-radius: 225px 0 0 155px;
}

.arrow-s .point {
    position: absolute;
    left: 17px;
    top: 132px;
}

.arrow-s .point:before,
.arrow-s .point:after {
    border: 1px solid #4a4e50;
    height: 19px;
    content: "";
    position: absolute;
}

.arrow-s .point:before {
    top: -5px;
    left: -5px;
    transform: rotate(-74deg);
    -webkit-transform: rotate(-74deg);
    -moz-transform: rotate(-74deg);
    -ms-transform: rotate(-74deg);
}

.arrow-s .point:after {
    top: -12px;
    left: 5px;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}

.d-boxy {
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    padding: 39px;
    margin-bottom: 29px;

    &.d-blue {

        background-color: #5473e8;
    }

    &.d-blue-light {
        background-color: #44c6ea;
    }

}

.pink-bg {
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    background-color: #bd79c6;
    padding: 33px;
}

.blog-bg {
    border-radius: 4px;
    background-color: #f4f5f7;
    padding: 35px;
    min-height: 560px;
    overflow-y: auto;

}

.blog-image {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    border: 2px solid white;
    padding: 1px;
    border-radius: 4px;
}

.blog-border-bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    margin-top: 20px;

    &:last-child {
        padding-bottom: 0px;
        border-bottom: 0px solid #d2d2d2;
        margin-top: 20px;
    }
}


/* step 2 css ends */

/* step 3 */

.information-bg {
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.11);
    background-color: #fafafa;
    padding: 22px;
}

.information-txt {


    p {
        margin-bottom: 20px;

        span.col-3 {
            font-weight: 400;
        }
    }
}

.information-txt-two {
    p {
        margin-bottom: 20px;

        span.b-bold {
            font-weight: 400;
            margin-right: 8%;
        }

        span.normal-f {
            font-weight: 300;
            padding-left: 2%;
        }

        &.remove-margin-bottom {
            margin-bottom: 0;
        }
    }
}

.white-box-work {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    background-color: #ffffff;
    padding: 30px;
}

.white-card-box-career {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    background-color: #ffffff;
    max-width: 390px;
    margin: auto;
    padding-bottom: 22px;

    img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-top: -50px;
        border: 2px solid #bdbdbd;
    }
}

.blue-border {
    li {
        background: #def2ff;
        border-top: 1px solid #c1e6ff;
        border-bottom: 1px solid #c1e6ff;
        padding: 19px;
        margin-top: -1px;

        span.p1 {
            display: block;
            font-weight: 400;
        }

        span.p2 {
            display: block;
            font-size: 25px;
        }
    }
}

.max-width-l {
    max-width: 265px;
    margin: auto;
}

.margin-tp-btm {
    margin-top: 13px;
    margin-bottom: 23px;
}

.two-p-border {
    border-bottom: 1px solid #c1e6ff;
    padding-bottom: 15px;
    margin-bottom: 23px;
}

.border-right-blue {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -17px;
        right: auto;
        left: 50%;
        width: 1px;
        height: 145%;
        background: #c1e6ff;
    }

}

.margin-bottom95 {
    margin-bottom: 95px;
}

.blue-round-btn {
    border-radius: 50%;
    padding-top: 17px;
    font-size: 19px;
    background: #e9f8ff;
    width: 60px;
    height: 60px;
    display: block;
    padding-left: 25px;

    i {
        color: #17baff;
    }
}

.white-row-video {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(44, 41, 41, 0.21);
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.2ms ease-in-out;

    &:hover {
        transition: all 0.2ms ease-in-out;
        box-shadow: 0 0 0 0 white;
    }
}

.margin-between-two {
    margin-bottom: 24px;
}

.margin-top50 {
    margin-top: 50px;
}

/* step 3 ends */