.blueGradientHead{
    background: -webkit-linear-gradient(#12e2f9, #0788e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0px;
    padding-top: 0.4em;
  }
  
  .blueGradientPara{
      background: -webkit-linear-gradient(#12e2f9, #0788e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  
  .infoGreyRight{
      color: #d8d8d8;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 0px;
  }
  
  .whiteBoxSchool{
      border-radius: 6px;
  }
  
  .greenGradientHead{
      background: -webkit-linear-gradient(#9be05c, #37b489);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0px;
    padding-top: 0.4em;
  }
  
  .orangeGradientHead{
      background: -webkit-linear-gradient(#f8c755, #f79033);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0px;
    padding-top: 0.4em;
  }
  
  .pinkGradientHead{
      background: -webkit-linear-gradient(#f75699, #fc6b83);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.2em;
    margin-bottom: 0px;
    padding-top: 0.4em;
  }
  
  .greenGradientPara{
      background: -webkit-linear-gradient(#9be05c, #37b489);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  
  .orangeGradientPara{
      background: -webkit-linear-gradient(#f8c755, #f79033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  
  .pinkGradientPara{
      background: -webkit-linear-gradient(#f75699, #fc6b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  
  .schoolSelect {
      width: 100px;
      float: left;
      margin-right: 10px;
      border: 0;
      border-bottom: 1px solid #e6e9ed;
      border-radius: 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      outline: none;
      margin-top: -5px;
      margin-bottom: 0px;
  }
  
  .spanSchoolSort{
      font-size: 13px;
      float: left;
      margin-right: 10px;
      padding-top: 5px;
      font-family: 'Open Sans', sans-serif;
      color: #546170;
  }
  
  .alignRight{
      display: block;
      float: right;
  }
  
  .borderCardSchool{
      border: 1px solid #dadada;
      margin-top: 1em;
      margin-bottom: 1em;
      min-width: 290px;
      max-width: 290px;
      transition: all 0.5s ease-in-out;
  }
  
  .borderCardSchool:hover{
      transition: all 0.5s ease-in-out;
      box-shadow: 0px 3px 28px -9px #000000;
  }
  
  .nameSchool{
      font-family: 'Open Sans', sans-serif;
      color: #546170;
      font-size: 1em;
  }
  
  .classSchool{
      font-family: 'Open Sans', sans-serif;
      color: #919eae;
      font-size: 0.8em;
      margin-bottom: 3px;
  }
  
  .imgProfileSchool{
      width: 125px;
          height: 100%;
          border-radius: 50%;
          margin-top: 1.5em;
          margin-bottom: 1em;
  }
  
  .viewSchool a{
      font-family: 'Open Sans', sans-serif;
      color: #546170;
      font-size: 0.9em;
      padding-top: 2em;
      margin-bottom: 0px;
  }
  
  .viewSchool:after{
      content: ' ';
      width: 2px;
      height: 16px;
      background: #6f6f6f;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 8%;
  }

  .schoolmodalTitle{
    color: #546170;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

.modalWidthSchool{
    width: 45%;
}

.greenBtn{
    background: #46c38e;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}