<!-- top header -->
<app-header></app-header>
<div class="schedule-new-container">

  <!-- create summer program -->
<div class="container-fluid whiteBox">
  <!-- header -->
  <div class="row headingSpacing">
      <div class="col-6">
          <h3 class="boxHeading">create summer program</h3> </div>

          <div class="col-6">
             
          </div>
  </div>

  <!-- offer summer school program -->
  <div class="row d-flex">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="text-center">
        <p class="createHeading">Do you offer Summer School Program</p>

        <!-- button -->
        <div>
          <button class="btn createBtn">Yes</button>
          <button class="btn createBtn">No</button>
        </div>

      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
  </div>

  <!-- programs offered form-->
  <div class="row">
    <!-- heading -->
    <div class="col-12">
      <p class="headProgram">Program(s) Offered</p>
    </div>
    <!-- form -->
    <div class="col-12 d-xl-flex d-lg-flex d-md-slex">

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12"></div>
      <!-- left -->
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label createLabel">Course Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3">
            </div>
          </div>

          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label createLabel">Course Fees</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3">
              </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-form-label createLabel col">Is Certification Offered</label>
                <div class="col-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                      </div>
    
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                          <label class="form-check-label" for="inlineCheckbox2">No</label>
                        </div>
                </div>
              </div>


              <div class="form-group row">
                  <label for="inputEmail3" class="col-form-label createLabel col">Mode of Program</label>
                  <div class="col-12">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">Online</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">In-Campus</label>
                          </div>
    
    
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Industrial</label>
                            </div>    
                  </div>
                </div>


      </div>
      <!-- right -->
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Course Duration</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3">
              </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Course Details</label>
                <div class="col-sm-9">
                  <textarea class="form-control"></textarea>
                 
                </div>
              </div>

              <!-- button -->
              <div class="d-flex justify-content-end">
                  <button class="btn saveBtn">Save</button>
              </div>


      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12"></div>
    </div>
  </div>

</div>

<!-- create summer program ends -->


<!-- create summer progam -->
<div class="container-fluid whiteBox">
  <!-- header -->
  <div class="row headingSpacing">
      <div class="col-6">
          <h3 class="boxHeading">create summer program</h3> </div>

          <div class="col-6">
             
          </div>
  </div>

  <!-- body -->
  <div class="row morePaddingSchedule">
    <div class="col-12 d-xl-flex d-lg-flex d-md-flex borderSchedule">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
      <p class="scheduleText">Schedule an Open Day</p>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
      <p class="scheduleText">6th September, 2018</p>
      <p class="scheduleText">10:15 AM to 5:00 PM</p>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
      <p class="scheduleText">Invitation: 50 students</p>
      <p class="scheduleText">Presented: 36 Students</p>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <p class="scheduleTextPara">Deserunt aute cillum in. Cupidatat elit, in quis aute elit. Nulla commodo dolor sunt Excepteur et. Dolore conse ctetur culpa minim. Excepteur occaecat occaecat id laboris. Irure laborum laboris incididunt cillum. Ut irure ullamco sed magna. Voluptate dolor dolor enim. Qui anim adipiscing culpa. Duis magna eiusmod sit et. Sunt sed ipsum eiusmod. Fugiat laborum elit, ut.</p>
    </div>

  </div>

  <!-- button -->
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <button class="saveBtn">Schedule New</button>
    </div>
  </div>

  </div>


</div>

<!-- create summer program -->
<div class="container-fluid whiteBox">
    <!-- header -->
    <div class="row headingSpacing">
        <div class="col-6">
            <h3 class="boxHeading">create summer program</h3> </div>
  
            <div class="col-6">
               
            </div>
    </div>
  
    <!-- offer summer school program -->
    <div class="row d-flex">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="text-center">
          <p class="createHeading text-center">Do you offer Scholarship</p>
  
          <!-- button -->
          <div>
            <button class="btn createBtn">Yes</button>
            <button class="btn createBtn">No</button>
          </div>
  
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
    </div>
  
    <!-- schedule an open day -->
    <div class="row">
      <!-- heading -->
      <div class="col-12">
        <p class="headProgram">Scholarship Details</p>
      </div>
      
      <div class="col-12 d-xl-flex d-lg-flex d-md-flex">
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Scholarship Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>

              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Scholarship Amount</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3">
                  </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Last Date of Submission</label>
                    <div class="col-sm-9">
                      <input type="date" class="form-control" id="inputEmail3">
                    </div>
                  </div>

                  <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Test Date</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" id="inputEmail3">
                      </div>
                    </div>



        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
            

              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Eligibility Criteria</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="10"></textarea>
                  </div>
                </div>


        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>

      </div>

      <div class="col-12 justify-content-end d-flex">
          <button class="btn saveBtn">Save</button>
      </div>



    </div>
    <!-- schedule and open day end-->
  
</div>

<!-- create summer program ends -->




</div><!-- schedule new container ends -->