<!-- header top-->
<app-header></app-header>

<!-- body -->
<div class="eventsNotificationContainer">
  <div class="container-fluid whiteBox">
    <!-- box heading -->
    <div class="row headingBorder d-flex">
      <div class="col-6">
        <p class="headingOne text-uppercase">Students</p>
      </div>
      <div class="col-6">
        <div class="alignRight">
          <span class="spanSchoolSort">Sort By</span>
          <select class="form-control schoolSelect">
            <option>Class</option>
          </select>
          <select class="form-control schoolSelect">
            <option>Section</option>
          </select>
          <select class="form-control schoolSelect">
            <option>Gender</option>
          </select>
        </div>
      </div>
    </div>

    <!-- card layout -->
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <div class="borderCardSchool text-center">
          <!-- image -->
          <img src="../../../assets/images/common/school-logo.png" class="img-fluid imgProfileSchool"
            alt="student image">
          <!-- grey botton -->
          <div class="greySchoolCard">
            <h6 class="text-center schoolEventHead">College Name</h6>
            <p class="schoolLocation">New Delhi, India</p>
            <button class="btn greenBtn greenBtnPadd" data-toggle="modal" data-target="#myModal">Contact</button>
          </div>
        </div>
      </div>


    </div>


    <!-- contact modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modalWidthSchool">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title schoolmodalTitle">Contact University/ College</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <input type="text" class="form-control" placeholder="Contact Number">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <textarea class="form-control" rows="8" placeholder="Enter your message here"></textarea>
              </div>
            </div>
            <!-- button-->
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <button class="text-uppercase greenBtn">Send</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



  </div>
</div>