<app-header></app-header>
<div class="theme-three">
  <!--top banner section start-->
  <div id="summer-banner">
    <div class="banner-content">
      <h1 class="mb-2">Most advanced summer courses</h1>
      <p class="mb-3">As summer rolls in with lots of sunshine and boring afternoons, Great Place to Study offers a cool new opportunity to upgrade your knowledge!</p>
      <a href="javascript:void(0);" (click)="callregModal()" class="custom-primary-btn register d-inline-block">REGISTER</a>
      <span class="detail d-inline-block"><a href="javascript:void(0)"><img src="assets/images/summer-school/next.png" alt="detail icon"></a></span>
    </div>
  </div>
<!--top banner section end-->

<!--courses list start-->
<div id="courseList" class="pt-60 pb-60">
  <div class="custom-container">  
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-md-12 mb-0 pb-3">
            <h2 class="heading-title"><span>What do you want to do?</span></h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/1.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/1-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Data Science</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Data Science</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/2.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/2-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Gaming</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Gaming</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/3.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/3-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Journalism</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Journalism</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/4.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/4-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Psychology</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Psychology</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/cyber-security-no-hover.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/cyber-security-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Cyber Security</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Cyber Security</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/6.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/6-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Design Thinking</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Design Thinking</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/7.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/7-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">ROBOTICS/ AI</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">ROBOTICS/ AI</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/8.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/8-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Advertising</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Advertising</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/entrepreneurship-no-hover.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/entrepreneurship-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Entrepreneurship</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Entrepreneurship</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 pt-4 pb-3">
            <div class="course-box">
              <div class="img"><img src="assets/images/summer-school/liberal-arts-no-hover.png" class="default img-fluid" alt="course image">
                <img src="assets/images/summer-school/liberal-arts-hover.png" class="img-fluid hover" alt="course image">
              </div>
              <div class="couse-content text-center">
                <h3 class="mb-3">Liberal Arts</h3>
              </div>
              <div class="couse-content hover text-center">
                <h3 class="mb-0">Liberal Arts</h3>
                <a href="javascript:void(0)" class="custom-primary-btn view-course d-inline-block">View Course</a>
                <p class="mt-0">Starting May 2020</p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
<!--courses list end-->

<!--experience outcome html start-->
<div id="experienceOutCome" class="pb-60">
   <div class="custom-container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <h2 class="heading-title mb-4"><span>Experience & Outcome</span></h2>
            <p class="mb-4">All live classes will start from 20th May 2020. The online summer programme ends with you getting a certificate and an enriching intellectual experience.</p>
            <p class="mb-4"><strong>FEES STARTING<br>INR 4000/- + GST</strong></p>
            <a href="javascript:void(0);" (click)="callregModal()" class="custom-primary-btn register d-inline-block">REGISTER</a>
          </div>
          <div class="col-lg-6  col-md-6">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/networking.png" alt="Personal Mentoring icon"></div>
                <p>Personal Mentoring</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/social-media.png" alt="Personal Mentoring icon"></div>
                <p>30 Students per Batch</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/chat-bubble.png" alt="Personal Mentoring icon"></div>
                <p>Live Session</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/sports-and-competition.png" alt="Personal Mentoring icon"></div>
                <p>Learning Benchmark</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/education.png" alt="Personal Mentoring icon"></div>
                <p>Most Diverse Topic</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-6 list">
                <div class="icon"><img src="assets/images/summer-school/seo-and-web.png" alt="Personal Mentoring icon"></div>
                <p>Completion Certificate from the University</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
<!--experience outcome html end-->
</div>







    <!--  GREAT CHALLANGE NOTIFICATION MODAL for faaart  -->
    <div class="modal auth-modal fade noback" id="greatChallengeNotify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog noBlue login-modal"  role="document" >  
          <div class="modal-content ">  
              <div class="modal-header">
                  <button type="button" class="close" (click)="removeBootstrapModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="container-fluid removePadding" >
                    <div class="row justify-content-center">
                          <div class="tab-content w-100">
                              <div class="tab-pane active" id="student">
                                  <div class="text-left">                                
                                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login-dots-reg">
                                          <h3 class="sigin-Head-reg"><img src="assets/images/common/blue-gpts.png" alt="gpts logo"></h3>
                                          <form #chregform="ngForm" (ngSubmit)="greatChallengeNotify(chregform.value)" novalidate>
                                            
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='first_name' required placeholder="First Name" ngModel>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='last_name' required placeholder="Last Name" ngModel>
                                                </div>
                                              </div>
                                            </div>

                                           <div class="row">
                                             <div class="col-md-6">
                                              <div class="form-group">
                                                <input type="email" class="form-control removeBorderRadius formHeight custom-form-control" name='email' required placeholder="Your Email Id" ngModel>
                                              </div>
                                             </div>
                                             <div class="col-md-6">
                                              <div class="form-group">
                                                <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name="contact_no" required placeholder="Mobile Number" ngModel>
                                                </div>
                                             </div>
                                           </div>
                                          
                                           
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                            
                                                    <select  class="form-control removeBorderRadius formHeight custom-form-control" name="course" ngModel>
                                                      <option value=""disabled selected>Interested For:</option>
                                                      <option value="1">Psychology</option>
                                                      <option value="2">Advertising</option>
                                                      <option value="3">Journalism</option>
                                                      <option value="4">Data Science</option>
                                                      <option value="5">Gaming</option>
                                                      <option value="6">Design Thinking</option>
                                                      <option value="7">Script Writing</option>
                                                      <option value="8">Robotics & AI</option>
                                                     
                                                    </select>
                                                  </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                              </div>
                                            
                                            <div class="row">
                                              <div class="col-md-12 text-center">
                                                <div class="form-group mt-4 mb-0">
                                                  <input type="submit" class="custom-primary-btn d-flex justify-content-center align-items-center"  value="Submit" >
                                              </div>
                                              </div>
                                            </div>
                                            
                                           
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>