.errorHead{
    margin-top: 4em;
    letter-spacing: 0.6px;
}

.orangeError{
    color: #ff7a21;
    font-size: 1em;
    line-height: 20px;
}

.greenBtnError{
    padding: 10px 60px;
    margin: auto;
    margin-top: 30px;
    background: #46c38e;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 3em;
}

.blackFont{
    color: black;
    font-size: 1em;
}