<div class="empty-myfav">
  <div class="container-fluid whiteBox text-center">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="errorHead text-uppercase">My Favourites</h2>
      </div>

    </div>

    <!-- image -->
    <div class="row">
      <!-- image -->
      <div class="col-12 d-flex justify-content-center">
        <img src="assets/images/common/empty-myfav.jpg" class="img-fluid" alt="image">
      </div>
    </div>

    <!-- orange text -->
    <div class="row">
      <div class="col-12">
        <p class="orangeError">Add your favourite videos in this section by clicking on the <span class="blackFont">'
          </span><i class="fa fa-heart"></i><span class="blackFont"> '</span> icon</p>
      </div>
    </div>

    <!-- black text  -->
    <div class="row">
      <Div class="col-12">
        <p>You can bookmark multiple videos and watch them anytime in MY FAVOURITE section.</p>
      </Div>
    </div>



  </div>



</div>