<app-header></app-header>
<!-- theme three -->

<div class="theme-three">

  <!-- banner section -->
  <div class="sfi-back dynheader">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Be the agents of change</h2>
          <!-- <p class="text-macro">At GPTS, we have tools to disrupt the education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
        </div>
        <div class="col-lg-6 col-12 text-center text-center">
          <img src="assets/images/theme-three/banner/sfi.svg" class="img-fluid bannerImgSub banner-icon-position"
            alt="img">
        </div>
      </div>
    </div>
  </div>

  <!-- out solutions -->
  <div class="solution-background">
    <div class="custom-container section-padding">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-size50 custom-text-light mb-4">Our Solutions</h3>
          <p class="orange-text sub-text font-color33 margin-btm97">School Fulfilment Index</p>
        </div>
      </div>
      <!-- tab content -->
      <div class="row ">
        <div class="col-12">
          <ngb-tabset class="sfi-tab-conatiner" type="pills" [justify]="'center'">
            <ngb-tab title="School Fulfilment Index">
              <ng-template ngbTabContent>
                <div class="row align-items-center">
                  <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12 col-12">
                    <img src="assets/images/theme-three/sfi-newlogo.png" class="img-fluid margin-bottom17" alt="image">
                    <h4 class="font-size50 font-color33 custom-text-light margin-bottom53">What is SFI</h4>
                    <p class="sub-text font-color-blue">Our mission is to ensure quality education and experience</p>
                    <p class="text-small font-color33 ">The most important asset of an education institution is its
                      students. Student satisfaction is key to ensuring quality education and delivering an exceptional
                      learning experience. The Student Fulfilment Index (SFI) measures student, parent and teacher
                      satisfaction level on 6 Key Performance Indicators, through robust technology and machine
                      learning,
                      to offer schools, colleges and universities a comprehensive understanding of the impact of their
                      education policies and practices. Our objective is to motivate institutions to maintain high
                      standards of education, helping them earn a badge of honour and receive recognition across
                      national
                      and international platforms.

                    </p>
                  </div>

                  <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                    <img src="assets/images/theme-three/sfi-laptop.png" class="img-fluid laptopImage" alt="image">
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Ratings</ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-12">
                    <h4 class="tabSfihead">The Ratings</h4>
                    <p class="tabSfipara">Our mission is to
                      ensure quality education and experience for all students. Through in-depth research and persistent
                      efforts towards creating a blueprint for successful educational institutions, GPTS is aggressively
                      moving towards bringing a significant change in the sphere of education. SFI is a revolutionary
                      system that takes students’ feedback and converts it into useful analytics to help institutions
                      understands their USP’s and capitalise on them. We have identified 6 Key Performance Indicators
                      (KPIs) that are essential to determine overall student experience and shed light on all aspects of
                      an institution, including teaching methodologies, infrastructure, student-centric facilities and
                      more.</p>
                  </div>

                  <div class="col-12 text-center">
                    <img src="assets/images/static/star-circle.svg" class="img-fluid  laptopImageStar" alt="image">
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Key Parameters</ng-template>
              <ng-template ngbTabContent>
                <!-- set one -->
                <div class="row justify-content-center">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/le.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Learning Experience</h5>
                    <p class="kpiParaTab">Enriching and valuable learning experiences can shape a child’s future; hence
                      it
                      is vital that students get guidance and support that can help them steer their careers in the
                      right
                      direction. Good student-teacher relationship can lay the foundation for students to become
                      responsible citizens.</p>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/HF.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Happiness Factor</h5>
                    <p class="kpiParaTab">Happy students make a happy school. Student happiness is fundamental to
                      establishing children as future leaders. Happy students are more engaged and interested in
                      changing
                      the future of the country for the better.</p>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/ec.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Extra Co-curricular</h5>
                    <p class="kpiParaTab">Emphasis on extra-curricular activities is vital to a child’s overall growth.
                      Special programmes initiated by schools/colleges can help students explore their interests and
                      become lifelong learners.</p>
                  </div>


                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/infra.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Infrastructure</h5>
                    <p class="kpiParaTab">A good learning environment is directly related to ensuring good student
                      experience on campus. KPIs give universities a roadmap to identify areas of improvements in
                      infrastructure like ensuring students have access to good libraries and safety on campus among
                      others.</p>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/loc.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Life on Campus</h5>
                    <p class="kpiParaTab">Education institutes need to provide a safe and thought-provoking environment
                      for students. They need to ensure that children have an opportunity to explore their academic,
                      social and extracurricular interests.
                    </p>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <img src="assets/images/theme-three/sfi-icons/psyc.png" class="img-fluid kpiIcon" alt="image">
                    <h5 class="kpiHead">Psychological wellbeing</h5>
                    <p class="kpiParaTab">The mental and emotional state of a child is fragile. We need to do all that
                      we
                      can to ensure that they are happy. GPTS is focusing on assessing a child’s psyche to determine if
                      the child is mentally healthy and happy.</p>
                  </div>


                </div>

              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>


  <!-- join the league -->
  <div class="sfi-league-bubble">
  <div class="custom-container section-padding  ">
    <div class="row margin-bottom109">
      <div class="col-12 text-center">
        <h3 class="font-size50 custom-text-light">Join the league of certified schools</h3>
      </div>
    </div>
    <!-- 3 more section -->
    <div class="row d-xl-flex d-lg-flex">
      <div class="col-xl-3 col-md-6 col-sm-12 col-12">
        <img src="assets/images/static/work.png" class="img-fluid iconsfi" alt="image">
        <p class="sfiMeasureHead">Student Satisfaction Survey</p>
        <p class="sfiMeasurePara">The Student Satisfaction Survey has a set of questions based on the predefined key
          indicators that define the happiness quotient of students. Our web-based application, SSI, analysis student
          feedback to offer valuable insights on student perception of the institution while recognising its USPs.</p>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 col-12">
        <img src="assets/images/static/family.png" class="img-fluid iconsfi" alt="image">
        <p class="sfiMeasureHead">Parent Satisfaction Survey</p>
        <p class="sfiMeasurePara">Participation of parents in the survey is critical in understanding their concerns and
          seeking their opinion on the education practices adopted by the institution. Parent feedback can help schools
          and colleges adopt positive measures to enhance a student’s learning experience and ensure their holistic
          development.</p>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 col-12">
        <img src="assets/images/static/w2.png" class="img-fluid iconsfi" alt="image">
        <p class="sfiMeasureHead">Teacher Satisfaction Survey</p>
        <p class="sfiMeasurePara">Teachers have an objective approach to all the aspects of an educational institute.
          Educator are in the perfect position to give advice and rationally disseminate best teaching practices and
          policies. Teacher Satisfaction Survey will help better understand student life from an educator’s perspective.
        </p>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12 col-12">
        <img src="assets/images/theme-three/alumni.png" class="img-fluid iconsfi" alt="image">
        <p class="sfiMeasureHead">Alumni Satisfaction Survey</p>
        <p class="sfiMeasurePara">Alumni are in the best position to highlight the strengths and identify areas of
          improvement of an education institution as they have first-hand experienced the impact of the school’s
          policies. Utilising the insights provided by the alumni, a report will be generated to help hone in on
          effective teaching practices.</p>
      </div>
    </div>
    <!-- row -->
    <div class="row margin-top100">
      <div class="col-12 text-center">
        <button (click)="queryModal.openModal()" class="d-inline-block custom-secondary-btn">Get Certified</button>
      </div>
    </div>
  </div></div>

  <!-- how it works -->
  <div class="alternate-section-padding text-lg-left text-center">



    <!-- 360 degree -->

    <div class="section-padding pt-0">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/sfi-step1.png" class="img-fluid alternate-section-img" alt="image">
          </div>
          <div class="col-md col-12">
            <p class="text-uppercase violet-tag">step 1</p>
            <h2 class="custom-text-medium custom-text-light headSpacing">360 degree Satisfaction
              Survey
            </h2>

            <p class="text-macro paraInsitSpacing">A satisfaction survey for students, teachers, parents and alumni student
              experience on campus. KPIs give universities a roadmap to identify and understand areas of improvements in infrastructure like ensuring students have access to
              good libraries and updated courses among others.</p>

          </div>

        </div>
      </div>
    </div>

    <!-- analysis -->
    <div class="section-padding">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column flex-lg-row">
          <div class="col-lg col-12">
            <p class="text-uppercase violet-tag">step 2</p>
            <h2 class="custom-text-medium custom-text-light headSpacing">Analysis Report</h2>
            <p class="text-macro paraInsitSpacing">On the completion of the report, the industry experts
              provide the school with a detailed analysis and a comparative
              study on areas of improvement. The analysis report offers
              a plan of action that focuses on creating an ideal education model.</p>

          </div>
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/sfi-step2.png" class="img-fluid alternate-section-img" alt="image">
          </div>


        </div>
      </div>
    </div>

    <!-- final -->
    <div class="section-padding">
      <div class="custom-container  alingCenterVer">
        <div class="row alingCenterVer flex-column-reverse flex-lg-row">
          <div class="col-md col-12">
            <img src="assets/images/theme-three/sfi-step3.png" class="img-fluid alternate-section-img" alt="image">
          </div>
          <div class="col-lg col-12">
            <p class="text-uppercase violet-tag">step 3</p>
            <h2 class="custom-text-medium custom-text-light headSpacing">Final Rating
            </h2>
            <p class="text-macro paraInsitSpacing">After considering all the Key Performing
              Indicators (KPIs)
              of an education institute, a panel of specialists calculates
              the final score based on student feedback.
              The score is determined by the overall happiness quotient
              of the students in all key sectors of the institution.
            </p>

          </div>

        </div>
      </div>
    </div>

    <!-- report -->
    <div class="section-padding">
      <div class="custom-container alingCenterVer">
        <div class="row flex-column flex-lg-row">
          <div class="col-lg col-12">
            <p class="text-uppercase violet-tag">step 4</p>
            <h2 class="custom-text-medium custom-text-light headSpacing">Report and Insights</h2>
            <p class="text-macro paraInsitSpacing">On the completion of the report, the industry experts
              provide the school with a detailed analysis and a comparative
              study on areas of improvement. The analysis report offers
              a plan of action that focuses on creating an ideal education model.</p>

          </div>
          <div class="col-lg col-12">
            <img src="assets/images/theme-three/sfi-step4.png" class="img-fluid alternate-section-img" alt="image">
          </div>


        </div>
      </div>
    </div>

    <!-- certification -->
    <div class="section-padding">
      <div class="custom-container alingCenterVer">
        <div class="row alingCenterVer flex-column-reverse flex-lg-row">
          <div class="col-md col-12">
            <img src="assets/images/theme-three/sfi-step5.png" class="img-fluid alternate-section-img" alt="image">
          </div>
          <div class="col-lg col-12">
            <p class="text-uppercase violet-tag">step 5</p>
            <h2 class="custom-text-medium custom-text-light headSpacing">Certification Award
            </h2>
            <p class="text-macro paraInsitSpacing">Schools/universities that score well in the student satisfaction
              survey
              are honoured with the Great Place to Study certificate at a prestigious
              annual event at the House of Commons, London. The certification
              ceremony features an exclusive guest list that includes top academicians,
              educationists, ministers, Lords and business barons from India and the UK.
            </p>

          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="section-padding custom-container remove-padding-top">
    <div class="row ">
      <div class="col-12 text-center">
        <h4 class="font-size50 font-color33 custom-text-light margin-bottom88">Certified School List</h4>
      </div>
    </div>

    <!-- ng tabset -->
    <ngb-tabset type="pills" justify='center' class="border-margin">
      <ngb-tab title="SCHOOLS">
        <ng-template ngbTabContent>
          <!-- slider repeat -->
          <div class="row d-xl-flex d-lg-flex custom-swiper-wrapper">
            <div #sfiSchool class="swiper-container blogs-carousel w-100 pb-2" [swiper]="sfiConfig">
              <div class="swiper-wrapper">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/mayo.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Mayo College</p>
                    <p class="collegeLocation">Rajasthan</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/assam.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Assam Valley</p>
                    <p class="collegeLocation">Assam</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/rajkumar.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Rajkumar College</p>
                    <p class="collegeLocation">Rajkot</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/george.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">St. Georges College</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/punjab.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Punjab Public SChool</p>
                    <p class="collegeLocation">Punjab</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/sherwood.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Sherwood College</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/pauls.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">St. Pauls</p>
                    <p class="collegeLocation">Darjeeling</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/hyderabad.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Hyderabad Public SChool</p>
                    <p class="collegeLocation">Hyderabad</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/wynberg.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Wynberg Allen</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev swiper-button-prev-popular">
              <img src="assets/images/static/white-left.svg" alt="image" class="imageLeftIcon">
            </div>
            <div class="swiper-button-next swiper-button-next-popular"><img src="assets/images/static/white-right.svg"
                alt="image" class="imageRightIcon">
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <!-- <ngb-tab>
        <ng-template ngbTabTitle>HIGHER-ED</ng-template>
        <ng-template ngbTabContent>
         
          <div class="row d-xl-flex d-lg-flex custom-swiper-wrapper">
            <div class="swiper-container blogs-carousel w-100 pb-2" [swiper]="popularConfig">
              <div class="swiper-wrapper">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/mayo.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Mayo College</p>
                    <p class="collegeLocation">Rajasthan</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/assam.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Assam Valley</p>
                    <p class="collegeLocation">Assam</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/rajkumar.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Rajkumar College</p>
                    <p class="collegeLocation">Rajkot</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/george.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">St. Georges College</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/punjab.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Punjab Public SChool</p>
                    <p class="collegeLocation">Punjab</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/sherwood.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Sherwood College</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/pauls.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">St. Pauls</p>
                    <p class="collegeLocation">Darjeeling</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGrey"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/hyderabad.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Hyderabad Public SChool</p>
                    <p class="collegeLocation">Hyderabad</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 swiper-slide">
                  <div class="borderCollege">
                    <img src="assets/images/static/featured/wynberg.png" class="img-fluid collegeIcon" alt="image">
                    <p class="collegeName">Wynberg Allen</p>
                    <p class="collegeLocation">Uttrakhand</p>
                    <p class="starSize"><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGold"><i class="fa fa-star"></i></span><span class="starGold"><i
                          class="fa fa-star"></i></span><span class="starGold"><i class="fa fa-star"></i></span><span
                        class="starGrey"><i class="fa fa-star"></i></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev swiper-button-prev-popular">
              <img src="assets/images/static/white-left.svg" alt="image" class="imageLeftIcon">
            </div>
            <div class="swiper-button-next swiper-button-next-popular"><img src="assets/images/static/white-right.svg"
                alt="image" class="imageRightIcon">
            </div>
          </div>
        </ng-template>
      </ngb-tab> -->

    </ngb-tabset>
  </div>


  <!-- view report -->
  <div class="custom-container section-padding remove-padding-top">
    <div class="row violet-background">
      <div class="col-12">
        <h3 class="font-size50 custom-text-light margin-btm36">View Sample Report</h3>
        <p class="font-size23 font-color33">Discover your strengths and areas of refinement</p>
        <a href="assets/images/theme-three/report/sfi-sample-report.pdf" download="sfi-sample-report"
          class="click-text">Click here</a>
      </div>
    </div>
  </div>


  <!-- footer -->
  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        Stand tall among the finest institutes.
      </div>
      <div class="sub-text">
        Great days are just ahead of you!
      </div>
      <button (click)="queryModal.openModal()" class="custom-secondary-btn">
        Join the great league
      </button>
    </div>
  </div>
</div>
<!-- theme three -->


<app-query-modal #queryModal></app-query-modal>