<app-header></app-header>

<div class="theme-three">

  <!-- banner section -->
  <div class="cdap-background dynheader">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Discover your dream career</h2>
          <!-- <p class="text-macro">At GPTS, we have tools to disrupt the education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
        </div>
        <div class="col-lg-6 col-12 text-center text-lg-right">
          <img src="assets/images/theme-three/banner/cdap.svg" class="img-fluid bannerImgSub banner-icon-position"
            alt="img">
        </div>
      </div>
    </div>
  </div>




  <!-- cdap career discovery -->
  <div class="gray-background">
    <div class="section-padding custom-container">
      <div class="row">
        <!-- image -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-center">
          <img src="assets/images/theme-three/cdap-career.jpg" class="img-fluid" alt="image">
        </div>
        <!-- text -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-12">
          <h3 class="font-size50 custom-text-light margin-bottom34">Career Discovery & Acceleration Platform</h3>
          <p class="text-macro font-color34 margin-bottom30">CDAP is a student
            engagement platform
            that facilitates career discovery and college search. It
            brings the world class cinematic content with verified information on various career fields and helps you to
            make the right career choice.</p>
          <p class="text-macro font-color34">CDAP is one stop solution for the students right from the start of their
            decision making years till they end up in a college. It serves as a platform that gives students everything
            they need beginning from discovering their career's on the basis of their inherent strengths, counselling
            and video career library to inspire them to take the best decision on the basis of verified information.</p>
        </div>
      </div>
      <!-- orange -->
      <div class="row margin-top97">
        <div class="col-12 light-orange-back">
          <p class="font-size30 font-color33 d-height"><img src="assets/images/theme-three/cdap-quote.png" alt="image"
              class="col-1">
            <span class="col-11">A visual content platform designed and engineered for you to navigate the
              ever-evolving career
              streams and learn about the dynamics of these careers.</span></p>
        </div>
      </div>
    </div>

    <!-- how does it work -->
    <div class="custom-container section-padding pt-0">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-size50 custom-text-light margin-btm30">How Does it work?</h3>
        </div>
      </div>
      <!-- flow chart line -->
      <div class="row">
        <div class="col-12">
          <div class="home_ourApproach_body">
            <img class="home_ourApproach_body_image web" src="assets/images/theme-three/cdap-desktop.png"
              alt="career discovery">
            <img class="home_ourApproach_body_image mobile" src="assets/images/theme-three/cdap-mobile.png" alt="cdap">
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  This journey starts here
                </div>
                <div class="content">
                  Enrol into CDAP by siging up and building your profile.
                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Fill in personal details

                </div>
                <div class="content">
                  Fill your personal information to get access to your dashboard and enter the world of opportunities.

                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Get access to your dashboard

                </div>
                <div class="content">
                  The dashboard is tailor made basis your profile and information.
                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Take the Career Discovery Assessment
                </div>
                <div class="content">
                  Take the 15 minute positive psychology based career assesment to learn about top 5 recommended
                  career's.
                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Learn about your strengths and check your career reports
                </div>
                <div class="content">
                  Know your Thriving index score and learn better about your possible careers
                </div>
              </div>
            </div>

            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Explore your career options
                </div>
                <div class="content">
                  Dig deep into career library and it's visual content to learn about your suitable careers.
                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Notifications on fresh content
                </div>
                <div class="content">
                  Get regular updates on any content that will help you understand your career better.
                </div>
              </div>
            </div>
            <div class="home_ourApproach_body_descriptionWrapper">
              <div class="descriptionItem">
                <div class="title">
                  Discover your best fit college
                </div>
                <div class="content">
                  Upcoming
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- button -->
      <div class="row margin-top120">
        <div class="col-12 text-center">
          <button class="custom-secondary-btn" (click)="openSignupModal()">
            Start Here
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- cdap feature -->
  <div class="section-padding custom-container">
    <div class="row margin-btm135">
      <div class="col-12 text-center">
        <h3 class="font-size50 custom-text-light ">CDAP Features</h3>
      </div>
    </div>

    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-6 col-12 text-center">
        <img src="assets/images/theme-three/discover-cdap.jpg" class="img-fluid" alt="image" width="437px">
        <p class="font-size30 font-color33 margin-top40 head-width-one">Take the Career Discovery Assessment</p>
        <p class="text-macro font-color33 margin-top40 head-width-one">Get a step closer to what fits you the best and
          take the opportunity to
          opt for the career that matches your passion.</p>
       
      </div>
      <div class="col-md-6 col-12 text-center">
        <img src="assets/images/theme-three/learn-cdap.jpg" class="img-fluid" alt="image" width="437px">
        <p class="font-size30 font-color33 margin-top40 head-width-one">Explore your dreams through videos</p>
        <p class="text-macro font-color33 margin-top40 head-width-one">Watch videos where industry experts share their
          experiences and
          guide you to make the right career choice.</p>
        <!-- <button class="d-inline-block custom-secondary-btn margin-top47" (click)="openSignupModal()">Start Now</button> -->
      </div>
      
    </div>
    
    <div class="row justify-content-center">
       
        <div class="col-md-6 col-12 text-center">
          <img src="assets/images/cdap/edieo.png" class="img-fluid" alt="image" >
          <p class="font-size30 font-color33 margin-top40 head-width-one">EDIEO</p>
          <p class="text-macro font-color33 margin-top40 head-width-one">Short, interesting and highly informative, Edieo is a research-led edutainment platform that offers inspiring videos on various careers, educational institutions, destinations to study abroad in order to make an informed decision.</p>
          <!-- <button class="d-inline-block custom-secondary-btn margin-top47" (click)="openSignupModal()">Start Now</button> -->
        </div>
        <div class="col-md-6 col-12 text-center">
            <img src="assets/images/cdap/discover-college.png" class="img-fluid" alt="image" style="height:347px" >
            <p class="font-size30 font-color33 margin-top40 head-width-one">Discover College</p>
            <p class="text-macro font-color33 margin-top40 head-width-one">Find educational institutes that offer programmes to suit your interests and passion. CDAP allows you to simplify and navigate the complex task of choosing the right college; it empowers you to follow your dreams.</p>
           
          </div>
        
      </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-12 col-12 text-center">
            <button class="d-inline-block custom-secondary-btn margin-top47" (click)="openSignupModal()">Start Now</button>
        </div>
    </div>
  </div>

  <!-- video section -->
  <div class="light-grey">
    <div class="section-padding custom-container">
      <div class="row">
        <div class="col-12 text-center">
          <!-- <p class="font-size25 orange-text text-center">
          </p> -->
          <p class="font-size50 font-color33 max-width897">A step closer to your dreams</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-12"></div>
        <div class="col-lg-8 col-12 ">

          <div class="white-border-video margin-bottom68 max-width-video">
            <div class="embed-responsive embed-responsive-16by9 " *ngIf="homeVideoUrl.length">
              <!-- removed this "big-video-container" class from here-->
              <vg-player class="embed-responsive-item">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar [vgSlider]="true">
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [poster]="homeVideoThumb" [src]="homeVideoUrl" [vgMedia]="media" #media
                  class="videoClass"></video>
              </vg-player>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-12"></div>
      </div>
    </div>
  </div>

  <!-- benefits -->
  <div class="section-padding custom-container">
    <div class="row margin-btm36">
      <div class="col-12 text-center">
        <h3 class="font-size50 custom-text-light ">Benefits</h3>
      </div>
    </div>
    <!-- center -->
    <div class="row justify-content-center">

      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">
        <div class="light-red-background text-center">
          <img src="assets/images/theme-three/positive-technology.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">Positive
            Psychology
            Enabled Career Assessment</p>


          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span class="col-9 font-size25 benefits-head removePadding"></span>
          </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
            assessment which
            identifies inherent strengths of youth and map them to careers where they can be the best possible versions
            of themselves. Our tool helps youth to thrive and not just survive.
          </p> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">
        <div class="light-red-background light-blue-background text-center">
          <img src="assets/images/theme-three/analysis.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">Detailed &
            Insightful Career Report</p>
          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span
              class="col-9 font-size25 benefits-head removePadding"></span>
          </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
            assessment which
            identifies inherent strengths of youth and map them to careers where they can be the best possible versions
            of themselves. Our tool helps youth to thrive and not just survive.
          </p> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">
        <div class="light-red-background light-violet-background text-center">
          <img src="assets/images/theme-three/training.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">Focussed
            Career Guidance</p>


          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span
              class="col-9 font-size25 benefits-head removePadding"></span>
          </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
            assessment which
            identifies inherent strengths of youth and map them to careers where they can be the best possible versions
            of themselves. Our tool helps youth to thrive and not just survive.
          </p> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">
        <div class="light-red-background light-grey-background text-center">
          <img src="assets/images/theme-three/learn.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">First Video
            Career Library</p>
          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span
              class="col-9 font-size25 benefits-head removePadding"></span>
          </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
            assessment which
            identifies inherent strengths of youth and map them to careers where they can be the best possible versions
            of themselves. Our tool helps youth to thrive and not just survive.
          </p> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">

        <div class="light-red-background light-crazy-background text-center">
          <img src="assets/images/theme-three/home.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">Personalised
            Dashboard</p>
          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span
              class="col-9 font-size25 benefits-head removePadding"></span>
          </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
            assessment which
            identifies inherent strengths of youth and map them to careers where they can be the best possible versions
            of themselves. Our tool helps youth to thrive and not just survive.
          </p> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-12 margin-bottom30">
        <div class="light-red-background red-background text-center">
          <img src="assets/images/theme-three/data.png" alt="image" class="img-fluid width65">
          <p class="font-size25 benefits-head">College Application</p>


          <!-- <div class="d-md-flex align-items-center"><span class="col-3"></span><span class="col-9 font-size25 benefits-head removePadding"></span>
            </div> -->
          <!-- <p class="text-macro font-color33 padding-top42">Thriving Index in GPTS is positive psychology enabled
              assessment which
              identifies inherent strengths of youth and map them to careers where they can be the best possible versions
              of themselves. Our tool helps youth to thrive and not just survive.
            </p> -->
        </div>

      </div>

    </div>
  </div>

  <!-- footer -->

  <!-- <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        Begin here to get closer to your dream
      </div>
      <div class="sub-text">

      </div>
      <button *ngIf="!loggedIn" class="custom-secondary-btn" (click)="openSignupModal()">
        Begin your journey
      </button>
    </div>
  </div> -->


</div><!-- theme three ends -->