/* new style */
.bloglist-back {
    background-image: url(../../../assets/images/theme-three/banner/green-orange-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-height {
    .row {
        align-items: center;
    }
}

.font-size25 {
    font-size: 25px;
}

.margin-btm42 {
    margin-bottom: 0px;
}

.margin-top-12 {
    margin-top: 20px;
}

.margin-bottom70 {
    margin-bottom: 70px;
}

.banner-icon-position {
    position: relative;
    top: 30px;
}


.card-body {
    padding: 20px;
}

.blog-card-section .card.new-card {
    height: 100%;
    max-width: 100%;
}

.blog-card-section img.card-img-top {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.blog-card-section .card-title.card-title-height {
    height: auto;
}

.remove-padding-top {
    padding-top: 0;
}

.border-follow-new {
    border-radius: 2px;
    border: solid 1px #eaeafb;
    background-color: #ffffff;
}

.margin-bottom2 {
    margin-bottom: 2em;
}

.position-sidebar-sticky {
    position: sticky;
    top: 80px;
}


.bloglist-bubble {
    position: relative;
}

.bloglist-bubble::after {
    content: '';
    background-image: url(../../../assets/images/theme-three/bloglist-bubble.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    height: 122vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    left: -190px;
    right: auto;

}

/* new style ends */

.card-title {
    margin-bottom: 0.75rem;
    font-size: 16px;
    font-weight: 500;
    padding-top: 0.4em;
    color: #343434;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.blog-link {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.card-text {

    color: #343434;
}

.card-text-two {
    color: #343434;
    font-weight: 300;
    font-size: 12.5px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-date {
    color: #343434;
    font-weight: 100;
    margin-bottom: 0;
}

.card {
    border-radius: 3px;
    border: solid 1px #e7e7e7;
    padding: 12px 10px 39px;

    overflow: hidden;

    position: relative;
}

.borderFollow {
    border: solid 1px #eaeafb;
    background: white;


    h5 {
        color: #343434;
        font-size: 14px;
        font-weight: 400;
        padding-top: 10px;
    }

    p {

        a {
            color: #343434;
            font-size: 15px;
            margin-right: 15px;
            margin-bottom: 18px;
            display: inline-block;
        }
    }
}


.borderFollowList {
    border: 1px solid #e6e6e6;
    margin-top: -1px;
    background: white;

}

.imageBox {
    height: auto;
    width: 90px;
    padding-top: 6px;
    padding-right: 10px;
}

.postBox {
    border-bottom: 1px solid #e6e6e6;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 10px;
    width: 100%;
}



.postBox:last-child {
    border-bottom: none;
}

.blogtextpara {
    a {
        color: #343434;

        p {
            font-weight: 300;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 215px;

        }

        p.nameBlog {
            font-weight: 600;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.oneMarginEm {
    margin-top: 1em;
}

.marginBlogTop {
    margin-top: 3em;
}

.insiPara {
    font-weight: 400;
    color: #343434;
    font-size: 17px;
    margin-bottom: 7em;
    line-height: 29px;
}

.headingVideo {
    color: #2f3a3e;
    font-size: 35px;
    margin-bottom: 1em;
    padding-top: 1em;

    span.orange {
        background: #f4941c;
        color: white;
        font-weight: 600;
        padding: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.footer-text-width2 {
    max-width: 700px;
    margin-bottom: 15px;
}

.footer-text-width {
    max-width: 750px;

    margin: auto;
    margin-bottom: 15px;
}

/* == my kungfu == */


@media(max-width: 1200px) {
    .blogtextpara a p {
        font-weight: 300;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }

    .blogtextpara {


        p {
            font-weight: 300;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 215px;

        }
    }
}

@media(max-width: 991px) {
    .nosidebar {
        display: none;
    }

    .insiPara {
        margin-bottom: 4em;
    }

    .footer-text-width2 {
        max-width: 100%;
    }

}

@media (max-width: 600px) {
    .nosidebar {
        display: none;
    }

    .footer-text-width2 {
        max-width: 100%;
    }

}

@media (max-width: 540px) {
    .nosidebar {
        display: none;
    }

    .footer-text-width2 {
        max-width: 100%;
    }



}







/*custom css start*/
@media screen and (max-width: 1200px) and (min-width: 768px) {
    #myTabContent .col-md-3 {
        min-width: 50%;
    }
}
@media screen and (max-width: 767px) {
    #myTabContent .col-md-3 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 374px) {
    li.nav-item {
        margin-right: 0px !important;
    }
}



.nav-tabs .nav-link {
    color: #9d9d9d;
    font-weight: bold;
    font-size: 14px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000;
    border: none;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 25px;
}
#myTabContent .col-md-3 {
    padding: 0px 4px;
}
.custom-container .row {
    padding: 0px 7px;
}
.theme-three {
    margin-top: 82px;
}
.full_bg {
    /*border: 1px solid #dbdada;*/
    height: 356px;
    //background-image: url("/assets/images/bloglist/thumb.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog_arrow img {
    width: 15px;
}
.blog_content {
    position: absolute;
    left: 21px;
    bottom: 15px;
    width: 140px;
}
.blog_title {
    color: white;   
    text-transform: uppercase;    
    font-size: 10px;
    font-family: 'League Spartan Bold', arial;
    margin-top: 11px;
}
.blog_author {
    font-family: Open Sans, normal;   
    color: white;
    font-size: 11px;
}
.blog_date {
    font-family: Open Sans, normal;    
    color: white;    
    font-size: 11px;
}
.two_columns {
    float: left;
    position: relative;
    width: 49%;
    height: 175px;
    background: #F0F0F0;
    margin-right: 4px;
    margin-bottom: 6px;
}
.two_columns .blog_content {
    left: 6px;
    bottom: 6px;
    width: 80%;
}
.two_columns .blog_title {
    color: black;
}
.two_columns .blog_short {
    color: #7E7E7E;
}
.half_bg {
    height: 175px;
    //background-image: url("/assets/images/bloglist/short_bg_img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.half_bg_left {
    float: left !important;
}
.half_right_section {
    float: right !important;
    margin-right: 0px !important;
}
/*custom css end*/