<div class="empty-mustwatchcontainer">
  <!-- header -->
  <div class="container-fluid whiteBox text-center">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="errorHead">Must Watch</h2>
      </div>

    </div>

    <!-- image -->
    <div class="row">
      <!-- image -->
      <div class="col-12 d-flex justify-content-center">
        <img src="assets/images/common/error-mustwatch.jpg" class="img-fluid" alt="image">
      </div>
    </div>

    <!-- orange text -->
    <div class="row">
      <div class="col-12">
        <p class="orangeError">Take the thriving index career discovery test which helps in identifying your inherent
          strength and recommends the best fit career options</p>
      </div>
    </div>

    <!-- black text  -->
    <div class="row">
      <Div class="col-12">
        <p>As per the suggested options you will get the highly infotaining career lated videos in the <strong>MUST
            WATCH</strong> section</p>
      </Div>
    </div>

    <!-- button  -->
    <div class="row">
      <div class="col-12">
        <a routerLink="/student-dashboard/TTE" class="text-transform btn greenBtnError">take the career discovery test</a>
      </div>
    </div>


  </div>



</div>