<app-header></app-header>
<div class="theme-three">
  <!-- banner section -->
  <div class="press-media-back dynheader">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Latest from the SkillTree world</h2>
          <!-- <p class="text-macro">At GPTS, we have tools to disrupt the
            education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
        </div>
        <div class="col-lg-6 col-12 text-center text-center">
          <img src="assets/images/theme-three/banner/press-media.svg"
            class="img-fluid bannerImgSub banner-icon-position " alt="img">
        </div>
      </div>
    </div>
  </div>

  <!-- gpts in news -->
  <div class="custom-container section-padding">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="font-size50 custom-text-light margin-bottom48">GPTS IN NEWS</h3>
        <p class="orange-text font-size25 tagline-orange"> GPTS has garnered many accolades for its work in the
          community.</p>
        <p class="font-size20 font-color33 margin-top69">Hosting educational events both nationally and internationally,
          the company has built a reputation for integrity and impeccable credentials. Great Place To Study is a force
          for good in the revolution for a better education system. With a visionary management and a highly talented
          team, the organisation has conceptualised unique ways redefining the pillars of the modern education system.
          GPTS’ innovative ideas and futuristic products have gained the respect of many thought leaders of the
          community. The scope of the organisation goes well beyond just education branding, it has now cemented its
          place as an international education research firm and a notable think tank.</p>
      </div>
    </div>
  </div>

  <!-- metro layout -->
  <!-- <div class="section-padding custom-container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="blue-box">
          <p class="font-size20 font-color-white">ICFAI Group: Pioneering Professional Education for Over 30 Years</p>
          <p class="font-color-white para-white-one">ICFAI was established in 1984 as a not-for-profit society with the
            broad objective
            of empowering citizens through quality education. The Institute marked its presence in the Indian education
            fora by launching a high end, innovative professional programme in financial analysis in 1985. The programme
            was first-of-its-kind in India, aimed to equip students and working professionals with cutting-edge
            knowledge in contemporary areas of finance. Since its inception, ICFAI Group has made a significant mark in
            the Indian educational field with a pan-Indian network and presence.</p>
        </div>

      </div>
      <div class="col-12 col-md-2">
        <div class="blue-box black-background">
          <p class="font-size20 font-color-white">ICFAI Group: Pioneering Professional Education for Over 30 Years</p>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <p>levision series on higher education institutions in India in 2012. Today, our featured programme
          platforms are offered to universities and schools in 23 countries from all over the world with a focus on
          showcasing these institutes in</p>
      </div>
      <div class="col-12 col-md-2">
        <p>levision series on higher education institutions in India in 2012. Today, our featured programme
          platforms are offered to universities and schools in 23 countries from all over the world with a focus on
          showcasing these institutes in</p>
      </div>
    </div>


    



  </div> -->


  <div class="section-light faq">
    <div class="custom-container center-text">
      <div class="row">
        <div class="col-md-12 faq-boxes-container" id="accordion">
          <!-- section 1 -->
          <div
            class="col-md-6 col-sm-12 col-12 metro-box metro-box-1 metro-faq-box-container flip-container header-box">
            <div href="#qwe" style="position: relative;">
              <a href="https://digitallearning.eletsonline.com/2019/02/icfai-group-pioneering-professional-education-for-over-30-years/"
                target="_blank">
                <div class="metro-box-inner front" style="background-color: #17baff;">
                  <div class="question-container">
                    <p class="font-size20 font-color-white">ICFAI Group: Pioneering Professional Education for Over 30
                      Years
                    </p>
                    <p class="text-small font-color-white">The programme was first-of-its-kind in India, aimed to equip
                      students and working professionals with cutting-edge knowledge in contemporary areas of finance.
                    </p>
                    <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container">
            <div href="#qwe" style="position: relative;" class="flipper">
              <a href="http://www.businessworld.in/article/Workplace-Excellence-to-Showcase-and-Recognize-Happy/01-02-2018-139178/"
                target="_blank">
                <div class="metro-box-inner front"
                  style="background-image: url('../../../assets/images/theme-three/light-black.jpeg'); background-size: cover;">
                  <div class="question-container">
                    <!-- <p class="font-size20 font-color-white">Workplace Excellence To Showcase And Recognize Happy
                  </p> -->
                    <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                  </div>
                </div>
              </a>
              <a href="http://www.businessworld.in/article/Workplace-Excellence-to-Showcase-and-Recognize-Happy/01-02-2018-139178/"
                target="_blank">
                <div class="back back-sushma-one">
                  <p class="font-color-white">Workplace Excellence To Showcase And Recognize Happy
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div
            class="col-xl-2 col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container header-box">

            <div href="#qwe" style="position: relative;">
              <a href="http://indiaeducationdiary.in/sushma-paul-berlia-honoured-contribution-education-industry/"
                tagrtet="_blank">
                <div class="metro-box-inner front"
                  style="background-size: cover; background-image: url('../../../assets/images/theme-three/broad-1.jpg'); background-position-y: 0px;">
                  <div class="question-container">
                    <!-- <img class="mobile-show-icon"
                          src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                  </div>
                </div>
              </a>
            </div>



          </div>
          <div
            class="col-xl-2 col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container header-box">
            <div href="#qwe" style="position: relative;">
              <a href="https://www.businesswireindia.com/broadcast1-skilltree-knowledge-consortium-56800.html"
                target="_blank">
                <div class="metro-box-inner front" style="background-color: #bd79c6;">
                  <div class="question-container d-flex align-items-center">
                    <p class="font-size20 font-color-white text-center">Broadcast1 - A SkillTree Knowledge Consortium
                    </p>
                    <!-- <img class="mobile-show-icon"
                          src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                  </div>
                </div>
              </a>

            </div>
          </div>
          <!-- section 1 ends -->

          <!-- section 2 -->
          <div class="col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container">
            <div href="#qwe" style="position: relative;" class="flipper">
              <a href="https://www.thestatesman.com/supplements/campus/shekhar-a-bhattacharjee-discover-and-get-discovered-1502709678.html"
                target="_blank">
                <div class="metro-box-inner front"
                  style=" background-size: cover;  background-image: url('../../../assets/images/theme-three/4box-press.jpg');">
                  <div class="question-container">

                    <img class="mobile-show-icon"
                      src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png">


                  </div>
                </div>
              </a>

              <a href="https://www.thestatesman.com/supplements/campus/shekhar-a-bhattacharjee-discover-and-get-discovered-1502709678.html"
                target="_blank">
                <div class="back back-sushma-three  d-flex align-items-center">
                  <p class="font-color-white">Discover and get discovered
                  </p>
                </div>
              </a>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container header-box">
            <div href="#qwe" style="position: relative;">
              <div class="metro-box-inner front"
                style="background-color: #03A9F4; background-size: cover; background-position-y: -25px; background-image: url('../../../assets/images/theme-three/shekhar.jpg');">
                <div class="question-container">
                  <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-2 col-lg-3 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container header-box">
            <div href="#qwe" style="position: relative;">
              <a href="https://www.entrepreneur.com/article/270163" target="_blank">
                <div class="metro-box-inner front" style="background-color: #d4e6f6;">
                  <div class="question-container  d-flex align-items-center">
                    <p class="font-size20 font-color33 text-center">Shekhar A Bhattacharjee:
                      To a New Year, To New Commitments
                    </p>
                    <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/EA_logo_white.png"> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container">
            <div href="#qwe" class="flipper">
              <a href="http://indiaeducationdiary.in/sushma-paul-berlia-honoured-contribution-education-industry/"
                target="_blank">
                <div class="metro-box-inner front"
                  style="background-size: cover; background-image: url('../../../assets/images/theme-three/sushma.jpg');">
                  <div class="question-container">
                    <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/question.png"> -->

                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
              <a href="http://indiaeducationdiary.in/sushma-paul-berlia-honoured-contribution-education-industry/"
                target="_blank">
                <div class="back back-sushma-one">
                  <p class="font-color-white">Sushma Paul Berlia honoured for her Contribution to
                    Education & Industry
                  </p>
                </div>
              </a>
            </div>
          </div>
          <!-- section 2 ends -->

          <!-- section 3 -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-12 metro-box metro-box-2 metro-faq-box-container flip-container">
            <div href="#qwe" class="flipper">
              <a href="https://www.siliconindia.com/mba/news/two-prestigious-international-awards-to-icfai-at-london--nnid-1460.html"
                target="_blank">
                <div class="metro-box-inner front"
                  style="background-size: cover; background-image: url('../../../assets/images/theme-three/sushma2.jpg');">
                  <div class="question-container">
                    <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/bank.png"> -->

                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
              <a href="https://www.siliconindia.com/mba/news/two-prestigious-international-awards-to-icfai-at-london--nnid-1460.html"
                target="_blank">
                <div class="back back-sushma-two">
                  <p class="font-color-white text-center">TWO PRESTIGIOUS
                    INTERNATIONAL AWARDS TO ICFAI AT LONDON</p>
                </div>
              </a>
            </div>

          </div>
          <div
            class="col-xl-5 col-lg-4 col-md-6 col-12 metro-box metro-box-1 metro-box-xl metro-faq-box-container flip-container">
            <div href="#qwe">
              <div class="metro-box-inner front" style="background-color: #e9eafc; ">
                <div class="question-container">
                  <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/transfer.png"> -->
                  <p class="font-size20 font-color33">Grooming Students for a Challenging Tomorrow
                  </p>
                  <p class="text-small font-color33">ICFAI was established in 1984 as a not-for-profit society
                    with the broad objective of
                    empowering citizens through quality education. </p>

                </div>
              </div>

            </div>

          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container">
            <div href="#qwe">
              <div class="metro-box-inner front"
                style="background-size: cover; background-image: url('../../../assets/images/theme-three/fake-degree.jpg');">
                <div class="question-container">
                  <!-- <img class="mobile-show-icon"
                        src="https://raw.githubusercontent.com/NadeeshaEranjan/responsive-metro-design/master/images/card_pay.png"> -->
                  <!-- <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      </p> -->
                  <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                </div>
              </div>
              <!-- <div class="back">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div> -->
            </div>

          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 col-12 metro-box metro-box-1 metro-faq-box-container flip-container">
            <div href="#qwe">
              <a href="http://www.vervemagazine.in/people/shekhar-a-bhattacharjee" target="_blank">
                <div class="metro-box-inner front" style="background-color: #f5e4e2;">
                  <div class="question-container  d-flex align-items-center">

                    <p class="font-size20 font-color33 text-center">
                      QUICK 13 WITH
                      SHEKHAR A
                      BHATTACHARJEE


                    </p>
                    <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                  </div>
                </div>
              </a>
              <!-- <div class="back">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div> -->
            </div>

          </div>
          <!-- section 3 ends -->


        </div>
      </div>
    </div>
  </div>



  <!-- footer -->

  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        The best way to show your greatness is to build great people for future

      </div>
      <div class="sub-text">
        Great Thing happens!
      </div>
      <button *ngIf="!loggedIn" (click)="openSignupModal()" class="custom-secondary-btn">
        Get Started
      </button>
    </div>
  </div>


</div> <!-- theme three ends -->