.customFormGroup{
    margin-bottom: 0;
}

.greenBtn{
    background: #46c38e;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.changeGreenBtn{
    padding: 0px 9px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    width: 100%;
    display: block;
    text-align: center;
    height: 34px;
}

.boxHeading{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 0.86em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.schoolFormControl{
    
    height: 34px;

}

.customSchoollabel{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    
}

.selectWidth{
    width: 94%;
}

.form-control{
    font-size: 0.8em;
    opacity: 0.6;
}

.blueLink{
    color: #00aceb;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
}

.removeRadius{
    border-radius: 0;
}

.customPaddTop{
    padding-top: 7px;
}

.borderSchoolAccount{
    border: 1px solid #e4e4e4;
    padding: 0.8em;
    max-height: 14em;
    overflow-y: scroll;
    margin-top: -1px;
}

.borderSchoolAccountTwo{
    border: 1px solid #e4e4e4;
    padding: 1em;
    padding: 8px;
    margin-bottom: 8px;
}

.usernameAccount{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 1em;
    margin-bottom: 0px;
}

.emailAccount{
    font-family: 'Open Sans', sans-serif;
    color: #919eae;
    font-size: 0.8em;
    margin-bottom: 0px;
}

.mobileAccount{
    font-family: 'Open Sans', sans-serif;
    color: #919eae;
    font-size: 0.8em;
    margin-bottom: 0px;
}

.admissionAccount{
    font-family: 'Open Sans', sans-serif;
    color: #919eae;
    font-size: 0.8em;
    margin-bottom: 0px;
}

.createAccount{
    font-family: 'Open Sans', sans-serif;
    color: #919eae;
    font-size: 0.8em;
    margin-bottom: 0px;
}

.manageAccountLink{
    color: #00aceb;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-top: 2em;
    display: block;
}

label.checkbox-inline {
    margin-right: 8px;
}

input[type="checkbox"] {
    margin-right: 3px;
}