<!-- app header -->
<app-header></app-header>

<!-- blogs -->
<div class="container-fluid whiteBox">
    <!-- header -->
    <div class="row headingSpacing">
        <div class="col-6">
            <h3 class="boxHeading">Blogs</h3> </div>

            <div class="col-6">
                <a href="#" class="editBtn" data-toggle="modal" data-target="#myModalBlog">Upload</a>
            </div>
    </div>


    <!-- blog-->
    <div class="row marginBlog">
      <!-- left -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
        <!-- image -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <a href="#"><img src="../../../assets/images/common/profile-blog.jpg" class="img-fluid" alt="image"></a>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
          <!-- head -->
          <a class="blogHead">Cupidatat quis velit fugiat</a>
          <!-- para-->
          <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
          <!-- name + date -->
          <p class="blogDate">Sean William Scott</p>
          <p class="blogDate">24th January, 2018</p>
        </div>
      </div>

      <!-- right -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
          <!-- image -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <a href="#"><img src="../../../assets/images/common/profile-blog.jpg" class="img-fluid" alt="image"></a>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <!-- head -->
            <a class="blogHead">Cupidatat quis velit fugiat</a>
            <!-- para-->
            <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
            <!-- name + date -->
            <p class="blogDate">Sean William Scott</p>
            <p class="blogDate">24th January, 2018</p>
          </div>
        </div>


    </div>



    <!-- set 2 -->
    <div class="row marginBlog">
        <!-- left -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
          <!-- image -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <a href="#"><img src="../../../assets/images/common/profile-blog.jpg" class="img-fluid" alt="image"></a>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <!-- head -->
            <a class="blogHead">Cupidatat quis velit fugiat</a>
            <!-- para-->
            <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
            <!-- name + date -->
            <p class="blogDate">Sean William Scott</p>
            <p class="blogDate">24th January, 2018</p>
          </div>
        </div>
  
        <!-- right -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
            <!-- image -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
              <a href="#"><img src="../../../assets/images/common/profile-blog.jpg" class="img-fluid" alt="image"></a>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
              <!-- head -->
              <a class="blogHead">Cupidatat quis velit fugiat</a>
              <!-- para-->
              <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
              <!-- name + date -->
              <p class="blogDate">Sean William Scott</p>
              <p class="blogDate">24th January, 2018</p>
            </div>
          </div>
      </div>   

      <!-- load more -->
      <div class="row">
        <div class="col-12">
          <a href="#" class="viewGreen text-right">Load More</a>
        </div>
      </div>
      
      



</div>


<!-- video blog -->
<div class="container-fluid whiteBox">
    <!-- header -->
    <div class="row headingSpacing">
        <div class="col-6">
            <h3 class="boxHeading">Videos</h3> </div>

            <div class="col-6">
                <a href="#" class="editBtn" data-toggle="modal" data-target="#myModal">Upload</a>
            </div>
    </div>

    <!-- video blog -->
    <div class="row marginBlog">
        <!-- left -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
          <!-- image -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <p class="text-center">Note : Parikshet place video </p>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <!-- head -->
            <a class="blogHead">Cupidatat quis velit fugiat</a>
            <!-- para-->
            <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
            <!-- name + date -->
            <p class="blogDate">Sean William Scott</p>
            <p class="blogDate">24th January, 2018</p>
          </div>
        </div>
  
        <!-- right -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
            <!-- image -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <p class="text-center">Note : Parikshet place video </p>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
              <!-- head -->
              <a class="blogHead">Cupidatat quis velit fugiat</a>
              <!-- para-->
              <p class="blogPara">Excepteur laborum ea consectetur nulla. Adipiscing qui sed in fugiat. Cupidatat quis velit fugiat. Magna qui magna laboris tempor nulla. In nisi irure sed. Cupidatat culpa ullamco consectetur. Nisi est occaecat et ullamco. Aliquip anim occaecat eu adipiscing ea. Ut do sit ex incididunt. Est laborum in aliqua et.</p>
              <!-- name + date -->
              <p class="blogDate">Sean William Scott</p>
              <p class="blogDate">24th January, 2018</p>
            </div>
          </div>
  
  
      </div>
      <!-- load more -->
      <div class="row">
          <div class="col-12">
            <a href="#" class="viewGreen text-right">Load More</a>
          </div>
      </div>

      <!-- blog modal -->
      <div id="myModalBlog" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title collegeHead">Upload Blogs</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body">
                <!-- row one -->
                <div class="row">
                  
                  <!-- video description -->
                  <div class="col-12">
                    <div class="form-group">
                      <label>Write or paste your blog here</label>
                      <div>
                          <textarea class="form-control customTextarea"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- row two -->
                <div class="row d-xl-flex d-lg-flex d-md-flex">
                    <!-- video heading -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="form-group">
                        <label>Blog Heading</label>
                        <input type="text" class="form-control customFormKnowledge" placeholder="Enter Heading Here">
                      </div>
                    </div>
                    <!-- video description -->
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" class="form-control customFormKnowledge" placeholder="Author Name">
                          </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                          <label>Upload Blog Thumbnail</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control customFormKnowledge" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                              <div class="input-group-append">
                                <button class="btn greenBtnUpload" type="button" id="button-addon2">Browse</button>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer text-center">
                  <button type="button" class="btn blueGradientSubmit">Submit</button>
                </div>
            </div>
        
          </div>
        </div>




      <!-- blog modal end -->




      <!-- video modal-->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title collegeHead">Upload Video</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
              <!-- row one -->
              <div class="row">
                <!-- video upload -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="form-group">
                    <label>Upload Video</label>
                    <div class="uploadBtnBack">
                        <input type="button" class="greenBtnUpload form-control" value="Browse">
                    </div>
                  </div>
                </div>
                <!-- video description -->
                <div class="col-xl-8 col-lg-8 col-md-4 col-sm-12 col-12">
                  <div class="form-group">
                    <label>Video Description</label>
                    <div>
                        <textarea class="form-control customTextarea"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row two -->
              <div class="row d-xl-flex d-lg-flex d-md-flex">
                  <!-- video upload -->
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group">
                      <label>Blog Heading</label>
                      <input type="text" class="form-control customFormKnowledge" placeholder="Enter Heading Here">
                    </div>
                  </div>
                  <!-- video description -->
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="form-group">
                          <label>Author</label>
                          <input type="text" class="form-control customFormKnowledge" placeholder="Author Name">
                        </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn blueGradientSubmit">Submit</button>
            </div>
          </div>
      
        </div>
      </div>

      

      </div>

      