<app-header></app-header>
<div id="page-content-wrapper">
    <!-- == start main code for body == -->
    <!-- search box -->
    <div class="container-fluid whiteBox">
        <div class="row">
            <div class="col-12 d-flex removePadding">
                <p class="headingTwo headingTwoAdjust col-xl-1 col-lg-1 col-md-2 col-sm-12 col-12">Search for </p>
                <div class="dropdown collegeOrangeTop  col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
                    <button class="btn btn-secondary dropdown-toggle drpDownBtn" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Colleges </button>
                    <div class="dropdown-menu smallDrop" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item"
                            href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a
                            class="dropdown-item" href="#">Something else here</a> </div>
                </div>
                <div class="form-group  col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <input type="text" class="form-control customSearch" placeholder="Search" /> </div>
            </div>
        </div>
    </div>
    <!-- set1 -->
    <div class="container-fluid whiteBox">
        <!-- box heading -->
        <div class="row headingBorder">
            <div class="col-6">
                <p class="headingOne text-uppercase">University Progression</p>
            </div>
            <div class="col-6">
                <div class="dropdown collegeOrangeTop">
                    <button class="btn btn-secondary dropdown-toggle drpDownBtn sortBy" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort
                        by </button>
                    <div class="dropdown-menu smallDrop" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item"
                            href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a
                            class="dropdown-item" href="#">Something else here</a> </div>
                </div>
            </div>
        </div>
        <!-- box body set1-->
        <div class="row statusBoxPadding">
            <div class="col-12 statusBox d-xl-flex d-lg-flex d-md-flex">
                <!-- institute icon -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 rightBorder"> <img
                        src="assets/images/common/stanford-university-stacked.png" class="img-fluid instituteImage"
                        alt="image"> </div>
                <!-- institute name -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <p class="instituteName">Stanford University</p>
                    <p class="instituteLocation">California, USA</p>
                    <!-- stars -->
                    <div class="star-ratings-css">
                        <div class="star-ratings-css-top" style="width: 84%">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <!-- about university --><a href="#" class="blueAbout">About University</a>
                </div>
                <!-- program information -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 rightBorder">
                    <p class="programInfo"></p>
                    <p class="programText">
                        <!-- <img src="assets/images/common/bookicon.png" class="img-fluid programIcon"
                            alt="image"> --><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information Technology
                    </p>
                    <p class="programText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                class="fa fa-star starUser"></i></i> Open for National/
                        International Students</p>
                    <p class="programText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                </div>

                <!-- action -->
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 text-center">
                    <p class="programInfo">Progress Status</p>
                    <a href="#" class="deleteApplication">Applied</a> <a href="#" class="contactGreen">Received</a> <a
                        href="#collapseExample" class="viewMore" data-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Accepted/ Denied</a>
                </div>
            </div>
            <!-- tab collapse content -->
            <div class="col-12 collapse statusBox" id="collapseExample">
                <!-- head -->
                <p class="headDetails">Details</p>
                <!-- para -->
                <p class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex. Pariatur
                    laborum qui irure. Ea anim proident, minim. Veniam, dolore et consectetur ullamco aliquip. Id
                    officia eiusmod proident. Velit in dolor in sed ut. Adipiscing Ut ea consectetur ex Lorem.
                    Consectetur ullamco culpa magna. Cillum sed velit Ut minim commodo. Ut dolor proident, laboris.
                    Minim exercitation officia veniam, Ut. Ut quis commodo adipiscing et ut. In pariatur consectetur
                    elit, exercitation proident. Velit ad tempor eu. Veniam, magna adipiscing sed. Tempor magna in amet.
                    Adipiscing adipiscing anim cupidatat laboris nisi. Minim in officia ut nisi fugiat. Mollit minim
                    incididunt laborum minim sint. Labore labore veniam, mollit. Quis dolore commodo deserunt est dolor.
                    In esse est eiusmod in nisi.</p>
                <!-- progress bar -->
                <div>
                    <div class="col-12 d-flex bs-wizard" style="border-bottom:0;">
                        <div class="col bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Step 1</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">1</a>
                            <a href="#" class="checkBlue" data-toggle="tooltip" title="Hooray!" data-placement="top"> <i
                                    class="fas fa-check"></i> </a>
                            <div class="bs-wizard-info text-center">Application Viewed</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 2</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">2</a>
                            <a href="#" class="checkBlue" data-toggle="tooltip" title="Hooray!" data-placement="top"> <i
                                    class="fas fa-check"></i> </a>
                            <div class="bs-wizard-info text-center">Application Shortlisted</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">3</a>
                            <a href="#" class="checkOrange" data-toggle="tooltip" title="Hooray!" data-placement="top">
                                <i class="fas fa-question"></i> </a>
                            <div class="bs-wizard-info text-center">Documents Required</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">4</a>
                            <div class="bs-wizard-info text-center">Application Process 4</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">5</a>
                            <div class="bs-wizard-info text-center">Application Process 5</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">6</a>
                            <div class="bs-wizard-info text-center">Application Process 6</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">7</a>
                            <div class="bs-wizard-info text-center">Application Process 7</div>
                        </div>
                        <div class="col bs-wizard-step disabled">
                            <!-- active -->
                            <div class="text-center bs-wizard-stepnum">Step 4</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">8</a>
                            <div class="bs-wizard-info text-center">Application Process 8</div>
                        </div>
                    </div>
                </div>
                <!-- requirements -->
                <div>
                    <!-- head -->
                    <p class="headDetails">Requirements</p>
                    <!-- list -->
                    <ol>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                    </ol>
                </div>
                <!-- upload documents --><a href="#" class="text-uppercase uploadBtnGreen">Upload Documents</a>
            </div>
        </div>
        <!-- box body set2 -->
        <div class="row statusBoxPadding">
            <div class="col-12 statusBox d-xl-flex d-lg-flex d-md-flex">
                <!-- institute icon -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 rightBorder"> <img
                        src="assets/images/common/stanford-university-stacked.png" class="img-fluid instituteImage"
                        alt="image"> </div>
                <!-- institute name -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <p class="instituteName">Stanford University</p>
                    <p class="instituteLocation">California, USA</p>
                    <!-- stars -->
                    <div class="star-ratings-css">
                        <div class="star-ratings-css-top" style="width: 84%">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <!-- about university --><a href="#" class="blueAbout">About University</a>
                </div>
                <!-- program information -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 rightBorder">
                    <p class="programInfo"></p>
                    <p class="programText">
                        <!-- <img src="assets/images/common/bookicon.png" class="img-fluid programIcon"
                            alt="image"> --><i class="fa fa-book sizeFontIcon"></i> Bachelor in Information Technology
                    </p>
                    <p class="programText"><i class="fa fa-user-o position-relative sizeFontIcon"><i
                                class="fa fa-star starUser"></i></i> Open for National/
                        International Students</p>
                    <p class="programText"><i class="fa fa-list sizeFontIcon"></i> Eligibility Criteria</p>
                </div>

                <!-- action -->
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 text-center">
                    <p class="programInfo">Progress Status</p>
                    <a href="#" class="deleteApplication">Applied</a> <a href="#" class="contactGreen">Received</a> <a
                        href="#collapseExample" class="viewMore" data-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Accepted/ Denied</a>
                </div>
            </div>
            <!-- tab collapse content -->
            <div class="col-12 collapse statusBox" id="collapseExample">
                <!-- head -->
                <p class="headDetails">Details</p>
                <!-- para -->
                <p class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex. Pariatur
                    laborum qui irure. Ea anim proident, minim. Veniam, dolore et consectetur ullamco aliquip. Id
                    officia eiusmod proident. Velit in dolor in sed ut. Adipiscing Ut ea consectetur ex Lorem.
                    Consectetur ullamco culpa magna. Cillum sed velit Ut minim commodo. Ut dolor proident, laboris.
                    Minim exercitation officia veniam, Ut. Ut quis commodo adipiscing et ut. In pariatur consectetur
                    elit, exercitation proident. Velit ad tempor eu. Veniam, magna adipiscing sed. Tempor magna in amet.
                    Adipiscing adipiscing anim cupidatat laboris nisi. Minim in officia ut nisi fugiat. Mollit minim
                    incididunt laborum minim sint. Labore labore veniam, mollit. Quis dolore commodo deserunt est dolor.
                    In esse est eiusmod in nisi.</p>
                <!-- progress bar -->
                <div>
                    <div class="col-12 d-flex bs-wizard" style="border-bottom:0;">
                        <div class="col bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Step 1</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">1</a>
                            <a href="#" class="checkBlue" data-toggle="tooltip" title="Hooray!" data-placement="top"> <i
                                    class="fas fa-check"></i> </a>
                            <div class="bs-wizard-info text-center">Application Viewed</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 2</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">2</a>
                            <a href="#" class="checkBlue" data-toggle="tooltip" title="Hooray!" data-placement="top"> <i
                                    class="fas fa-check"></i> </a>
                            <div class="bs-wizard-info text-center">Application Shortlisted</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">3</a>
                            <a href="#" class="checkOrange" data-toggle="tooltip" title="Hooray!" data-placement="top">
                                <i class="fas fa-question"></i> </a>
                            <div class="bs-wizard-info text-center">Documents Required</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">4</a>
                            <div class="bs-wizard-info text-center">Application Process 4</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">5</a>
                            <div class="bs-wizard-info text-center">Application Process 5</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">6</a>
                            <div class="bs-wizard-info text-center">Application Process 6</div>
                        </div>
                        <div class="col bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">7</a>
                            <div class="bs-wizard-info text-center">Application Process 7</div>
                        </div>
                        <div class="col bs-wizard-step disabled">
                            <!-- active -->
                            <div class="text-center bs-wizard-stepnum">Step 4</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div> <a href="#" class="bs-wizard-dot">8</a>
                            <div class="bs-wizard-info text-center">Application Process 8</div>
                        </div>
                    </div>
                </div>
                <!-- requirements -->
                <div>
                    <!-- head -->
                    <p class="headDetails">Requirements</p>
                    <!-- list -->
                    <ol>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                        <li class="paragraphStatus">In Lorem fugiat adipiscing proident. Consectetur exercitation ad ex.
                            Pariatur laborum qui irure. Ea anim proident.</li>
                    </ol>
                </div>
                <!-- upload documents --><a href="#" class="text-uppercase uploadBtnGreen">Upload Documents</a>
            </div>
        </div>
    </div>
</div>