<app-header></app-header>
<div class="theme-three">
    <!-- banner section -->
    <div class="dalham-background dynheader">
        <div class="custom-container banner-height">
            <div class="row">
                <div class="col-lg-6 col-12 text-center text-lg-left">
                    <h2 class="text-big">Our contribution for the betterment of education</h2>
                    <!-- <p class="text-macro">At GPTS, we have tools to disrupt the
            education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
                </div>
                <div class="col-lg-6 col-12 text-center text-center">
                    <img src="assets/images/theme-three/banner/dalham.svg"
                        class="img-fluid bannerImgSub banner-icon-position" alt="img">
                </div>
            </div>
        </div>
    </div>

    <!-- sidebar + content -->
    <div class="custom-container section-padding">
        <div class="row">
            <!-- sidebar -->
            <div class="col-lg-3 col-12">
                <div class="sidebar-color">
                    <p class="font-size30 custom-text-light font-color33">Quick Links</p>
                    <ul class="sidebar-ul">
                        <li class="sidebar-li"><a (click)="scrollTo(fees_payment)" class="custom-text-light">Fees and
                                Payment</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(privacy)" class="custom-text-light">Privacy</a>
                        </li>
                        <li class="sidebar-li"><a  (click)="scrollTo(your_content)" class="custom-text-light">Your
                                Content</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(intelectual)" class="custom-text-light">Intellectual
                                Property</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(cdap)" class="custom-text-light">Career
                                Discovery & Acceleration Platform</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(acc_mgmt)" class="custom-text-light">Account
                                Management</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(user_req)" class="custom-text-light">User
                                Requirements</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(acceptable)" class="custom-text-light">Acceptable
                                Uses</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(pci)" class="custom-text-light">PCI
                                Compliance</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(suspension)" class="custom-text-light">Suspension
                                and termination of services</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(changes)" class="custom-text-light">Changes and
                                updates</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(disclaimer)" class="custom-text-light">Disclaimer</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(limit)" class="custom-text-light">Limitations
                                of liability</a></li>
                        <li class="sidebar-li"><a (click)="scrollTo(indemnity)" class="custom-text-light">Indemnity</a>
                        </li>
                        <li class="sidebar-li"><a (click)="scrollTo(jurisdiction)" class="custom-text-light">Jurisdiction</a></li>
                    </ul>
                </div>
            </div>
            <!-- content -->
            <div class="col-lg-9 col-12">
                <h3 class="font-size50 custom-text-light font-color33 margin-bottom44">Site Terms and Conditions</h3>
                <p class="text-macro custom-text-light orange-text margin-bottom72">These Terms and Conditions
                    ("Agreement")
                    constitute a legally binding agreement between the user ("User" or "you") and
                    www.greatplacetostudy.com ("GPTS”, “the site”, "we" or "us"). </p>
                <p class="text-macro custom-text-light font-color33 margin-bottom25">These terms and conditions apply to
                    the User’s
                    visit
                    to and use, of the Site whether through a
                    computer or a mobile phone, or any other electronic device, as well as to all information,
                    recommendations and/or services provided to you on or through the Site.</p>
                <p class="text-macro custom-text-light font-color33 margin-bottom25">PLEASE ENSURE THAT YOU READ AND
                    UNDERSTAND ALL
                    THESE
                    TERMS BEFORE YOU USE THE SITE. IF YOU DO NOT
                    ACCEPT ANY OF THE TERMS, THEN PLEASE DO NOT USE THE SITE OR AVAIL ANY OF THE SERVICES BEING PROVIDED
                    THEREIN.</p>
                <p class="text-macro custom-text-light font-color33 margin-bottom25"> This document is an electronic
                    record in terms of
                    (i) Information Technology Act, 2000; (ii) the
                    rules framed there under as applicable; and (iii) the amended provisions pertaining to electronic
                    records in various statutes as amended by the Information Technology Act, 2000. This electronic
                    record is generated by a computer system and does not require any physical or digital signatures.
                </p>
                <p class="text-macro custom-text-light font-color33">This document is published in accordance with the
                    provisions of Rule 3 (1) of the Information
                    Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and
                    regulations, privacy policy and Terms of Use for access or usage of the Platform </p>


                <ol>
                    <li id="fees_payment" #fees_payment class="font-size30 font-color34 custom-text-light border-bottom-none">Fees and
                        Payment
                        <ol>
                            <li>You accept to pay for the Career Discovery Assessment, Video Career Library, and EDIEO
                                provided by GPTS, as opted by you, which shall be charged with a fee as provided by the
                                structures offered on the site.</li>
                            <li>You further undertake to have read and agreed to the terms & conditions as prompted
                                before
                                using the payment gateway to make payments towards the services.</li>
                            <li>You agree to not raise any disputes in regard to the fee charged, in any manner
                                whatsoever,
                                as the same has been agreed to through the user’s free will, without duress or undue
                                influence.</li>
                            <li>We reserve the right to use third party payment providers to receive payments from our users. We shall not be responsible for delays, errors or erroneous transactions or cancellation of payments made towards the orders.</li>
                        </ol>
                    </li>
                    <li id="privacy" #privacy class="font-size30 font-color34 custom-text-light border-bottom-none">Privacy
                        <ol>
                            <li>You hereby explicitly and unambiguously consent to the collection, use and transfer, in
                                electronic or other form, of your personal data for GPTS and its Affiliates to
                                exclusively use for the purpose of implementing, administering and managing your
                                participation on the platform.</li>
                            <li>You agree to have understood that GPTS and Skilltree Knowledge Consortium Private
                                Limited may hold your personal information, including but not limited to your name,
                                mailing address, telephone number, date of birth, and/or other identification numbers,
                                nationality, educational qualifications for the exclusive purpose of implementing,
                                administering or managing the programme opted into.</li>
                            <li>Certain Data may also constitute “sensitive personal data” within the meaning of
                                applicable local law. Such Data includes, but is not limited to, the information
                                provided while registering with the Career Discovery and Acceleration Platform
                                (“Platform”) and any changes thereto along with your appropriate personal and financial
                                data.</li>
                            <li>You hereby provide explicit consent to GPTS and any Affiliates to process any such
                                Data.The user understands that Data will be transferred to affiliated educational
                                institutions selected by the Company in the future, which is assisting the Company with
                                the implementation, administration and management of the Platform.</li>
                                <li>You understand that the recipients of the Data may be located in India or elsewhere, and that your country may have different data privacy laws and protections than the recipient educational institution’s country.</li>
                                <li>The terms of our privacy policy can be found at www.greatplacetostudy.com We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</li>

                        </ol>
                    </li>
                    <li id="your_content" #your_content class="font-size30 font-color34 custom-text-light border-bottom-none">Your Content
                        <ol>
                            <li>We do not claim ownership on the contents you may upload or otherwise use in connection
                                with the Site or Services. However, to ensure that we can provide you with the Services
                                or access to the Site, you grant us a worldwide, royalty-free, transferable,
                                sub-licensable, non-exclusive, perpetual, irrevocable license under all your
                                intellectual property rights to use, reproduce, distribute, communicate and public
                                perform or display (including, among others, the rights to broadcast and transmit),
                                transform and modify, and/or adapt your contents in connection with the operation of the
                                Site and/or the Services. You represent and warrant that you have the rights necessary
                                to grant the license hereunder, and that your contents do not infringe the law or third
                                party rights or interests. </li>
                            <li>Please note that by submitting content (photos or videos) into the platform, said
                                contents are made publicly available to third parties. Please evaluate whether you want
                                to share said content under those conditions before submitting them as part of the
                                Services.</li>


                        </ol>
                    </li>
                    <li id="intelectual" #intelectual class="font-size30 font-color34 custom-text-light border-bottom-none">
                        Intellectual Property

                        <p>All the data and information contained on the GPTS services, the software used to operate it and the trademarks, logos, copyrights subsisting in its content along with any and all intellectual property used in connection with it is the property of www.greatplacetostudy.com. No license of any such intellectual property rights is granted to you as a result of your use of the GPTS services. All the information including but not limited to on the website like user data, college data, assessment tests, assessment reports, career content, career videos and EDIEO content etc, are proprietary of GPTS and hence any infringement of copyright would be liable for civil action.</p>
                    </li>
                    <li id="cdap" #cdap class="font-size30 font-color34 custom-text-light border-bottom-none">
                        Greatplacetostudy.com / Career Discovery & Acceleration Platform

                        <p>Your registration on the platform, Terms & Conditions accepted herein or subsequent use of
                            the platform shall not grant you ownership in the platform or in the content accessed by you
                            through the platform. Your use of the content will be regulated by the platform and strictly
                            limited to your viewing alone. You shall not own have or assume any right, title, interest,
                            including all intellectual property accessed and used by you relating to the content or
                            otherwise on the site.</p>
                    </li>
                    <li id="acc_mgmt" #acc_mgmt class="font-size30 font-color34 custom-text-light border-bottom-none">Account
                        Management
                        <ol>
                            <li>Only persons (individuals or legal entities) who are legally entitled under their own
                                laws to validly enter into contracts (or, for minors, who have obtained appropriate
                                permission to do so, and may become users. </li>
                            <li>In order to access some features of the Website, you agree to create an account as
                                required by the Platform. You may never use another's account without permission. When
                                creating an account, you must provide accurate and complete information. The sole
                                responsibility for the activity that occurs on your account is yours and you must keep
                                your account’s password secure. </li>
                            <li>Any account may be used by one person only. You must provide GPTS with a valid email
                                address and a password for your account. You are responsible for maintaining the
                                security of your account with the Service, and you are fully responsible for all
                                activities that occur under that account. You will immediately notify GPTS of any
                                unauthorized uses of your account or any other breaches of security. You may not use the
                                Service for any illegal or unauthorized purpose.</li>
                            <li>Any use of the Service is at your sole risk and liability. GPTS will not be liable for
                                any acts or omissions by you, including any damages of any kind incurred as a result of
                                such acts or omissions.</li>
                            <li>Use of the Service provides you with access to some or more aspects or functionality of the platform. Such access includes a limited, non-transferable, non-exclusive right to access the platform and your personal dashboard for your own personal purpose. Any other use, or use for data mining, use of spiders, crawlers, bots, etc. is excluded. You may not reverse engineer, decompile or disassemble the Site or the Service, or create derivative works of the Site or the Service provided on the platform.</li>


                        </ol>
                    </li>
                    <li id="user_req" #user_req class="font-size30 font-color34 custom-text-light border-bottom-none">User
                        Requirements
                        <p>You affirm that you are either more than 10 years of age or possess legal parental or
                            guardian’s consent and guidance to enter into these Terms & Conditions, and to comply with
                            these Terms of Use along with other governing laws and regulations pertaining to the
                            platform.</p>
                    </li>
                    <li id="acceptable" #acceptable class="font-size30 font-color34 custom-text-light border-bottom-none">
                        Acceptable Uses
                        <p>
                            You will not do any of the following in connection with your use of the Services or Website:
                        </p>
                        <ol>
                            <li>Violate applicable law.
                            </li>
                            <li>Reverse engineer or tamper with the security of the Services or Website.</li>
                            <li>Resell the Services or permit third parties to use the Services or Website without our
                                prior written consent.</li>
                            <li> Make unauthorized copies of any content in the Services or Website.</li>
                            <li>Upload Data that contains or contains links to third-party services, nudity,
                                pornography, obscene content, sex, profanity, or foul language (except for legal and
                                valid research purposes with GPTS’ written consent).</li>
                            <li>Collect or process special categories of personal data or personal data relating to
                                criminal convictions and offences of EU citizens (as defined in the GDPR) other than in
                                compliance with the provisions of applicable data protection law, including but not
                                limited to the GDPR.
                            </li>
                            <li>Upload, send, or store malicious software or Data that condones, promotes, contains, or
                                links to warez, cracks, hacks, their associated utilities, or other piracy related
                                information.</li>
                            <li>Upload Data that infringes any copyrights, trademarks, patents, trade secrets, or other
                                intellectual property rights.</li>
                            <li>Upload Data that is racist or otherwise extremely offensive to others, including content
                                that aggravates, harasses, threatens, defames, or abuses others.
                            </li>
                            <li>Upload or display Data that exploits images of children under 18 years of age.</li>
                            <li>Upload binary files or executable code.</li>
                            <li>Perform vulnerability tests, network scans, penetration tests, or other investigative
                                techniques on our Software,Services or Website.</li>
                            <li>Use the Services to send links to third-party services.</li>
                            <li>Use the Services in a way that circumvents usage limits.</li>
                            <li> Use the Services to collect Data without appropriate authorization
                            </li>
                            <li>Use the Services to collect Data in manner that is out of compliance with your entity’s
                                internal policies.</li>

                        </ol>
                    </li>
                    <li id="pci" #pci class="font-size30 font-color34 custom-text-light border-bottom-none">PCI Compliance
                        <ol>
                            <li>GPTS is and has been compliant with the applicable portions of the Payment Card Industry
                                Data Security Standard (“PCI-DSS”) in all material respects and as has been amended from
                                time-to-time. </li>
                            <li>With respect to payment card transactions or information processed in any way (including
                                any processing, storing or communication of transaction data or cardholder data, as
                                defined under the PCI-DSS) by GPTS, GPTS is in material compliance as applicable to
                                service providers.</li>

                        </ol>
                    </li>
                    <li id="suspension" #suspension class="font-size30 font-color34 custom-text-light border-bottom-none">Suspension and termination
                        of services
                        <ol>
                            <li><strong>Termination by you</strong>
                                <p>You may, at any point in time, choose to terminate your subscription to a service.
                                    Such termination will not change/affect, in any way, any amount/fee due to us. The
                                    termination shall be processed by the process made available for that purpose on the
                                    Website. Cancellation by email or phone will not be considered valid.</p>
                            </li>
                            <li><strong>Termination by GPTS</strong>
                                <p>GPTS may terminate any User account, with or without prior notice, when, in the
                                    reasonable opinion of GPTS, you/the user is in breach of any of the Terms &
                                    Conditions or the Agreement, or you/User is in breach of any applicable law,
                                    regulation or any third party right, or when you/User has been declared insolvent or
                                    bankrupt (or any similar event in any jurisdiction has occurred). GPTS is entitled
                                    to issue guidelines around correct use of the Service, and may request compliance
                                    with such guidelines in order to keep the User account. If you fail, or GPTS
                                    suspects that you have failed, to comply with any of the terms, including but not
                                    limited to failure to make payment of fees due, failure to provide GPTS with a valid
                                    credit card or with accurate and complete Registration Data, failure to safeguard
                                    your Account information, violation of the Usage Rules or any license to the
                                    software, or infringement or other violation of third parties' rights, GPTS, after
                                    notice of 07 (seven) days to rectify such failure to you, may permanently terminate
                                    your subscription and/or your Account if such failure on your part still continues.
                                    No refunds will be issued in such a case owing to early Termination.</p>
                            </li>

                        </ol>
                    </li>
                    <li id="changes" #changes class="font-size30 font-color34 custom-text-light border-bottom-none">Changes and updates
                        <p>You understand and agree that GPTS may make improvements and/or changes in the platform,
                            services, programs, and prices described herein at any time without notice. Changes are
                            periodically made to the Website.</p>
                    </li>
                    <li id="disclaimer" #disclaimer class="font-size30 font-color34 custom-text-light border-bottom-none">Disclaimers
                        <ol>
                            <li>Any Service is provided “as is”. GPTS and its affiliates and licensors hereby disclaim
                                all warranties of any kind, express or implied, including, without limitation, the
                                warranties of merchantability, fitness for a particular purpose and non-infringement.
                                Neither GPTS nor its affiliates and licensors, makes any warranty that the Services will
                                be error free or that access thereto will be continuous or uninterrupted. You understand
                                that you obtain or use Content or Service at your own discretion and risk.</li>
                            <li>You represent and warrant that you have the necessary rights to any Content used or
                                uploaded, and that such Content will not infringe any third party Intellectual Property
                                Right or other right or interest.</li>
                            <li>You will indemnify, defend and hold harmless GPTS and will keep it indemnified for and
                                against any liabilities, claims and expenses, including attorney’s fees, that arise from
                                any claim from any third party (including, for the avoidance of doubt, any other User)
                                that any action or omission to act (including but not limited to the posting or offering
                                of any Content), any breach of the Terms and Conditions or in general any other act or
                                omission to act by such User.</li>

                        </ol>
                    </li>
                    <li id="limit" #limit class="font-size30 font-color34 custom-text-light border-bottom-none">Limitations of liability
                        <ol>
                            <li>To the fullest extent permissible under applicable law, GPTS will have no liability, and
                                you agree to waive any claim, based on the Site, its performance and functions, the
                                services provided thereon, any Content used, or any transaction, service or
                                functionality transacted or made available through the Site or the Services.</li>
                            <li>GPTS will never be liable for any breakdown of the Site, interruption or malfunction of
                                the services provided through the Site, or any other malfunction or technical issues
                                related to the operation of the Site.</li>
                            <li>GPTS will never be responsible for any links to third party websites, or any other
                                connection to or interaction with third party materials or functionality.</li>
                            <li>Users specifically waive any liability of GPTS for any Content used on the Site or
                                through the Services, or any action or omission from any Respondent.</li>
                            <li>Under no circumstances will GPTS be liable for any indirect losses, including any loss
                                of business or loss of profit.</li>

                        </ol>
                    </li>
                    <li id="indemnity" #indemnity class="font-size30 font-color34 custom-text-light border-bottom-none">
                        Indemnity

                        <p>In consideration of posting the information sent by you on our website or obtained through
                            means of a cookie or sent by users; You undertake to indemnify GPTS and keep it indemnified
                            against all proceedings, claims, expenses and liabilities whatsoever which may be taken or
                            made against or incurred by GPTS or by reasons of the premises.</p>
                    </li>
                    <li id="jurisdiction" #jurisdiction class="font-size30 font-color34 custom-text-light border-bottom-none">Jurisdiction
                        <ol>
                            <li>These conditions shall be governed and construed in accordance with Indian Laws. All
                                disputes are subject to the jurisdiction of the courts of New Delhi, India. This website can
                                be accessed from any part of the world. However, by accessing this website you agree
                                that the laws of India, without regard to rules relating to conflict of laws, will apply
                                to all matters relating to your use of this website. Users of this website accessing it
                                from places outside of India acknowledge that they do so voluntarily and are responsible
                                for complying with local laws. GPTS reserves the right at all times to disclose any
                                information as necessary to satisfy any applicable law, regulation, legal process or
                                governmental request, or to edit, refuse to post or to remove any information or
                                materials, in whole or in part, at the sole discretion of GPTS.</li>
                            <li>These Terms & Conditions constitute the entire agreement between the parties with
                                respect to the subject matter hereof and this supersedes and replaces all previous or
                                co-existing understandings/agreements, written/oral, with respect to the subject matter.
                                If any of these conditions is determined by a court of competent jurisdiction to be
                                illegal, Invalid or otherwise unenforceable, that provision shall be severed from these
                                conditions and the remaining provisions shall continue in full force and effect.</li>

                        </ol>
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="page-footer-section text-center">
        <div class="custom-container">
            <div class="custom-head custom-text-medium custom-text-light footer-text-width">
                Experience the assessment test here to explore more about yourself
            </div>
            <div class="sub-text">
                Great days are just ahead of you!
            </div>
            <button class="custom-primary-btn">
                Take the Test
            </button>
        </div>
    </div>


</div> <!-- three ends -->