.home-head-text {
    max-width: 445px;
    margin-bottom: 30px;
    padding-top: 13px;
    margin-top: 50px;
}

.height_100 {
    height: 100%;
}

.main-human-background {
    background-image: url("../../../assets/images//theme-three/Homepage-banner.svg");
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: calc(100% - 474px) 100%;
    padding-top: 50px;
    margin-bottom: 80px;
}
.theme-three .section-padding{padding-top: 30px;
    padding-bottom: 90px;}
.main-home-wrapper { 
    padding-bottom: 70px;
}

.line-height35 {
    line-height: 35px;
}

.video-section-text {
    /* margin-top: 50px; */

    .sub-text {
        margin-top: 30px;
        margin-bottom: 37px;
    }
}


/* Gaga CSS Open */

.border_100 {
    border-radius: 100%;
}

.home-text-heading {
    font-size: 46px;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 20px;
  }

.home-sub-text {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.home-text-small {
    font-size: 20px;
    line-height: 1.6;
}

.three_vid_section {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.three_vid_width {
    width: 30%;
    margin-bottom: 20px;
}

.video_box_width {
    width: 45%;
}

.video_text_box_width {
    width: 48%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.video_sub_texting {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.7;
}

.search_begin_bg {
    background-image: url("../../../assets/images/theme-three/search_begin_bg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 43% 52%;
}

.auto_margin_left_right {
    margin-left: auto;
    margin-right: auto;
}

.circle-links-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-link {
        border-radius: 100%;
        margin-bottom:20px;
        overflow: hidden;
        height: 200px;
        width: 200px;
        position: relative;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        transition: all 1.5s;
        // border: 1px solid #ececec;
        box-shadow: 0px 2px 5px 1px #eaeaea;

        img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            transition: all 1.5s;
        }

        &:hover {
            img {
                transform: scale(1.09);
            }

            &::after {
                animation: sheen 1s;
            }
        }

        &::after {
            content: "";
            opacity: 0;
            position: absolute;
            background: linear-gradient(to bottom,
                rgba(229, 172, 142, 0),
                rgba(255, 255, 255, 0.5) 50%,
                rgba(229, 172, 142, 0));
            transform: rotateZ(60deg) translate(-5em, 7.5em);
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
        }
    }

    .link {
        font-size: 16px;
        text-align: center;
    }
}

.search_c_divide { 
    width: 90%;
    margin-top: 30px;
}

.margin_t60 {
    margin-top: 60px;
}

.blue_check-style-list {
    div {
        padding-left: 40px;
        position: relative;
        margin-bottom: 25px;

        &::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 10px;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            margin: auto;
            background-size: contain;
            background-image: url(../../../assets/images/common/blue_check.gif);
        }
    }
}

.initiatives .custom-head {
    margin-bottom: 10px;
}

.fixed_blocks_height {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.dotted_map {
    background-image: url("../../../assets/images/theme-three/dotted_worldmap.png");
    background-position: bottom-left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    margin-top: 30px;
}

.roychand_init {
    background-image: url("../../../assets/images/theme-three/Roychand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    border-radius: 6px;
    position: relative;
}

.roy_text {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    width: 50%;
    margin-top: 25px;
    margin-left: 15px;
}

.roy_bottom_ul {
    bottom: 5px;
    display: flex;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.roy_bottom_li {
    padding: 0px 15px;
    border-right: 1px solid #bfbfbf;
    line-height: 1;
}

.roy_bottom_ul li:last-Child {
    border-right: none;
}

.roychand_arrow {
    right: 15px;
    bottom: 10px;
    color: #ffffff;
    font-size: 30px;
}

.jain_logo {
    top: 25px;
    right: 30px;
    width: 105px;
}

.special_img_double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.width_init_img2 span {
    font-size: 14px;
}
.amrita_box_bg {
    background-image: url("../../../assets/images/theme-three/10citytour.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48%;
    border-radius: 6px;
    position: relative;
}

.gpts_ns_bg {
    background-image: url("../../../assets/images/theme-three/gpts_nonstem.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48%;
    border-radius: 6px;
    position: relative;
}

.design_box_bg {
    background-image: url("../../../assets/images/theme-three/design_clg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    border-radius: 6px;
    position: relative;
}

.common_img_text_init {
    font-weight: 700;
    font-size: 17px;
    color: #fff;
}

.width_init_img2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 86%;
    line-height: 1.2;
}

.width_init_img3 {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50%;
    line-height: 1.4;
}

.width_init_img4 {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 80%;
    line-height: 1.4;
}

.forbes_left_bg {
    background-image: url("../../../assets/images/theme-three/forbes_left_bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 26% 50%;
}

.forbes_featured {
    // max-width: 240px;
    max-height: 140px;
}

.forbes_box {
    border: 1px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    border-radius: 10px;
    padding: 12px 12px 12px 12px;
    max-height: 140px;
}

.forbes_circular_1 {
    background-image: url("../../../assets/images/theme-three/Great_India_Schools_2019-1.jpg");
    background-size: cover; 
}

.forbes_circle_width {
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.forbes_circular_2 {
    background-image: url("../../../assets/images/theme-three/The_Great_Indian_Schools_2018-1.jpg");
    background-size: cover;
}

.forbes_circular_3 {
    background-image: url("../../../assets/images/theme-three/Forber_Preschools.jpg");
    background-size: cover;
    background-position: top;
}

.forbes_box_head {
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 5px;
}

.forbes_box_subtext {
    font-size: 13px;
    color: #000;
    line-height: 1.2;
}

.tv_series .sub-text {
    margin-bottom: 40px;
}

.tv_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 440px;
    position: relative;
    padding: 10px;
    color: #fff;
}

.tv_boxes_width {
    width: 32%;
    border-radius: 8px;
    margin-bottom: 0;
}

.tv_gii_bg {
    background-image: url("../../../assets/images/theme-three/gii_tv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.tv_logos_top {
    position: absolute;
    top: 25px;
}

.tv_logo_republic {
    position: absolute;
    bottom: 25px;
}

.tv_logo_times_now {
    width: 60px;
}

.tv_gis_bg {
    background-image: url("../../../assets/images/theme-three/gis_tv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tv_ee_bg {
    background-image: url("../../../assets/images/theme-three/ee_tv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tv_right_area_padding {
    padding-left: 40px;
    padding-right: 0;
}

.tv_boxes_head {
    font-size: 28px;
    width: 90%;
    line-height: 1.2;
}

.tv_boxes_subhead {
    font-size: 14px;
    width: 75%;
    line-height: 1.7;
}

.forbes_marquee_first {
    width:18%;
    display: flex;
    margin-right: 0.5rem;
}

.tv_justify {
    justify-content: space-between;
    flex-wrap: wrap;
}

// .featured_stories_padding {
//     padding-right: 60px;
// }

.school_column {
    width: 200px;
    margin-bottom: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.school_circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0 0 8.8px 0.2px rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.star_yellow {
    color: #f1c562;   
}

.school_name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.2px;
}

.school_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Gaga CSS Close */

/*
.circle-links-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-link {
        border-radius: 100%;
        margin-bottom: 38px;
        overflow: hidden;
        height: 300px;
        width: 300px;
        position: relative;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        transition: all 1.5s;
        // border: 1px solid #ececec;
        box-shadow: 0px 2px 5px 1px #eaeaea;

        img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            transition: all 1.5s;
        }

        &:hover {
            img {
                transform: scale(1.09);
            }

            &::after {
                animation: sheen 1s;
            }
        }

        &::after {
            content: "";
            opacity: 0;
            position: absolute;
            background: linear-gradient(to bottom,
                rgba(229, 172, 142, 0),
                rgba(255, 255, 255, 0.5) 50%,
                rgba(229, 172, 142, 0));
            transform: rotateZ(60deg) translate(-5em, 7.5em);
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
        }
    }

    .link {
        font-size: 22px;
        text-align: center;
    }
} */

.inovations-head {
    width: 540px;
    margin-bottom: 60px;

    .blue-text {
        margin-bottom: 35px;
    }
}

.show-fade {
    animation: showup 0.5s;
}

.hide-fade {
    animation: hideDown 0.5s;
}

.innovations-head {
    font-size: 25px;
    margin: 15px 0 26px;
}

.innovation-box {
    margin-bottom: 40px;
}

.innovations-wrapper {
    img {
        height: 44px;
    }

    .link {
        margin-top: 28px;
        display: inline-block;
    }

    .col {
        // &:first-child {
        //     padding-left: 0;
        // }

        // &:last-child {
        //     padding-right: 0;
        // }
    }
}

.load-more-button {
    margin-top: 90px;
}

.great-thing-content {
    padding-top: 85px;

    img {
        height: 360px;
        width: 450px;
    }

    .custom-col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .great-thing-content-text {
        padding-left: 80px;
        width: calc(100% - 470px);
    }

    .sub-text {
        margin-bottom: 40px;
    }
}

.great-things-background {
    background-image: url("../../../assets/images/theme-three/great-home-bg.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.check-style-list {
    div {
        padding-left: 40px;
        position: relative;
        margin-bottom: 10px;

        &::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 5px;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            margin: auto;
            background-size: contain;
            background-image: url(../../../assets/images/common/tick-bullet.gif);
        }
    }
}

.discover-bg {
    background: url("../../../assets/images/theme-three/discover-bg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 52% 57%;
}

.discover-pills-wrapper {
    margin-top: 66px;

    a {
        padding: 12px 20px;
        background-color: #ebebeb;
        border-radius: 10px;
        display: inline-block;
        color: #333333;
        font-size: 16px;

        &:hover {
            background: #c1c1c1;
        }
    }

    div {
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

.discover-content-wrapper {
    max-width: 670px;
}

.blog-card-section {
    margin-top:55px;
}

.custom-vid-wrapper {
    video {
        // height: 400px;
        background: black;
    }
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -24em);
        opacity: 1;
    }
}

@keyframes showup {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hide-fade {
    100% {
        transform: translateY(100px);
    }
}

.innovations-wrapper {
    margin-top: 40px;
}

.footer-text-width {
    margin: auto;
    margin-bottom: 15px;
}

@media (max-width: 1366px) {
    .home-text-heading {
        font-size: 46px;
    }
    .home-sub-text {
        font-size: 26px;
    }
}

// For tab view
@media (max-width: 1199px) {
    .main-human-background {
        background: none;
    }

    .home-head-text {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-home-wrapper {
        text-align: center;
        padding-top: 10px;
    }

    .video-section-text {
        margin-bottom: 30px;
    }

    /*.circle-links-wrapper {
        margin-top: 60px;

        .link {
            font-size: 25px;
        }
    }*/

    .great-thing-content {
        .custom-col {
            width: 100%;
            text-align: center;

            &.great-thing-content-text {
                width: 100%;
                text-align: left;
                margin-top: 54px;
                padding-left: 0;
            }
        }
    }

    .discover-container {
        .image-container {
            justify-content: center;
        }
    }

    .discover-content-wrapper {
        text-align: center;
        margin: auto;
        padding-top: 40px;
    }

    .main-human-background {
        margin-bottom: 0px;
    }

    .inovations-head {
        margin-bottom: 24px;
    }

    .blogs-section {
        padding-top: 0;
    }

    .discover-bg {
        background-size: 60% 64%;
    }

    .discover-pills-wrapper {
        justify-content: center;
    }

    .blog-card-section {
        margin-top: 40px;
    }

    .line-height35 {
        line-height: 35px;
    }

    /* Gaga CSS Open */

    .forbes_box_subtext {
        display: none;
    }

    .forbes_box {
        padding: 12px 8px 4px 8px;
    }

    .forbes_box_head {
        max-width: 100%;
    }

    .tv_right_area_padding {
        padding-left: 20px;
    }

    .home-text-heading {
        font-size: 46px;
    }

    .home-sub-text {
        font-size: 26px;   
    }

    .home-text-small {
        font-size: 18px;
    }

    .video_sub_texting {
        font-size: 18px;
    }

    .initiatives .home-text-heading, .initiatives .home-sub-text {
        text-align: center;
    }

    .featured_stories_padding {
        padding-right: 0;
    }

    .roy_bottom_ul {
        font-size: 16px;
    }
    
    /* Gaga CSS Close */
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    /* Gaga CSS Open */

    .circle-links-wrapper {
        margin-top: 30px;

        .link {
            font-size: 16px;
        }
    }

    // .forbes_featured {
    //     max-width: 200px;
    // }

    .circle-links-wrapper .image-link {
        height: 200px;
        width: 200px;
        margin-bottom: 30px;
    }

    .search_c_divide {
        margin-top: 15px;
    }

    .forbes_box_head {
        max-width: 100%;
    }

    .tv_series .sub-text {
        font-size: 26px;
        line-height: 32px;
    }

    .roy_bottom_li[_ngcontent-c2] {
        padding: 0px 5px;
    }

    /* Gaga CSS Close */
}

@media (max-width: 991px) {
    .great-things-background {
        background-image: url("../../../assets/images/theme-three/mobile-inov.jpg");
        background-size: 100% 100%;
    }

    .main-human-background {
        flex-direction: column-reverse;
    }

    .main-home-wrapper {
        padding-top: 27px;
        padding-bottom: 0;
    }

    .home-head-text {
        margin-bottom: 30px;
        max-width: 268px;
    }

    .load-more-button[_ngcontent-c2] {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .video-wrapper {
        padding-top: 20px;
        border-top: 1px solid #dee2e6;

        video {
            margin-top: 0px;
        }
    }

    .custom-vid-wrapper {
        margin-top: 24px;
    }

    .circle-links-wrapper {
        margin-top: 29px;

        .image-link {
            margin-bottom: 19px;
        }
    }

    .innovation-container {
        padding-bottom: 40px;

        .section-padding {
            padding-bottom: 0;
        }
    }

    .innovation-text-wrapper {
        text-align: center;
    }

    .inovations-head {
        max-width: 326px;
        margin: 0 auto;
        margin-bottom: 54px;
        margin-top: 30px;
    }

    .innovation-box {
        text-align: center;
        padding: 25px 15px 35px;
        border-radius: 3px;
        border: solid 1px #efefef;
        background-color: #f9f9f9;
        margin-bottom: 12px;
    }

    /* Gaga CSS Open */

    .video_box_width {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .video_text_box_width {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        justify-content: center;
        text-align: center;
    }

    .search_c_divide {
        margin-top: 14.5px;
    }

    .fixed_blocks_height {
        height: auto;
        margin-top: 0;
    }

    .dotted_map {
        height: auto;
    }

    .roychand_init, .special_img_double, .design_box_bg {
        height: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .forbes_marquee_first {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.forbes_box {
    width: 32.5%;
}

.tv_right_area_padding {
    padding-left: 15px;
    padding-right: 15px;
}

.home-text-heading {
        font-size: 35px;
    }

    .home-sub-text {
        font-size: 26px;   
    }

    .home-text-small {
        font-size: 18px;
    }

    .home-page .sub-text {
        font-size: 24px;
    }

    /* Gaga CSS Close */
}


@media (max-width: 767px) {
.tv_boxes_width {
    width: 60%;
    margin-right: auto;
    margin-left: auto;  
}

.tv_boxes_width {
    width: 45%;
}

.video_box_width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.video_text_box_width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
}

.video_text_box_width .custom-text-medium {
    width: 100%;
    margin-bottom: 20px;
}

.video_text_box_width .video_sub_texting {
    display: none;
}

.three_vid_width {
    width: 45%;
}

.three_vid_section {
    justify-content: space-around;
}

.forbes_box {
    padding: 4px;
}

.forbes_box {
    width: 49%;
    margin-bottom: 20px;
}

.forbes_box_subtext {
    display: block;
}

    .video_text_box_width .home-text-heading {
        width: 100%;
        margin-bottom: 25px;
    }

    .roy_bottom_li {
        line-height: 1.4;
    }

    .roy_bottom_li {
        padding: 0 7px;
    }

}

@media (max-width: 575px) {

.tv_boxes_width {
        width: 65%;
    }

    .forbes_box {
    width: 75%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.blue_check-style-list {
    display: none;
}

.three_vid_width {
    width: 65%;
}

.school_column {
    margin-left: auto;
    margin-right: auto;
}

.roychand_arrow {
    display: none;
}

}

@media (max-width: 540px) {
    .inovations-head {
        max-width: 80%;
    }

    .great-thing-content {
        padding-top: 24px;
    }

    .main-human-background {
        margin-bottom: 0;
    }

    .main-home-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .custom-primary-btn {
            margin-bottom: 20px;
        }

        .custom-secondary-btn {
            margin-left: 0;
        }
    }

    .image-link {
        width: 250px;
        height: 250px;
    }

    .roy_bottom_ul {
        font-size: 13px;
    }

    .roy_text {
        width: 70%;
    }

    .jain_logo {
        width: 55px;
    }
}