.searchFr{
    color: #546170;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding-top: 28px;
    margin-bottom: 0;
}

.customSearchResult{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f8f8f8;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 0;
}

.nineRotate{
    transform: rotate(90deg);
}

.rowMarginFilter{
    margin-top: 1em;
    margin-bottom: 3em;
}

.searchUser{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 16px;
    margin-bottom: 5px;
}

.searchExam{
    font-family: 'Open Sans', sans-serif;
    color: #546170;
    font-size: 12px;
    margin-bottom: 1px;
}

.imgSearchProfile{
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin-top: -10px;
}


.searchReview{
    color: #1dc8db;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.searchShortlist{
    color: #1dc8db;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-right: 15px;
}

.iconShortlist{
    color: #eac620;
}

.iconReview{
    color: #fa365b;
}

.searchPara{
    color: #8299b4;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.bioSearch{
    color: #546170;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 4px;
}

.modalSearchSlider{
    color: #919eae;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-rendering: geometricPrecision;
}

.applicant{
    color: #919eae;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-rendering: geometricPrecision;
    display: inline-block;
}

.modal-dialog{
    max-width: 1000px;
}

.marginToggleTop{
    margin-top: 1em;
    margin-bottom: 1em;
}

.rightBrSignature{
    border-right: 1px solid #d4d4d4;
}

.viewBlue{
    color: #1dc8db;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-rendering: geometricPrecision;
}

.reedBtn{
    background: #582a7d;
    border-radius: 20px;
    padding: 7px 24px;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: inline-block;
}

.violetBtn{
    background: #f61c66;
    border-radius: 20px;
    padding: 7px 24px;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: inline-block;
    margin-right: 2%;
}

button.close {
    padding-right: 10px;
}

.greyBtnEdit{
    display: block;
    border: 1px solid #d4d4d4;
    color: #546170;
    padding: 5px 4px;
    font-weight: 400;
    text-align: center;
    width: 85px;
    border-radius: 2px;
    margin-bottom: 2em;
    font-size: 13px;
}