<div class="students-page-container">
  <!-- application header -->
    <app-header></app-header>
  <!-- header image -->
  <div class="container-fluid removePadding">
      <div class="row">
          <div class="poster-image"> <img class="poster-image" src="assets/images/comparison/students-page.jpg">
            <p class="posterHead">Hello Student</p>
          </div>
      </div>
  </div>
  <!-- header image ends -->

<!-- search box -->
<div class="container whiteBoxPosition">
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
    <!-- search box-->
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
      <div class="whiteBox">
        <p class="searchText text-center">Nisi nostrud reprehenderit nostrud. Lorem nostrud pariatur ut nisi. In veniam, magna ad non.</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control customForm-Control" placeholder="Enter your preference here" aria-label="Enter your preference here" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary searchBtn" type="button" id="button-addon2">Search</button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
  </div>

</div>

<!-- 3 boxes -->

<div class="container cardPosition">
  <div class="row">
    <!-- career discovery -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="cardWhite text-center">
        <!-- image -->
        <img src="../../../assets/images/common/cd.png" class="img-fluid iconStudent" alt="image">
        <!-- heading -->
        <h5 class="studentCardHeading text-center">Career Discovery</h5>
        <!-- paragraph-->
        <p class="text-center studentCardText">Laborum ut ad proident, dolor reprehenderit. Sunt non Lorem eu. Dolor consequat dolore in esse cupidatat. Ut in ut sed in aute. Minim tempor in nisi eu Duis. Mollit velit pariatur Duis. Deserunt dolore in cupidatat ullamco incididunt</p>
        <!-- button -->
        <div>
          <a href="#" class="btn blueHollowBtn">Start Now</a>
        </div>
      </div>


    </div>
    <!-- career library -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

        <div class="cardWhite text-center">
            <!-- image -->
            <img src="../../../assets/images/common/cl.png" class="img-fluid iconStudent" alt="image">
            <!-- heading -->
            <h5 class="studentCardHeading text-center">Career Library</h5>
            <!-- paragraph-->
            <p class="text-center studentCardText">Laborum ut ad proident, dolor reprehenderit. Sunt non Lorem eu. Dolor consequat dolore in esse cupidatat. Ut in ut sed in aute. Minim tempor in nisi eu Duis. Mollit velit pariatur Duis. Deserunt dolore in cupidatat ullamco incididunt</p>
            <!-- button -->
            <div>
              <a href="#" class="btn blueHollowBtn">Explore Now</a>
            </div>
          </div>
    </div>
    <!-- common application -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

        <div class="cardWhite text-center">
            <!-- image -->
            <img src="../../../assets/images/common/ca.png" class="img-fluid iconStudent" alt="image">
            <!-- heading -->
            <h5 class="studentCardHeading text-center">Career Application</h5>
            <!-- paragraph-->
            <p class="text-center studentCardText">Laborum ut ad proident, dolor reprehenderit. Sunt non Lorem eu. Dolor consequat dolore in esse cupidatat. Ut in ut sed in aute. Minim tempor in nisi eu Duis. Mollit velit pariatur Duis. Deserunt dolore in cupidatat ullamco incididunt</p>
            <!-- button -->
            <div>
              <a href="#" class="btn blueHollowBtn">Start Now</a>
            </div>
          </div>
    </div>
  </div>
</div>



  </div>