<!-- app header -->
<app-header></app-header>

<div class="ratingsContainer">

    <!-- ratings -->
    <div class="container-fluid whiteBox">
        <!-- header -->
        <div class="row headingSpacing">
            <div class="col-6">
                <h3 class="boxHeading">Ratings</h3>
            </div>

            <div class="col-6">

            </div>
        </div>

        <!-- criteria to apply -->
        <div class="row">
            <!-- heading -->
            <div class="col-12">
                <p class="headProgram">Criteria to apply</p>
            </div>

            <!-- body -->
            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col">
                    <p class="paraOne">Atleast 3 years into establishment</p>
                </div>
                <div class="col">
                    <p class="paraOne">Catering to UG,PCt, above 12th students</p>
                </div>
                <div class="col">
                    <p class="paraOne">Affiliation to state /CBSE / ICSE</p>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

        </div>


        <!-- = details = -->
        <div class="row">
            <!-- heading -->
            <div class="col-12">
                <p class="headProgram">Details</p>
            </div>

            <!-- body -->
            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Institutes
                            Registered Name</label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Affilicated
                            to</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

        </div>

        <!-- = institutes details =  -->
        <div class="row">
            <!-- heading -->
            <div class="col-12">
                <p class="headProgram">Institutes Details</p>
            </div>

            <!-- body -->
            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right"></label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <p class="text-center headOne">UG</p>
                            </div>
                            <div class="col-3">
                                <p class="text-center headOne">PG</p>
                            </div>
                            <div class="col-3">
                                <p class="text-center headOne">Other</p>
                            </div>
                            <div class="col-3">
                                <p class="text-center headOne">Total</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>




            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">No. of
                            Students</label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>


            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">No. of
                            Parents</label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">No. of
                            Teachers</label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>


            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">No. of
                            Alumni</label>
                        <div class="col-sm-9 d-flex">
                            <div class="col-3 removePadding">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                            <div class="col-6">
                                <label for="inputEmail3" class="col-form-label createLabel text-right">Total No. of
                                    Students</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Batches</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>



        </div>


        <!-- = head of institutes = -->
        <div class="row">
            <!-- heading -->
            <div class="col-12 d-xl-flex d-lg-flex d-md-flex">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <p class="headProgram">Head of Institute/ Principal's Details</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <p class="headProgram">POC Contact Details</p>
                </div>


            </div>

            <!-- body -->
            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <!-- left side -->
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Name</label>
                        <div class="col-sm-9 d-flex">

                            <input type="text" class="form-control" id="inputEmail3">

                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputEmail3"
                            class="col-sm-3 col-form-label createLabel text-right">Designation</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Email Id</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Office
                            No.</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Mobile
                            No.</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>





                </div>

                <!-- right side -->
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Name</label>
                        <div class="col-sm-9 d-flex">

                            <input type="text" class="form-control" id="inputEmail3">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3"
                            class="col-sm-3 col-form-label createLabel text-right">Designation</label>
                        <div class="col-sm-9 d-flex">

                            <input type="text" class="form-control" id="inputEmail3">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Email ID</label>
                        <div class="col-sm-9 d-flex">

                            <input type="email" class="form-control" id="inputEmail3">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Office
                            No.</label>
                        <div class="col-sm-9 d-flex">

                            <input type="text" class="form-control" id="inputEmail3">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Mobile
                            No.</label>
                        <div class="col-sm-9 d-flex">

                            <input type="text" class="form-control" id="inputEmail3">

                        </div>
                    </div>


                </div>




                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

        </div>

        <!-- = additional information = -->
        <div class="row">
            <!-- heading -->
            <div class="col-12">
                <p class="headProgram">Additional Information</p>
            </div>

            <!-- body -->
            <div class="col-12 d-xl-flex- d-lg-flex d-md-flex">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label createLabel text-right">Anything unique
                            that want to seek feedback on</label>
                        <div class="col-sm-9 d-flex">

                            <textarea class="form-control"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            </div>

        </div>

        <!-- btn -->
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <button class="saveBtn roundBtn text-uppercase">Submit</button>
                </div>
            </div>
        </div>





    </div>


</div>