<app-header></app-header>

<div class="container mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <img src="assets/images/common/500-internal-shan.gif" class="img-fluid errorImage" alt="image"
        width="70%">
    </div>
    <!-- text -->
    <div class="col-12 text-center">
      <h2 class="errorHead">We are fixing it !</h2>
      <p>Can’t open the page due to technical error. Sorry for any inconvenience</p>
      <a routerLink="/home" class="btn blueErrorBtn">Go to Home Page</a>
    </div>
  </div>
</div>