<app-header></app-header>

<div class="theme-three">
	<!-- banner section -->
	<div class="studentBack dynheader">
		<div class="custom-container banner-height">
			<div class="row">
				<div class="col-lg-5 col-12 text-center text-lg-left mt-5">
					<h2 class="text-big">Top Institutes are looking for you
					</h2>
					<p class="text-macro">&nbsp;</p>
				</div>
				<div class="col-lg-7 col-12 text-center text-lg-right">
					<img src="assets/images/theme-three/top_banners/get-dis-vector.png" class="img-fluid bannerImgSub"
						alt="img">
				</div>
			</div>
		</div>
	</div>

	<!-- Dream College -->
	<div class="gray-background">
		<div class="custom-container section-padding">
			<div class="row">
				<div class="col-lg-12">
					<div class="video-section-text text-center">
						<div class="custom-text-medium custom-text-light mb-3">Choose from the finest institutions in
							the country</div>
						<p class="text-small font-color34 margin-top38">With CDAP, enrolling in to your favourite
							institute has become easy and exciting.
							The Career Discovery and Acceleration Platform (CDAP) gives you the tools to navigate your
							search for a good college. It offers you the chance to find an institute that is a perfect
							fit for your interests and passion. With a click of a button, you will have doors of
							opportunity swing open just for you.
						</p>
					</div>
				</div>

				<!-- <div class="col-lg-12">
					<div class="videos_3_text_area">
						
						<div class="discover_3_video_text">
							<div class="margin-bottom68 video_white_thin_border">
								<div class="embed-responsive embed-responsive-16by9 ">
									
									<vg-player class="embed-responsive-item">
										<vg-overlay-play></vg-overlay-play>
										<vg-buffering></vg-buffering>
										<vg-controls>
											<vg-play-pause></vg-play-pause>
											<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
											<vg-scrub-bar [vgSlider]="true">
												<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
												<vg-scrub-bar-buffering-time vgFor="homeVideo">
												</vg-scrub-bar-buffering-time>
											</vg-scrub-bar>
											<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
											<vg-mute></vg-mute>
											<vg-volume></vg-volume>
											<vg-fullscreen></vg-fullscreen>
										</vg-controls>
										<video preload="auto" [poster]="homeVideoThumb" [vgMedia]="homeVideo"
											[src]="homeVideoUrl" class="videoClass" #homeVideo></video>
									</vg-player>
								</div>
							</div>

							<div class="whiteBoxVideo">
								<p class="text-macro">IIT</p>
								<p class="font-size14">Delhi</p>
							</div>
						</div>

						
						<div class="discover_3_video_text">
							<div class="margin-bottom68 video_white_thin_border">
								<div class="embed-responsive embed-responsive-16by9 ">
									
									<vg-player class="embed-responsive-item">
										<vg-overlay-play></vg-overlay-play>
										<vg-buffering></vg-buffering>
										<vg-controls>
											<vg-play-pause></vg-play-pause>
											<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
											<vg-scrub-bar [vgSlider]="true">
												<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
												<vg-scrub-bar-buffering-time vgFor="homeVideo">
												</vg-scrub-bar-buffering-time>
											</vg-scrub-bar>
											<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
											<vg-mute></vg-mute>
											<vg-volume></vg-volume>
											<vg-fullscreen></vg-fullscreen>
										</vg-controls>
										<video preload="auto" [poster]="homeVideoThumb" [vgMedia]="homeVideo"
											[src]="homeVideoUrl" class="videoClass" #homeVideo></video>
									</vg-player>
								</div>
							</div>

							<div class="whiteBoxVideo">
								<p class="text-macro">University of Delhi</p>
								<p class="font-size14">Delhi</p>
							</div>
						</div>

						
						<div class="discover_3_video_text">
							<div class="margin-bottom68 video_white_thin_border">
								<div class="embed-responsive embed-responsive-16by9 ">
									
									<vg-player class="embed-responsive-item">
										<vg-overlay-play></vg-overlay-play>
										<vg-buffering></vg-buffering>
										<vg-controls>
											<vg-play-pause></vg-play-pause>
											<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
											<vg-scrub-bar [vgSlider]="true">
												<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
												<vg-scrub-bar-buffering-time vgFor="homeVideo">
												</vg-scrub-bar-buffering-time>
											</vg-scrub-bar>
											<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
											<vg-mute></vg-mute>
											<vg-volume></vg-volume>
											<vg-fullscreen></vg-fullscreen>
										</vg-controls>
										<video preload="auto" [poster]="homeVideoThumb" [vgMedia]="homeVideo"
											[src]="homeVideoUrl" class="videoClass" #homeVideo></video>
									</vg-player>
								</div>
							</div>

							<div class="whiteBoxVideo">
								<p class="text-macro">Guru Gobind University</p>
								<p class="font-size14">Delhi</p>
							</div>
						</div>

					</div>
				</div> -->

			</div>
		</div>
	</div>

	<!-- Reach Them -->
	<div class="custom-container section-padding timeline_container">
		<div class="row">
			<div class="col-12 margin-bottom50">
				<div class="custom-text-medium custom-text-light text-center"> How can you reach out to them?</div>
			</div>
		</div>

		<!-- Timeline -->
		<div class="row timeline position-relative">
			<!-- 1 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-4 position-relative odd_margin_auto">
					<div
						class="mb-3 d-flex align-items-center justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-end flex-row-reverse flex-xl-row flex-lg-row flex-md-row">
						<i class="position-absolute time_dots time_dots_odd"></i>
						<img src="assets/images/theme-three/get_discovered/timeline_1.png"
							class="timeline_img_max img-fluid">
						<div class="purple_box text-uppercase">One</div>
					</div>
					<div class="odd_padding">
						<div class="custom-text-medium custom-text-light">Complete your profile</div>
						<p class="text-small font-color34 margin-top38">Simply by filling out a form with your basic
							information, education details, interests and family information, you will be on your way to
							enrol in the programme. The information that you provide will be entered into CDAP and used
							to formulate a list of the best colleges for you.</p>
					</div>
				</div>
			</div>

			<!-- 2 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-4 position-relative even_margin_auto">
					<div class="mb-3 d-flex align-items-center">
						<i class="position-absolute time_dots time_dots_even"></i>
						<div class="purple_box text-uppercase">Two</div>
						<img src="assets/images/theme-three/get_discovered/timeline_2.png"
							class="timeline_img_max img-fluid">
					</div>
					<div class="even_padding">
						<div class="custom-text-medium custom-text-light">Upload your written & Video SOP</div>
						<p class="text-small font-color34 margin-top38">In your own words, talk about your interests
							through written and video Statement of Purpose (SOP) and reach out to the best universities.
							The SOP will boost your profile. The topics for the SOP will be provided by interested
							institutes with a stipulated time range.</p>
					</div>
				</div>
			</div>

			<!-- 3 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-4 position-relative odd_margin_auto">
					<div
						class="mb-3 d-flex align-items-center justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-end flex-row-reverse flex-xl-row flex-lg-row flex-md-row">
						<i class="position-absolute time_dots time_dots_odd"></i>
						<img src="assets/images/theme-three/get_discovered/timeline_3.png"
							class="timeline_img_max img-fluid">
						<div class="purple_box text-uppercase">Three</div>
					</div>
					<div class="odd_padding">
						<div class="custom-text-medium custom-text-light">Shortlist your favourite colleges</div>
						<p class="text-small font-color34 margin-top38">You can make a list of your favourite colleges
							by simply clicking on the heart-shaped icon next to the college. If you want more details
							about the institution, a detailed university micro site will be made available to you during
							the process. Hence, allowing you to research thoroughly and narrow down your choices.</p>
					</div>
				</div>
			</div>

			<!-- 4 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-4 position-relative even_margin_auto">
					<div class="mb-3 d-flex align-items-center">
						<i class="position-absolute time_dots time_dots_even"></i>
						<div class="purple_box text-uppercase">Four</div>
						<img src="assets/images/theme-three/get_discovered/timeline_4.png"
							class="timeline_img_max img-fluid">
					</div>
					<div class="even_padding">
						<div class="custom-text-medium custom-text-light">Submit Required Information</div>
						<p class="text-small font-color34 margin-top38">Any institute that you add on your favourites
							list may ask you to submit some documents and information. Requirements may include marks
							sheets, identity proof, and transfer certificate among others. By submitting the necessary
							information, you will have the opportunity to get shortlisted by your favourite institute.
						</p>
					</div>
				</div>
			</div>

			<!-- 5 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-4 position-relative odd_margin_auto">
					<div
						class="mb-3 d-flex align-items-center justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-end flex-row-reverse flex-xl-row flex-lg-row flex-md-row">
						<i class="position-absolute time_dots time_dots_odd"></i>
						<img src="assets/images/theme-three/get_discovered/timeline_5.png"
							class="timeline_img_max img-fluid">
						<div class="purple_box text-uppercase">Five</div>
					</div>
					<div class="odd_padding">
						<div class="custom-text-medium custom-text-light">Apply to your DREAM College</div>
						<p class="text-small font-color34 margin-top38">You can now directly apply to your dream college
							using our one-step common application form. By providing all the necessary information, you
							can apply to multiple colleges. The process of college admissions has never been this easy.
						</p>
					</div>
				</div>
			</div>

			<!-- 6 -->
			<div class="col-12">
				<div class="col-lg-6 col-md-6 mb-5 position-relative even_margin_auto">
					<div class="mb-3 d-flex align-items-center">
						<i class="position-absolute time_dots time_dots_even"></i>
						<div class="purple_box text-uppercase">Six</div>
						<img src="assets/images/theme-three/get_discovered/timeline_6.png"
							class="timeline_img_max img-fluid">
					</div>
					<div class="even_padding">
						<div class="custom-text-medium custom-text-light">Get notified on your application status</div>
						<p class="text-small font-color34 margin-top38">Once your form has been filled and submitted,
							you will receive updates on the status of your application form. It has an added advantage
							of tracking multiple applications in different universities. Get instant notifications on
							the progress of your application form on your personalised dashboard.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefits -->
	<div class="purple_area">
		<div class="custom-container section-padding map_purple">
			<div class="row">
				<div class="col-12">
					<div class="custom-text-medium custom-text-light text-center mb-3">Benefits
					</div>
					<div class="orange-text sub-text text-center">CDAP has been designed to give you an invaluable
						advantage when it comes to finding your dream college and career.</div>
				</div>
			</div>

			<!-- Benefits -->
			<div class="row margin_t60">
				<div class="col-lg-5 col-md-5 col-sm-7 col-10 mx-auto mb-4">
					<img src="assets/images/theme-three/get_discovered/benefits.png" class="img-fluid">
				</div>

				<div class="col-lg-7">
					<div class="blue_check-style-list">
						<div class="text-small font-color34">Our platform gives you detailed information regarding
							career choices and education courses so that you can discover the best options for you.
						</div>
						<div class="text-small font-color34">Discover short summer courses and internships in your
							preferred field to get a flavour of your future career. Look for social internships to aid
							your application process.</div>
						<div class="text-small font-color34">Gain real-time insights from students studying in your
							dream university. Experience the life on campus and learning methodology through dynamic
							visual content.</div>
						<div class="text-small font-color34">Interact with counsellors, mentors, admission officers,
							students and alumni from various universities to gain further insight in to courses and
							programmes of your interest.</div>
						<div class="text-small font-color34">Attend student-focused nano classes to explore future
							possibilities and avenues offered by top universities.</div>
						<div class="text-small font-color34">Apply to various universities and colleges through our
							one-step college application form. </div>
						<div class="text-small font-color34">Find information regarding scholarships and financial aid
							opportunities to boost your application. </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="page-footer-section text-center get_discover_footer">
		<div class="custom-container">
			<div class="custom-head custom-text-medium custom-text-light footer-text-width">
				Exited to be a global league institute?
			</div>
			<div class="sub-text">
				Great things are on the horizon.
			</div>
			<button (click)="openSignupModal()" class="custom-primary-btn">
				Get Started
			</button>
		</div>
	</div>

</div>