<div class="course-page-container">
  <!-- header -->
  <app-header></app-header>
  <!-- header image (note: have to discuss with manu regarding slider at this place) -->
  <div class="container-fluid removePadding">
    <div class="row">
      <div class="col-12 poster-image bannermarginTop"> <img class="poster-image"
          src="assets/images/comparison/school-slider.jpg">
        <img src="assets/images/common/certified-logo.png" class="img-fluid certifiedLogo" alt="images">
      </div>
    </div>
  </div>

  <!-- school logo + name + rate -->
  <div class="container-fluid customContainer">
    <div class="row d-xl-flex d-lg-flex d-md-flex">
      <!-- logo -->
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <img src="assets/images/common/school-logo.jpg" class="img-fluid schoolLogoLocation" alt="school-logo">
      </div>
      <!-- school name , location, location -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- school name -->
        <h5 class="schoolName">Jagran Lakecity University, <span class="schoolLocation">Bhopal</span> <span
            class="schoolRating">4.5</span>
        </h5>
        <p class="starSizeLocation"><i class="fa fa-star goldStar"></i><i class="fa fa-star goldStar"></i><i
            class="fa fa-star goldStar"></i><i class="fa fa-star goldStar"></i><i class="fa fa-star greyStar"></i></p>
      </div>
    </div>
  </div>
  <!-- school logo + name + rate -->


  <!-- course detail -->
  <div class="container-fluid customContainer">
    <div class="row d-xl-flex d-lg-flex d-md-flex">
      <!-- course name -->
      <div class="col-12">
        <!-- heading -->
        <h4 class="schoolHeading">JLU School Of Law</h4>
        <p class="schoolPara text-justify">The School of Law fosters comprehensive legal education to a diverse and
          talented body of students. The students are exposed to new ideas, international perspectives, and innovative
          teaching in an encouraging and open academic environment. With a high quality education bolstered by unique
          work experiences, our graduating students are well equipped with the skills they need to succeed in a diverse
          set of fields, in India and abroad. We are engaged in achieving the prime goal of producing competent legal
          professionals with requisite knowledge, skills and character with a commitment towards justice, human values
          and social welfare.</p>
      </div>



      <!-- key features -->
      <div class="col-12 marginWhyTop">
        <!-- heading -->
        <h4 class="schoolHeading">Key Features</h4>
        <ul>
          <li class="schoolPara">Dedicated Centres in emerging sectors of Law (viz. Infrastructural Laws, Competition
            Law & Policy, IP Laws, ADR, Human Rights and Gender Justice and Good Governance, Law and Policy) to promote
            quality research in the respective fields and intensive professional growth of the students.</li>

          <li class="schoolPara">Dedicated Centres in emerging sectors of Law (viz. Infrastructural Laws, Competition
            Law & Policy, IP Laws, ADR, Human Rights and Gender Justice and Good Governance, Law and Policy) to promote
            quality research in the respective fields and intensive professional growth of the students.</li>

          <li class="schoolPara">Dedicated Centres in emerging sectors of Law (viz. Infrastructural Laws, Competition
            Law & Policy, IP Laws, ADR, Human Rights and Gender Justice and Good Governance, Law and Policy) to promote
            quality research in the respective fields and intensive professional growth of the students.</li>

          <li class="schoolPara">Dedicated Centres in emerging sectors of Law (viz. Infrastructural Laws, Competition
            Law & Policy, IP Laws, ADR, Human Rights and Gender Justice and Good Governance, Law and Policy) to promote
            quality research in the respective fields and intensive professional growth of the students.</li>

          <li class="schoolPara">Dedicated Centres in emerging sectors of Law (viz. Infrastructural Laws, Competition
            Law & Policy, IP Laws, ADR, Human Rights and Gender Justice and Good Governance, Law and Policy) to promote
            quality research in the respective fields and intensive professional growth of the students.</li>

        </ul>
        <hr>
      </div>

    </div>
  </div>

  <!-- fee structure for 2018 session -->
  <div class="container-fluid customContainer marginWhyTop">
    <div class="row">
      <div class="col-12">
        <h4 class="schoolHeading">Fee Structure for 2018 Session</h4>
      </div>
      <div class="customTable col-12 remove-padding">
        <div class="col-12 remove-padding">
          <!-- table -->
          <table class="table table-bordered">
            <thead class="table-dark customTableGrey">
              <tr class="text-center">
                <th>Programme Name</th>
                <th>Duration</th>
                <th>Admission Charges<br><span class="smallHeadTable">(One Time: Non Refundable)</span></th>
                <th>Tution Fees<span class="smallHeadTable">(Per Year)</span></th>
                <th>Examination Fees<span class="smallHeadTable">(Per Year)</span></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody class="text-center customTD">

              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortlisted">Shortlisted</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applied">Applied</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>-</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>INR 10,000</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o customPdfIcon"></i> BBA LLB (Hons)</td>
                <td>5 Years</td>
                <td>INR 20,000</td>
                <td>INR 1,25,000</td>
                <td>-</td>
                <td><a href="#" class="shortliste">Shortlist</a></td>
                <td><a href="#" class="comparee">Compare</a></td>
                <td><a href="#" class="applyee">Apply</a></td>
              </tr>

            </tbody>
          </table>
        </div>

        <!-- para after table -->
        <div class="col-12">
          <p class="tableAfterText">In addition to above fee structure the student also needs to be below mentioned
            charges:</p>
          <div class="d-xl-flex d-lg-flex d-md-flex">
            <ul class="customUl">
              <li>Caution Money (One Time; Refundable): Rs. 5,000</li>
              <li>Alumni Fund (One Time; Non-Refundable): Rs. 10,000</li>
            </ul>
            <ul class="customUl">
              <li>Digitalisation Charges (per year): Rs. 5,000
              </li>
              <li>Book Bank Fee (One Time; Non-Refundable): Rs 10,000<sup>*</sup></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- scholarships -->
  <div class="container-fluid greyBg remove-padding">
    <div class="container-fluid customContainer marginWhyTop ">

      <div class="row">
        <!-- heading -->
        <div class="col-12">
          <h4 class="schoolHeading">Scholarships:</h4>
        </div>
        <!-- para -->
        <div class="col-12">
          <p>The Jagran Lakecity School of law offers merit based scholarships. For more details please visit the <a
              href="#">scholarship section</a></p>
        </div>
        <!-- button -->
        <div class="col-12 d-flex">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center">
            <a href="#" class="btn greenBtn text-uppercase">Apply for scholarships</a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
        </div>
      </div>

    </div>
  </div>


  <!-- courses -->
  <div class="container-fluid customContainer marginWhyTop">
    <!-- heading -->
    <div class="row">
      <div class="col-12">
        <h4 class="schoolHeading">Courses</h4>
        <p class="schoolPara">Excepteur minim amet, aliquip. Dolore dolore velit mollit nisi ut. Ut reprehenderit
          pariatur cupidatat mollit eiusmod. Ipsum voluptate aute est. In ipsum deserunt dolor. Magna quis velit
          consequat consequat sit. Fugiat nisi est consectetur aute. Ullamco eu deserunt veniam, </p>
      </div>
    </div>

    <!-- course links -->
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

    </div>

    <!-- course links 2 -->
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

    </div>

    <!-- course links 3 -->
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <a href="#">
          <div class="whiteStripCard d-flex">
            <div class="borderImg col-3"><img src="assets/images/courses/c1.png" class="img-fluid courseIcon">
            </div>
            <div class="courseNameTextBox col-9 text-center">JLU School of Law</div>
          </div>
        </a>
      </div>

    </div>

    <!-- load more -->
    <div class="row">
      <div class="col-12 text-right">
        <a href="#" class="loadMore">Load More</a>
        <hr>
      </div>
    </div>

  </div>

  <!-- button -->
  <div class="container-fluid customContainer btnMargin">
    <div class="row d-xl-flex d-lg-flex d-md-flex">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
      <!-- button -->
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-xl-flex d-lg-flex d-md-flex">
        <div class="col">
          <a href="#" class="greenBtn btn text-uppercase">Build your profile</a>
        </div>
        <div class="col">
          <a href="#" class="hollowGreyBtn btn text-uppercase">Add to Favourite</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>
    </div>
  </div>




</div>