<app-header></app-header>

<!-- banner -->
<div class="theme-three">
  <!-- banner section -->
  <div class="blog-internal-back">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Looking for a positive career move?</h2>
          <p class="text-macro"></p>
        </div>
        <div class="col-lg-6 col-12 text-center text-lg-right">
          <img src="assets/images/theme-three/banner/career-job.svg" class="img-fluid bannerImgSub banner-icon-position"
            alt="img">
        </div>
      </div>
    </div>
  </div>

  <!-- make gpts -->
  <div class="gray-background">
    <div class="custom-container section-padding">
      <div class="row">
        <div class="col text-center">
          <h3 class="font-size50 custom-text-light margin-btm25">Make Great Place To Study your next destination</h3>
          <p class="orange-text sub-text">We are unique, just like you</p>
        </div>
      </div>

      <!-- 6 section  -->
      <div class="row margin-top107 align-items-center">
        <!-- left side -->
        <div class="col-lg-4 col-md-6">
          <div class="col-12 margin-bottom67">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/our-value.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Our Values</p>
            </div>
            <p class="font-color33 text-small margin-top22">At Great Place To Study, we focus on creating communication
              platforms,
              and driving solutions for issues that we care about.</p>
          </div>
          <div class="col-12 margin-bottom67">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/friendly-workplace.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Friendly Workplace</p>
            </div>
            <p class="font-color33 text-small margin-top22">GPTS is not structured to function like any other
              organisation. It is a family that recognises the value of ideas and understands how these ideas have the
              potential to fuel innovative growth. </p>
          </div>
          <div class="col-12">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/happier-weekends.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Happier Weekdays</p>
            </div>
            <p class="font-color33 text-small margin-top22">At Great Place To Study, every day is “bring your passion to
              work day”. The GPTS’ offices are filled with fun, laughter and interesting conversations. </p>
          </div>
        </div>
        <!-- center -->
        <div class="col-lg-4 d-none d-xl-block d-lg-block">
          <img src="assets/images/theme-three/report-image.png" class="img-fluid" alt="image">
        </div>
        <!-- right -->
        <div class="col-lg-4 col-md-6 margin-responsive-top">
          <div class="col-12 margin-bottom67">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/choose-positivity.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Choose Positivity</p>
            </div>
            <p class="font-color33 text-small margin-top22">As a pioneer and thought leader in education branding, the
              GPTS family is a multigenerational workforce that fully embraces and understands diversity. </p>
          </div>
          <div class="col-12 margin-bottom67">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/learn&explore.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Learn & Explore</p>
            </div>
            <p class="font-color33 text-small margin-top22">Promoting an open culture at every level allows new recruits
              to have a safe space and an honest dialogue. With many avenues for structured feedback, GPTS </p>
          </div>
          <div class="col-12">
            <div class="d-inline-flex align-items-center">
              <img src="assets/images/theme-three/learning&development.png" class="img-fluid margin-right7" alt="image">
              <p class="font-size25 font-color33">Learning & Development</p>
            </div>
            <p class="font-color33 text-small margin-top22">Valuable learning experiences can shape a child’s future;
              hence it is vital that students get guidance and support that can help them steer</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- life at gpts -->

  <div class="custom-container section-padding">
    <div class="d-xl-flex align-items-center">
      <div class="col-xl-4">
        <h3 class="font-size50 custom-text-light margin-btm47">Life at GPTS</h3>
        <p class="orange-text font-size25 margin-btm47">We have a diverse team of highly-driven individuals who are
          committed to
          making a positive impact on the society. </p>
        <p class="font-size20 font-color33 margin-btm25">Our recruitment culture brings out the best in each candidate
          while helping them understand the core ethos of
          our organisation.

        </p>

        <p class="text-small font-color33">Through every stage of the selection process, we are looking for
          personalities who shine with the passion to
          revolutionise the education sector and showcase their potential to deliver their best in a creative,
          team-oriented environment.</p>
      </div>
      <div class="col-xl-8 margin-responsive-top">
        <img src="assets/images/theme-three/career-image.png" class="img-fluid" alt="image">
      </div>
    </div>
  </div>

  <!-- we are hiring-->
  <div class="career-bubble">
    <div class="custom-container section-padding ">
      <div class="row align-items-center">
        <div class="col-xl-4 text-center">
          <img src="assets/images/theme-three/we-are-hiring.png" class="img-fluid" alt="image">
        </div>
        <div class="col-xl-8 text-center text-xl-left">
          <h3 class="font-size50 custom-text-light margin-btm47">We are hiring!</h3>
          <p class="orange-text font-size25 margin-btm47">At GPTS, we are continuously working on solving challenges
            faced
            by the education sector to take us one step closer to our mission i.e. ensuring every student gets a good
            education and has the right skills to success at life.</p>
          <p class="text-small font-color33 margin-btm25">Whether it is building beautiful products to help millions of
            children
            discover careers or designing robust digital platforms for educational institutions in order to create
            incredible schooling experiences, we strive to create a happy world of education for young students
            everywhere.</p>
          <p class="text-small font-color33"><strong>Browse through all the open positions at GPTS, and pick the
              challenge
              that
              excites you the most.</strong></p>
        </div>
      </div>
    </div>
  </div>



  <!-- open positions -->
  <div class="custom-container section-padding">
    <div class="row margin-bottom50">
      <div class="col-12 text-center">
        <h3 class="font-size50 custom-text-light margin-btm47">Open Positions</h3>
      </div>
    </div>
    <!-- drop down -->
    <div class="row margin-bottom50">
      <div class="col-12 d-flex justify-content-center">

        <div ngbDropdown class="d-inline-block margin-right20 dropdown-container">
          <button class="custom-secondary-btn same-width" id="dropdownBasic1" ngbDropdownToggle>Filter By
            Department</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="d-block drop-button" *ngFor="let data of deptname" (click)="filter(data.value, 1)">
              {{data.value}}
            </button>
          </div>
        </div>


        <div ngbDropdown class="d-inline-block dropdown-container">
          <button class="custom-secondary-btn same-width" id="dropdownBasic2" ngbDropdownToggle>Filter By
            Location</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button class="d-block drop-button" *ngFor="let data of location" (click)="filter(data.value, 2)">
              {{data.value}}
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- table job -->
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-uppercase">Job Title</th>
                <th scope="col" class="text-uppercase">Department</th>
                <th scope="col" class="text-uppercase">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of openingShowJobs">
                <td scope="row">{{job.job_tile}}</td>
                <td>{{job.department}}
                </td>
                <td>{{job.addr}}
                  <button (click)="openUploadModal()" class="arrow-position bg-transparent">Send your
                    application</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        GPTS is a world where passion meets excellence
      </div>
      <!-- <div class="sub-text">
      </div> -->
      <a href="mailto:hr@greatplacetostudy.org" class="custom-primary-btn">
        Upload your resume
      </a>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="resume-container theme-three mt-0">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Upload your resume</h3>
        <form>
          <div class="form-row flex-column align-items-center justify-content-center">
            <div class="col-6">
              <input id="Name" class="form-control custom-form-control removeBorderRadius" placeholder="Name">
            </div>
            <div class="col-6">
              <textarea id="application" class="form-control custom-form-control removeBorderRadius"
                placeholder="Tell us about yourself"></textarea>
            </div>
            <div class="col-12">
              <button class="bg-transparent link" type="button" (click)="fileUpload.click()">Upload</button>
              <input #fileUpload class="custom-file-upload" id="resume" type="file" accept=".pdf,.doc,.docx,.txt,.odf"
                name="resume">
              <div class="">{{fileUpload.value}}</div>
            </div>
          </div>
          <button type="submit" class="custom-primary-btn">Submit</button>
        </form>
      </div>
    </div>
  </ng-template>

</div><!-- theme three ends -->