<app-header></app-header>
<div class="theme-three">
  <!-- banner section -->
  <div class="dalham-background">
    <div class="custom-container banner-height">
      <div class="row">
        <div class="col-lg-6 col-12 text-center text-lg-left">
          <h2 class="text-big">Our contribution for the betterment of education</h2>
          <!-- <p class="text-macro">At GPTS, we have tools to disrupt the
            education system. We help institutes to find the
            best way of nurturing young millennials for their holistic development.</p> -->
        </div>
        <div class="col-lg-6 col-12 text-center text-center">
          <img src="assets/images/theme-three/banner/dalham.svg" class="img-fluid bannerImgSub banner-icon-position"
            alt="img">
        </div>
      </div>
    </div>
  </div>

  <!-- sidebar + content -->
  <div class="custom-container section-padding">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3 col-12">
        <div class="sidebar-color">
          <p class="font-size30 custom-text-light font-color33">Quick Links</p>
          <ul class="sidebar-ul">
            <li class="sidebar-li"><a (click)="scrollTo(d1)" class="custom-text-light">Information we collect</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d2)"  class="custom-text-light">We use information for</a>
            </li>
            <li class="sidebar-li"><a (click)="scrollTo(d3)" class="custom-text-light">We protect your information</a></li>

            <li class="sidebar-li"><a (click)="scrollTo(d4)" class="custom-text-light">When we disclose information</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d5)" class="custom-text-light">Do we use cookies</a></li>


            <li class="sidebar-li"><a (click)="scrollTo(d6)" class="custom-text-light">Information to third party</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d7)" class="custom-text-light">Change of Control</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d8)" class="custom-text-light">Information storage</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d9)" class="custom-text-light">No error-free performance</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d10)" class="custom-text-light">Edit personal information</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d11)" class="custom-text-light">Third Party links</a>
            </li>
            <li class="sidebar-li"><a (click)="scrollTo(d12)" class="custom-text-light">Online privacy protection</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d13)" class="custom-text-light">Online privacy policy</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d14)" class="custom-text-light">Terms & Condition</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d15)" class="custom-text-light">Consent</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d16)" class="custom-text-light">Changes to policy</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d17)" class="custom-text-light">Right to lodge complaint</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d18)" class="custom-text-light">How to contact</a></li>
            <li class="sidebar-li"><a (click)="scrollTo(d19)" class="custom-text-light">Vigilant and circumspect</a></li>

          </ul>
        </div>
      </div>
      <!-- content -->
      <div class="col-lg-9 col-12">
        <h3 class="font-size50 custom-text-light font-color33 margin-bottom44">Privacy and Policy</h3>
        <p class="text-macro custom-text-light orange-text margin-bottom72">This Privacy Policy (“Privacy Policy”) describes how GPTS (the “Company”, “we”, or “us”) collects, uses, stores, shares and protects your personal information in connection with your use of both the platform accessible through the https://www.greatplacetostudy.com domain name (the “Site”) and the services we may offer through the Site from time to time, consisting of but not limited to the dashboard, video content, library, etc. (indistinctly referred to as the “Services”).</p>
        <p class="text-macro custom-text-light font-color33 margin-bottom25">This Privacy Policy aims to inform you about how we use personal data collected via the Site. Please read this Privacy Policy before using the Site or submitting any personal data. This Privacy Policy supplements GPTS Terms & conditions as laid out to the user.</p>
        <p class="text-macro custom-text-light font-color33 margin-bottom25">GPTS is committed to the protection of the privacy of its Users. We use and process your personal data in accordance with the General Data Protection Regulation (GDPR). The GDPR is short for the Regulation (EU) of the European Parliament and of the Council of 27 April 2016 on the protection of individuals with regard to the processing of personal data and on the free movement of such data (General Data Protection Regulation). This European regulation provides the highest level of privacy protection in the world. That is why we apply this high standard to all Users.</p>



        <ol>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d1" #d1>What Information do we
            collect?
            <ol>
              <li>Non-Personally Identifiable Information:

                <p>GPTS collects non-personally identifying information that your browser makes available whenever you visit a website. This information includes your IP Address and hardware specs, browser type, browser language, the date and time of your query and one or more cookies that may uniquely identify your browser.</p>
              </li>
              <li>Personally Identifiable Information:
                <p>We collect the information you provide when you create an account or register with us, enrol for a service, use a service, submit your profile as required by the platform, subscribe to our mailing lists, send us an e-mail or call us. This information may include:</p>

                <p>a. Your name</p>
                <p>b. Your mailing address</p>
                <p>c. Your billing address</p>
                <p>d. Your e-mail address</p>
                <p>e. Your phone number</p>
                <p>f. Your educational institute’s profile</p>
                <p>g. Your parents/guardians information</p>
                <p>h. Your credit/debit card number (if you choose it as a mode of payment)</p>
                <p>i. Your Facebook/Google/E-mail Connect sign-in information</p>
                <p>j. Your history of communication with www.greatplacetostudy.com</p>
                <p>k. Your history of payments </p>
                <p>l. Your IP address</p>
                <p>m. Your system information and your activities on the Website</p>

              </li>
              <li>
                Information Collection:
                <p>To facilitate your use of the Service, GPTS may automatically collect certain types of information when you access or use the Service, complete assessment tests, surveys, send and receive communications, perform search queries, provide information for/to affiliated institutions etc.  In order to collect this data, GPTS may utilize automated tools and files such as cookies and web beacons. These automated tools and files may reside on our servers or on your computer or device. If you restrict our ability to use automated tools and files, your ability to access and use all or part of the Service may be limited or disabled completely.</p>
              </li>
              <li>Device Data:
                <p>Our servers automatically collect information when you access or use our Service and record it in log files which may include your Internet Protocol (IP) address, device type and settings, hardware MAC address, device ID number, the address of the web page visited before using the Service, error logs, browser type and settings, the date and time the Services were used, information about browser configuration, plugins, and language preferences.</p>
              </li>
              <li>Location Data:
                <p>We receive information from you that helps us approximate your location. We may, for example, use an address submitted by you while setting up your profile, or an IP address received from your browser or device to determine your approximate location. We may also collect location information from devices in accordance with the consent process provided by your device.</p>
                <p>Additionally and only upon your grant of respective permissions we may collect information from third party service providers.</p>
              </li>

            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d2" #d2>What do we use your information for?
            <ol>
              Any of the information we collect from you may be used in one of the following ways:
              <li>To personalise your experience and update your dashboard: Your information helps us to better respond to your individual needs, draw out reports and equip counsellors to help you provide a personalised and
                ambitious plan.</li>
              <li>To improve our website: We continually strive to improve our website offerings and develop new Service offerings for the Platform, this enhancement is based on the information and feedback we receive from you.</li>
              <li>To monitor and analyse use of the Service/platform: This is done to ensure smooth running of the Service’s technical administration and to increase the Service’s functionality and user-friendliness. We analyse your use of the platform to tailor make a better user experience for you and provide you with real value for money services.</li>
              <li>To improve customer service: Your information helps us to more effectively respond to your user service requests and support needs.</li>
              <li>To process transactions: Only upon receiving your consent, you credit/debit card information will be used via a secured payment gateway, for the express purpose of delivering the purchased service requested on the platform.</li>
              <li>To send periodic emails: The email address as provided by you, may be used to send information and updates pertaining to your programme, in addition to receiving occasional GPTS news, updates, related service information, etc. to be able to tailor the Services to one’s specific needs if feasible, for convenience of users and communication with them, and as may be required by law.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d3" #d3>How do we protect your information?
            <ol>
              <li>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</li>
              <li>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</li>
              <li>While we carefully select the websites we link to, we are not at fault for the privacy practices or content of these websites. You are under the privacy policy of the operator of that site when you give personal information to them and not to GPTS. Please read the policy of that site before sharing any information.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d4" #d4>When does GPTS disclose Information?
            <p>GPTS reserves the right to disclose personally identifiable information and/or non-personally-identifiable information GPTS believes, in good faith, is appropriate or necessary to enforce its Terms of Use, take precautions against liability, to investigate and defend itself against any third-party claims or allegations, to assist government enforcement agencies, to protect the security or integrity of our web site, and to protect the rights, property, or personal safety of GPTS, our Users or others.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d5" #d5>Do we use cookies?
            <ol>
              <li>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.</li>
              <li>We use cookies to enhance and personalize your experience of the platform and service of the site, including to operate and improve offerings through the Service and/or web sites; to help authenticate your identity when you visit and transact with the Service, and/or web sites; to understand and save your preferences and registration information for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d6" #d6>Do we disclose any information to outside parties?
            <ol>
              <li>We do not sell, trade, or otherwise transfer to outside third parties, your personally identifiable information, unless such transfer is essential to the profile building and counselling services provided through the platform.</li>
              <li>This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.</li>
              <li>GPTS reserves the right to disclose personally identifiable information and/or non-personally-identifiable information that it believes, in good faith, is appropriate or necessary to enforce its Terms of Use, take precautions against liability, to investigate and defend itself against any third-party claims or allegations, to assist government enforcement agencies, to protect the security or integrity of our web site, and to protect the rights, property, or personal safety of the site, our Users or others.</li>
              <li>We may use and disclose to third parties, information we collect in aggregated, non-personally identifiable form for research and informational purposes and to help us make sales, marketing and business decisions for marketing, advertising, or other uses.</li>
              <li>We do not sell your personal information.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d7" #d7>Change of control
            <p>In the event of a change of control of GPTS or a business transition, such as, reorganization, merger, acquisition, or sale of assets, your information may be transferred to the successor organization. You will be notified via a message to the email address associated with your account of any such deal and your information would remain subject to the commitments contained in this Privacy Policy until such time as this Privacy Policy is updated or amended by the acquiring party upon notice to you.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d8" #d8>Information Storage
            <ol>
              <li>Permission to Use Information: By submitting your personal information, you agree to its transfer, storage or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.</li>
              <li>Data Retention: We only retain your personal data for as long as your account is active or otherwise for a limited period of time as long as we need to fulfil the purposes for which we had initially collected it, unless otherwise required by law. We will retain and use information as necessary to comply with our legal obligations, resolve disputes and enforce our agreement as required by the applicable law. </li>
              <li>Password: Where we have given you (or where you have chosen) a password which enables you to access certain Services or specific areas of the Website, you are responsible for keeping this password confidential. We ask that you do not share your password with anyone.</li>
              <li>Disclaimer: Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to us via the Internet; any such transmission is at your own risk.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d9" #d9>No error-free performance
            <ol>
              <li>GPTS does not guarantee an error-free performance under this Privacy Policy. We may not always catch an unintended privacy issue, despite our reasonable efforts to do so. Accordingly, we welcome your feedback regarding any privacy concerns that you may have, including how we can improve this Privacy Policy. We will use reasonable efforts to comply with this Privacy Policy and will take prompt corrective action when we learn of any failure to comply with it.</li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d10" #d10>Modification and Deletion of Personally Identifiable Information
            <ol>
              <li>Deletion:
                <p>In order to delete the personally identifiable information you submitted, you can notify us that you wish to delete your personally identifiable information or any part thereof contained at our databases.</p>
              </li>
              <li>Modification:
                <p>If you wish to modify or update your personally identifiable information, use the Website or application interface.</p>
                <p>Please note that deletion of your personally identifiable information from the site’s database will not prevent GPTS from using gathered anonymous information.</p>
              </li>
            </ol>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d11" #d11>Third party links:
            <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d12" #d12>Minors’ Online Privacy Protection
            <p>GPTS’s Service and website are intended for the general audience, individuals and students). Individuals under the stated age-group are not permitted to register with GPTS’s Services.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d13" #d13>Online Privacy Policy Only
            <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d14" #d14>
            Terms and Conditions
            <p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website and which compliments the Privacy Policy at www.greatplacetostudy.com</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d15" #d15>
            Your Consent
            <p>By using our site, you consent to our website’s privacy policy. You have the right to withdraw that consent at any time. However, this will not affect the lawfulness of processing based on your prior consent.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d16" #d16>
            Changes to our Privacy Policy
            <p>If we decide to change our privacy policy, we will send an email notifying you of any changes. Your Rights: Depending on the applicable law you may have the following rights in relation to your personal data:
            </p>
            <ol>
              <li>Right to access your personal data being processed by us</li>
              <li>Right to rectify any discrepancy, inaccuracy in your personal data or complete any incomplete details
              </li>
              <li>Right to delete or remove your personal data in certain circumstances</li>
              <li>Right to restrict or object to processing of your personal data in certain circumstances, such as where the accuracy of personal data is disputed</li>
              <li>Right to withdraw your consent</li>
            </ol>
            <p>Exercise of any right will not affect the lawfulness of processing based on your prior consent.</p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d17" #d17>
            Right to lodge a complaint with the data protection authority:
            <p>If you have a concern about any aspect of our privacy practices, including the way we have handled your Personal Data, you can report it to the data protection authority that is authorized to hear those concerns. You may exercise your rights by contacting us as follows: info@greatplacetostudy.com
            </p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d18" #d18>
            How to contact www.greatplacetostudy.com if you still have questions?
            <p>You may contact us by using the “Contact Us” links. This information is used to respond directly to your questions or comments. We may also file your comments and share them with our customer care team to improve our service in the future. Your personal information will only be shared with third parties in the event that we need to follow up with specific order-related questions or comments. The third parties will not use your information for promotions or any other purposes.
            </p>
          </li>

          <li class="font-size30 font-color34 custom-text-light border-bottom-none" id="d19" #d19>
            Be vigilant and circumspect:
            <p>Even the best policy can't protect your online privacy and security in all circumstances. Unscrupulous advertisers, hackers, and scam artists are constantly searching the Internet looking for new targets. Your best protection is to understand the limits to privacy on the Internet and be vigilant in all of your on-line activities.</p>
            <p>Be aware that e-mail is an inherently insecure form of communication. Remember that third parties are sometimes able to illegally intercept your unencrypted messages. Anytime you access a service or post a message to an on-line bulletin board, your e-mail address can be accessed by advertisers looking to compile lists for unsolicited commercial e-mail (also known as spam). Be sure that you only disclose your e-mail address in circumstances in which it is safe to do so.</p>
            <p>Beware of scams in which persons unknown to you request your screen name, password, or credit card information. Make sure you verify the identity of anyone asking for personal information. Always monitor your children's on-line activities and educate them as to the rules for safe Internet use. As always, if you have any questions, please feel free to contact us with further questions.</p>
            <p>If you still have questions or concerns about our privacy policy, please write us at:
              info@greatplacetostudy.com.
            </p>
          </li>


        </ol>

      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="page-footer-section text-center">
    <div class="custom-container">
      <div class="custom-head custom-text-medium custom-text-light footer-text-width">
        Experience the assessment test here to explore more about yourself
      </div>
      <div class="sub-text">
        Great days are just ahead of you!
      </div>
      <button class="custom-primary-btn">
        Take the Test
      </button>
    </div>
  </div>


</div> <!-- three ends -->