<!-- footer -->
<div class="theme-three wave-background pb-4">
    <div class="container-fluid " [class.d-none]="noFooter">
        <div class="custom-container">
            <div class="row">
                <!-- logo + address -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-block d-sm-block d-md-none d-lg-none d-xl-none">
                    <p class="footerNavHeadTwo mt-0">Follow Us</p>
                    <p class="footerPolicySocial footerP"> <a href="http://instagram.com/greatplacetostudy" target="_blank"><i
                                class="fa fa-instagram"></i></a> <a href="https://facebook.com/GPTSindia/" target="_blank"><i
                                class="fa fa-facebook"></i></a> <a href="https://twitter.com/Gptsglobal" target="_blank"><i
                                class="fa fa-twitter"></i></a> <a
                            href="https://www.youtube.com/channel/UCgbxKE_8QO188ag0fV5XeIg" target="_blank"><i
                                class="fa fa-youtube-play"></i></a>
                    </p>
                </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block">
                    <img src="assets/images/common/blue-gpts.png" style="width:50px" class="img-fluid "
                        alt="image">
                    <address class="contact-info">

                        <p class="locationAddress pt-4"><a href="mailto:hr@greatplacetostudy.org"><i class="fa fa-envelope-o" aria-hidden="true"></i>hr@greatplacetostudy.org - For Career</a></p>
                        <p class="locationAddress pt-0 mt-2"><a href="mailto:info@greatplacetostudy.org"><i class="fa fa-info-circle" aria-hidden="true"></i>info@greatplacetostudy.org</a></p>
                    </address>
                    <!-- follow social -->
                    <p class="footerNavHeadTwo mt-0">Follow Us</p>
                    <p class="footerPolicySocial footerP"> <a href="http://instagram.com/greatplacetostudy" target="_blank"><i
                                class="fa fa-instagram"></i></a> <a href="https://facebook.com/GPTSindia/" target="_blank"><i
                                class="fa fa-facebook"></i></a> <a href="https://twitter.com/Gptsglobal" target="_blank"><i
                                class="fa fa-twitter"></i></a> <a
                            href="https://www.youtube.com/channel/UCgbxKE_8QO188ag0fV5XeIg" target="_blank"><i
                                class="fa fa-youtube-play"></i></a>
                    </p>
                </div>
                <!-- nav -->
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 removePadding">
                    <div class="d-block d-xl-none d-lg-none d-md-none mt-4">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <p class="footerNavHead mb-0">About GPTS</p>
                            <ul class="noListFooter pt-2">
                                <li><a routerLink="/about-us" class="footerA">About Us</a></li>
                                <li><a routerLink="/solution" class="footerA">Products</a></li>
                            </ul>
                        </div>
                    </div>
                        <div class="d-none d-xl-flex d-lg-flex d-md-flex justify-content-between">
                        <!-- nav1 -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <p class="footerNavHead mb-0">About GPTS</p>
                            <ul class="noListFooter pt-4">
                                <li><a routerLink="/about-us" class="footerA">About Us</a></li>
                                <!-- <li><a routerLink="/contactus" class="footerA">Contact Us</a></li> -->
                            </ul>
                        </div>

                        <!-- nav2 -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <p class="footerNavHead mb-0">For Students</p>
                            <ul class="noListFooter pt-4">
                                <li><a routerLink="/careerdiscovery" class="footerA">Career Discovery</a></li>
                                <li><a routerLink="/careerlibrary" class="footerA">Career Assessment</a></li>
                                <li> <a routerLink="/discover-colleges" class="footerA">Nano Classes</a></li>
                                <li><a routerLink="/edieo" class="footerA"> Knowledge Studio</a></li>
                                <li><a routerLink="/bloglist" class="footerA">Common Application</a></li>
                                
                            </ul>
                        </div>

                        <!-- nav3 -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <p class="footerNavHead mb-0">For Institutions</p>
                            <ul class="noListFooter pt-4">
                                <li><a routerLink="/glicertification" class="footerA">GLI Certification</a></li>
                                <li><a routerLink="/featuredinstitute" class="footerA">Media Feature</a></li>
                                <li><a routerLink="/discover-colleges" class="footerA">Nano Classes</a></li>
                                <li><a routerLink="/bloglist" class="footerA">Common Application</a></li>
                                <li><a routerLink="/edieo" class="footerA"> Knowledge Studio</a></li>
                                
                                <!-- <li><a routerLink="/" class="footerA">Add an Institution</a></li>
                                <li><a routerLink="/" class="footerA">Claim your Insititution</a></li>
                                <li><a routerLink="/" class="footerA">Dashboard</a></li>
                                <li><a routerLink="/" class="footerA">Institution Guidlines</a></li>
                                <li><a routerLink="/" class="footerA">Products for Institution</a></li> -->
                                <!-- <li><a routerLink="/sfiwebsite" class="footerA">School Fulfilment Index</a></li>
                                <li><a routerLink="/glicertification" class="footerA">GLI Certification</a></li>
                                <li><a routerLink="/certifiedschool" class="footerA">Certified Schools</a></li>
                                <li><a routerLink="/featuredinstitute" class="footerA">Featured Instituion</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <!-- social icons -->
                    <!-- <div class="col-12 d-flex borderPrivacy flex-column">
                        <div class="removePadding">
                            <p class="footerPolicy footerP"> <a href="#">Privacy</a> <a href="#">Terms</a> <a
                                    href="#">API
                                    policy</a>
                            </p>
                        </div>

                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <!-- t c -->
    <div class="container-fluid topBrd">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <p class="tcp">© 2019 Great Place to Study. <a href="/terms">Terms and Conditions</a> | <a
                            href="/privacy">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button (click)="scrollToTop()">
       <img src="assets/images/common/rocket-ship.png" alt="bottom arrow"> <span>TOP</span>
    </button>
  </div>