<app-header-two></app-header-two>

<div class="theme-three mt-0">
	<!-- banner section -->
    <div class="roychand_banner dynheader">
        <div class="custom-container">
            <div class="row align-items-middle banner-content leagurSpartanBold">
                <div class="col-lg-8 col-md-10 col-sm-12 col-12 align-middle" data-aos="fade-up" data-aos-duration="1000">
                	<h1 class="roy_banner_text white_color">dR. cHENraj Roychand Scholarship</h1>
                    <div class="royal-chand-logo">
						<img src="assets/images/royal-chand/royalchand-logo.png" class="img-fluid mb-3">
					</div>
				</div>
				<div class="col-md-12 col-lg-4 col-sm-12 col-12 text-right align-middle"  data-aos="fade-up" data-aos-duration="1000">
						<h3>For the Luminaries of Tomorrow</h3>
						<button  (click)="roychandReg()" class="custom-primary-btn" *ngIf="!loggedIn">Register Now</button>
						<p class="note">Every registered students will get a soft copy of DALHAM Career guide book.</p>
				</div>
            </div>
        </div>
    </div>


 <!-- About Scholarship -->
    <div class="about"  data-aos="fade-up" data-aos-duration="1000">
    	<div class="custom-container">    		
    		<div class="row align-items-center pt-5">
    			<div class="col-lg-6">
    				<h2 class="leagurSpartanBold">Don’t Wait,<br>Make it Happen.<span>Become a Roychand Scholar!</span></h2>
    			</div>    			
    			<div class="col-lg-6">
    				<p class="text-small font-color34 margin-top38">Have you been waiting for life to show you what’s in store? Don’t wait. Go ahead and grab the opportunities. Jain University presents the Roychand Scholarship for the students who believe in making it happen. Dive into this journey of life-altering experiences and we will support you in your quest for knowledge. As we open the doors of the School of Creative Liberal Education, we invite all the young and ignited minds who are the visionaries of the future take a tour of the wondrous world of Creative Liberal Education with <a href="https://scle.jainuniversity.ac.in/" target="_blank">School of Creative Liberal Education.</a></p>
    			</div>
    		</div>
    	</div>
    </div><!-- About Scholarship -->

<!--benefit start-->
<!-- <div class="benefit pt-100 pb-100">
	<div class="custom-container">
		<div class="row">
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor1"><img src="assets/images/royal-chand/application-course.png" class="img-fluid"></span>
					<h3>Applicable Course</h3>
					<p>The scholarship is only available for programmes under the School of Creative and Liberal Education.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor2"><img src="assets/images/royal-chand/online-application.png" class="img-fluid"></span>
					<h3>Fill Online Application</h3>
					<p>The scholarship is only available for programmes under the School of Creative and Liberal Education.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor3"></span>
					<h3>Submission of Letters</h3>
					<p>Please print out this form and hand it to your recommendation writers. The form must be hand-written and duly signed by them.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor4"></span>
					<h3>Apply to Education</h3>
					<p>Please print out this form and hand it to your recommendation writers. The form must be hand-written and duly signed by them.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor5"></span>
					<h3>Apply to Education</h3>
					<p>Please print out this form and hand it to your recommendation writers. The form must be hand-written and duly signed by them.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="benefit-box">
					<span class="icon bgcolor6"></span>
					<h3>Apply to Education</h3>
					<p>Please print out this form and hand it to your recommendation writers. The form must be hand-written and duly signed by them.</p>
				</div>
			</div>
			
		</div>
	</div>
</div> -->
<div class="benefit pt-100 pb-100" data-aos="fade-up" data-aos-duration="1000">
		<div class="custom-container">
			<div class="row">
				<div class="col-xl-12">
						<div class="row">
								<div class="col-md-6 col-lg-4 col-sm-6">
										<a class="benefit-box d-block chenrajRoay" href="https://www.jgi.ac.in/chairman-jgigroup.php" target="_blank">
										<h3>Dr Chenraj Roychand</h3>	
										<p>Best described as a man of vision and integrity, Dr Chenraj Roychand is the Founder Chairman of JGI Group. A leader, educationist, social entrepreneur, and angel investor, he has been promoting the educational and entrepreneurship sectors in India for more than two decades.
										</p>
									</a>
										</div>
							<div class="col-md-6 col-lg-4 col-sm-6">
							<a class="benefit-box d-block jain" href="https://www.jainuniversity.ac.in/" target="_blank">
							<h3>Jain University</h3>	
							<p>Jain University is a deemed-to-be university (Estd. u/s 3 of UGC Act 1956) and a pioneer in the field of education, offering innovative programmes, advanced research facilities, entrepreneurial opportunities, and an engaging campus life.
							</p>
							</a>
							</div>

							<div class="col-md-6 col-lg-4 col-sm-6">
									<a class="benefit-box d-block scle" href="https://scle.jainuniversity.ac.in/index.php" target="_blank">
									<h3>SCLE</h3>	
									<p>The School of Creative Liberal Education intends to create thinkers who are capable of analyzing, critical thinking and innovation as they shall experience education through interdisciplinary learning.
									</p>
								</a>
									</div>

									
						</div>

				</div>
				</div></div></div>
<!--benefit end-->
<!--eligibility start-->
<div class="eligibility pt-100 pb-100">
		<div class="custom-container"  data-aos="fade-up" data-aos-duration="1000">
			<div class="row">
				<div class="col-md-12 mb-5 pb-3">
					<h2 class="leagurSpartanBold">Eligibility</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 border-right">
					<em class="leagurSpartanBold">1</em>
					<h3>Nationality</h3>
					<p>You need to be an Indian citizen, either native-born or naturalised.</p>
				</div>
				<div class="col-md-6 col-lg-3 border-right">
					<em class="leagurSpartanBold">2</em>
					<h3>Education</h3>
					<p>You must have completed your 12th grade or appearing for it from an affiliated Indian institute.</p>
				</div>
				<div class="col-md-6 col-lg-3 border-right">
					<em class="leagurSpartanBold">3</em>
					<h3>Age</h3>
					<p>You must not be over 18 years of age by 31st December 2019.</p>
				</div>
				<div class="col-md-6 col-lg-3">
					<em class="leagurSpartanBold">4</em>
					<h3>Interest</h3>
					<p>The scholarship is open to aspirants of all but students aspiring to study creative liberal education are especially encouraged.</p>
				</div>
			</div>
		</div>
	</div>
	<!--eligibility end-->
   <!--apply process start-->
	<div class="how-to-apply pt-100 pb-100">
		<div class="custom-container side" data-aos="fade-up" data-aos-duration="1000">
			<div class="row">
				<div class="col-md-12 text-center mb-5 pb-5">
					<h2 class="leagurSpartanBold">How To Apply</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
						<div class="how-to-apply-box">
								<span class="icon d-inline-block"><img src="assets/images/royal-chand/registration.png" class="img-fluid"></span>
								<h3>Registration</h3>
								<p>Register with us and verify your email id. </p>
							</div>
				</div>
				<div class="col-md-6 col-lg-3">
						<div class="how-to-apply-box">
								<span class="icon d-inline-block"><img src="assets/images/royal-chand/application.png" class="img-fluid"></span>
								<h3>Application</h3>
								<p>Fill out application form on personalized dashboard. Prcoeed with your application by making a payment of Rs.150.</p>
							</div>
				</div>
				<div class="col-md-6 col-lg-3">
						<div class="how-to-apply-box">
								<span class="icon d-inline-block"><img src="assets/images/royal-chand/define-purpose.png" class="img-fluid"></span>
								<h3>Define Purpose</h3>
								<p>Submit Statement of Purpose to complete application.</p>
							</div>
				</div>
				<div class="col-md-6 col-lg-3">
						<div class="how-to-apply-box">
								<span class="icon d-inline-block"><img src="assets/images/royal-chand/liberal.png" class="img-fluid"></span>
								<h3>Liberal Learning Test</h3>
								<p>Appear for the multiple choice based test for which study material shall be shared.  </p>
							</div>
				</div>
			</div>
		</div>
		<div class="custom-container pt-100 pb-100 selection-process side" data-aos="fade-up" data-aos-duration="1500">
				<div class="row">
					<div class="col-md-12 col-lg-6 mb-5">
						<h2 class="leagurSpartanBold pb-3">Process of Evaluation</h2>
						<p>The evaluation process of Roychand Scholarship is based<br>upon the philosophy of School of Creative Liberal<br>Education where the personality of an applicant is as important<br>as his or her knowledge which again needs to be interdisciplinary and creative. 
							</p>
						<a href="javascript:void(0);" (click)="roychandReg()" class="custom-secondary-btn d-inline-block mt-5">Register Now</a>
					</div>
					<div class="col-md-12 col-lg-6">
						<div class="row">
							<div class="col-md-6">
								<div class="process-step">
										<span class="icon d-inline-block"><img src="assets/images/royal-chand/statement.png" class="img-fluid"></span>
										<h3>Statement of Purpose</h3>
										<p>Applicant will be marked out of 100 for the SOP.</p>
								</div>
							</div>
							<div class="col-md-6">
									<div class="process-step">
											<span class="icon d-inline-block"><img src="assets/images/royal-chand/liberal-test.png" class="img-fluid"></span>
											<h3>Liberal Learning Test</h3>
											<p>A 300 mark multiple choice test based on shared study material.</p>
									</div>
							</div>
							<div class="col-md-6">
									<div class="process-step mb-0">
											<span class="icon d-inline-block"><img src="assets/images/royal-chand/process-step.png" class="img-fluid"></span>
											<h3>Candidate Evaluation</h3>
											<p>The final evaluation will be based on both the SOP and LLT.</p>
									</div>
							</div>
							<div class="col-md-6">
									<div class="process-step mb-0">
											<span class="icon d-inline-block"><img src="assets/images/royal-chand/anouncement.png" class="img-fluid"></span>
											<h3>Result Announcement</h3>
											<p>Results will be announced after 15 days.</p>
									</div>
							</div>
						</div>
					</div> </div>
				</div>

				<div class="custom-container scholarship-award side" data-aos="fade-up" data-aos-duration="2000">
					<div class="row">
						<div class="col-md-12 text-center mb-5 pb-5">
							<h2 class="leagurSpartanBold">Scholarship Award</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
								<div class="how-to-apply-box">
										<span class="icon d-inline-block">1</span>
										<h3>sCHOLARSHIP</h3>
								</div>
						</div>
						<div class="col-md-4">
								<div class="how-to-apply-box">
										<span class="icon d-inline-block">3</span>
										<h3>sTUDENTS</h3>
									</div>
						</div>
						<div class="col-md-4">
								<div class="how-to-apply-box">
										<span class="icon d-inline-block"><i class="fa fa-inr" aria-hidden="true"></i> 250000</span>
										<h3>sCHOLARSHIP mONEY</h3>
								</div>
						</div>
						
					</div>
				</div>
				


	</div>
	<!--apply process end-->

	
</div>

  <!--  Roychand Scholarship Registration MODAL start  -->
  <div class="modal auth-modal fade noback roychandScholarshipReg" id="roychandScholarshipReg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog noBlue modal-lg login-modal"  role="document" >  
        <div class="modal-content">  
            <div class="modal-header">
                <button type="button" class="close" (click)="removeBootstrapModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid removePadding" >
                  <div class="row justify-content-center">
                        <div class="tab-content w-100">
                            <div class="tab-pane active" id="student">
                                <div class=" text-left">  
									
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login-dots-reg">
                                        <h3 class="sigin-Head-reg">Register</h3>
                                        <form #rcRegform="ngForm" (ngSubmit)="roychandScholarshipReg(rcRegform.value)" novalidate method="POST">
											<div class="row">
												<div class="col-md-6"> 
													<div class="form-group">
													  <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='fName' required placeholder="Full Name" ngModel>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
													<input type="email" class="form-control removeBorderRadius formHeight custom-form-control" name='email' required placeholder="Your Email Id" ngModel>
													</div>
												</div>
												<div class="col-md-6"> 
														<div class="form-group dateOfBirth">
																<input type="text" [minDate]="startDate" [maxDate]="today" ngbDatepicker [(ngModel)]="dob" 
																#d="ngbDatepicker" class="form-control custom-form-control  removeBorderRadius"
																name="dob"  (click)="d.toggle()" (ngModelChange)="select(dob)"
																placeholder="Date of Birth" ngModel>
																<!-- <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='dob' required placeholder="DOB (YYYY-MM-DD)" ngModel> -->
														</div>
													</div>
													<div class="col-md-6"> 
																<div class="form-group">
																  <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='contactno' required placeholder="Contact Number" ngModel>
																</div>
															</div>
														<div class="col-md-6"> 
																<div class="form-group">
																  <input type="text" class="form-control removeBorderRadius formHeight custom-form-control" name='currSchool' required placeholder="Current School Name" ngModel>
																</div>
															</div>
															<div class="col-md-6"> 
																	<div class="form-group">
																			<select #country (change)="getStates(country.value)"
																			class="form-control custom-form-control removeBorderRadius" name="standard">
																			<option value="" disabled selected>Select Standard</option>
																			<option value="11th">11th</option>
																			<option value="12th">12th</option>
																		</select>
																	</div>
																</div>
																	<div class="col-md-12">
																			<div class="form-group mb-4 mt-4">
																					<input type="submit" class="custom-primary-btn d-flex justify-content-center align-items-center" id="royalchandBtn"  value="Notify" ngModel>
																				</div>
																				<div class="form-group">
																						<p class="singup-in">Our team will get in touch with you and notify you on the further process.</p>
																				</div>
																	</div>
											</div>
                                         
                                         
                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--  Roychand Scholarship Registration MODAL end -->