<div class="about-us-container white-background-container">
    <app-header></app-header>
    <!-- heading -->
    <div class="container">
        <div class="row">
            <div class="col-12 bannermarginTop"> <img src="assets/images/common/User-Interface-Design.png"
                    class="img-fluid center-block headingImage" alt="image"> </div>
        </div>
    </div>
    <!-- video player -->
    <div class="container-fluid removePadding">
        <div class="row">
            <div class="col removePadding">
                <div class="swiper-container" [swiper]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified">
                                    <video controls playsinline id="player" poster="assets/images/common/video.jpg">
                                        <!-- Video files -->
                                        <source src="assets/video/1.mp4" type="video/mp4">
                                        <!-- Caption files -->
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="swiper-scrollbar"></div>
              <div class="swiper-pagination"></div>
             
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- about us -->
    <div class="container">
        <!-- heading -->
        <div class="row">
            <div class="col-12">
                <h3 class="headingThree">About Course</h3>
            </div>
        </div>
        <!-- paragraph -->
        <div class="row">
            <div class="col-12">
                <p class="paraOne">Excepteur minim amet, aliquip. Dolore dolore velit mollit nisi ut. Ut reprehenderit
                    pariatur cupidatat mollit eiusmod. Ipsum voluptate aute est. In ipsum deserunt dolor. Magna quis
                    velit consequat consequat sit. Fugiat nisi est consectetur aute. Ullamco eu deserunt veniam, Ut ut.
                    Laboris in est Excepteur incididunt aute. Quis officia proident, velit. Velit eu dolore consectetur
                    occaecat Ut. Irure eiusmod adipiscing consequat incididunt laborum. Sunt do aliqua dolore Ut. Ea
                    amet, aute exercitation exercitation qui. Est proident, magna cupidatat in. Ad qui consectetur
                    fugiat. Sed sit reprehenderit culpa non. Quis cupidatat sint eu. Consectetur consectetur cillum
                    aute qui aliqua. Eiusmod ad eu officia anim. Nulla officia Ut deserunt sunt cillum. Excepteur nisi
                    velit sed dolore. Reprehenderit dolore et ipsum. Elit, voluptate Ut pariatur tempor. Dolor nisi sit
                    ad. Laboris deserunt labore adipiscing qui eiusmod. Dolor ut anim elit, elit, mollit. Ut aute ad
                    pariatur cillum. Mollit Ut sed occaecat minim. Est nulla eiusmod culpa laboris. </p>
                <p class="paraOne">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate Lorem Duis
                    veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui irure aute.
                    Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur. Ea occaecat occaecat consectetur culpa
                    ipsum. Eiusmod fugiat magna ad sunt.</p>
            </div>
        </div>
    </div>
    <!-- about us -->
    <div class="container">
        <!-- heading -->
        <div class="row">
            <div class="col-12">
                <h3 class="headingThree">Roles & Responsibilities</h3>
            </div>
        </div>
        <!-- paragraph -->
        <div class="row">
            <div class="col-12">
                <p class="paraOne">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate Lorem Duis
                    veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui irure aute.
                    Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur. Ea occaecat occaecat consectetur culpa
                    ipsum. Eiusmod fugiat magna ad sunt.</p>
            </div>
        </div>
        <!-- icons -->
        <div class="row">
            <!-- icon one -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <!-- icon --><img src="assets/images/common/role1.png" class="img-fluid center-block" alt="images">
                <!-- heading -->
                <h4 class="text-center text-uppercase roleHeading">Beginner</h4>
                <!-- year -->
                <p class="text-center roleYear">(0 to 1 year)</p>
                <!-- para -->
                <p class="text-center rolePara">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate
                    Lorem Duis veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui
                    irure aute. Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur.</p>
            </div>
            <!-- icon two -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <!-- icon --><img src="assets/images/common/role2.png" class="img-fluid center-block" alt="images">
                <!-- heading -->
                <h4 class="text-center text-uppercase roleHeading">Intermediate</h4>
                <!-- year -->
                <p class="text-center roleYear">(1 to 3 year)</p>
                <!-- para -->
                <p class="text-center rolePara">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate
                    Lorem Duis veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui
                    irure aute. Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur.</p>
            </div>
            <!-- icon three -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <!-- icon --><img src="assets/images/common/role3.png" class="img-fluid center-block" alt="images">
                <!-- heading -->
                <h4 class="text-center text-uppercase roleHeading">Expert</h4>
                <!-- year -->
                <p class="text-center roleYear">(3 to 7 year)</p>
                <!-- para -->
                <p class="text-center rolePara">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate
                    Lorem Duis veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui
                    irure aute. Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur.</p>
            </div>
            <!-- icon four -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <!-- icon --><img src="assets/images/common/role4.png" class="img-fluid center-block" alt="images">
                <!-- heading -->
                <h4 class="text-center text-uppercase roleHeading">Advanced</h4>
                <!-- year -->
                <p class="text-center roleYear">(7+ year)</p>
                <!-- para -->
                <p class="text-center rolePara">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate
                    Lorem Duis veniam, elit. In nulla dolore nostrud est laborum. Cupidatat laboris sint ex. Ut qui
                    irure aute. Non adipiscing voluptate fugiat velit. Ex et ipsum pariatur.</p>
            </div>
        </div>
    </div>
    <!-- career option -->
    <div class="container-fluid greyBackgroundFour">
        <div class="container">
            <div class="row">
                <!-- left -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <!-- heading -->
                    <h3 class="headingFour">Career Options</h3>
                    <div>
                        <ul class="careerList">
                            <li>Graphic Designer</li>
                            <li>User Interface Designer</li>
                            <li>User Interface Consultant</li>
                            <li>Design Research</li>
                            <li>Interaction Desginer</li>
                            <li>Motion Graphic Designer</li>
                        </ul>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <video controls playsinline id="player" class="removeBorderRadius">
                        <!-- Video files -->
                        <source src="assets/video/1.mp4" type="video/mp4">
                        <!-- Caption files -->
                    </video>
                </div>
            </div>
            <!-- button -->
            <div class="row termsMargin">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <button type="button"
                        class="btn btn-success btn-customSuccess removeBorderRadius text-uppercase">View
                        Similar courses</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
            </div>
        </div>
    </div>
    <!-- eligibility criteria -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                <hr class="eligibilityBorder">
                <h3 class="headingThree">Eligibility Criteria</h3>
                <p class="text-justify eligibilityPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit ex
                    ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur exercitation
                    adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod adipiscing fugiat ullamco
                    non. Non velit velit in id dolore elit, cupidatat tempor voluptate quis sint in pariatur laborum
                    incididunt Ut veniam, dolore in sunt in Lorem sunt officia tempor id consequat aute ut minim dolore
                    ullamco Lorem et in adipiscing Excepteur sed dolore. Sed sunt proident, aliqua dolore fugiat ea in
                    est non nostrud fugiat anim nulla et velit cupidatat eu occaecat aliqua reprehenderit magna fugiat
                    ad elit, nostrud dolor consequat laboris consectetur consequat et laborum commodo fugiat pariatur
                    tempor dolor labore ut.</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <h3 class="headingThree text-right">Admission System</h3>
                <p class="text-justify eligibilityPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit ex
                    ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur exercitation
                    adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod adipiscing fugiat ullamco
                    non. Non velit velit in id dolore elit, cupidatat tempor voluptate quis sint in pariatur laborum
                    incididunt Ut veniam, dolore in sunt in Lorem sunt officia tempor id consequat aute ut minim dolore
                    ullamco Lorem et in adipiscing Excepteur sed dolore. Sed sunt proident, aliqua dolore fugiat ea in
                    est non nostrud fugiat anim nulla et velit cupidatat eu occaecat aliqua reprehenderit magna fugiat
                    ad elit, nostrud dolor consequat laboris consectetur consequat et laborum commodo fugiat pariatur
                    tempor dolor labore ut.</p>
            </div>
        </div>
    </div>
    <!-- 3 tabs -->
    <div class="container">
        <!-- navigation -->
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs nav-tabsCustomThree centerEverything">
                    <li class="nav-item"> <a class="nav-link threeTabsActive active" data-toggle="tab"
                            href="#taken">Test
                            to be taken</a> </li>
                    <li class="nav-item"> <a class="nav-link threeTabsActive" data-toggle="tab"
                            href="#entrance">Entrance</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link threeTabsActive" data-toggle="tab"
                            href="#syllabus">Syllabus</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="taken">
                        <p class="text-center threeTabPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit
                            ex ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur
                            exercitation adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod
                            adipiscing fugiat ullamco non. Non velit velit in id dolore elit.</p>
                    </div>
                    <div class="tab-pane" id="entrance">
                        <p class="text-center threeTabPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit
                            ex ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur
                            exercitation adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod
                            adipiscing fugiat ullamco non. Non velit velit in id dolore elit.</p>
                    </div>
                    <div class="tab-pane" id="syllabus">
                        <p class="text-center threeTabPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit
                            ex ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur
                            exercitation adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod
                            adipiscing fugiat ullamco non. Non velit velit in id dolore elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial -->
    <div class="container-fluid greyBackgroundFive">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- heading -->
                    <h3 class="text-center testimonialHead">Testimonials</h3>
                    <div class="testimonial">
                        <div class="swiper-container" [swiper]="config">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <div class="boxCertified testimonial-box">
                                            <div class="centerEverything">
                                                <div class="whiteBackground">
                                                    <!-- image --><img src="assets/images/common/profile.jpg"
                                                        class="img-fluid imgCircle center-block" alt="image">
                                                    <!-- comment -->
                                                    <p class="text-center testimonialPara"><span
                                                            class="quoteStart"></span>
                                                        Consectetur occaecat ad sed fugiat magna irure laboris dolore
                                                        in dolor commodo sed deserunt exercitation mollit laborum non
                                                        Lorem in aliqua pariatur in minim ut velit aute ipsum aliquip
                                                        commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.
                                                        <span class="quoteEnd"></span> </p>
                                                    <!-- name -->
                                                    <p class="text-center profName">Dr. Sean William</p>
                                                    <p class="text-center uniName">University of California, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <div class="boxCertified testimonial-box">
                                            <div class="centerEverything">
                                                <div class="whiteBackground">
                                                    <!-- image --><img src="assets/images/common/profile.jpg"
                                                        class="img-fluid imgCircle center-block" alt="image">
                                                    <!-- comment -->
                                                    <p class="text-center testimonialPara"><span
                                                            class="quoteStart"></span>
                                                        Consectetur occaecat ad sed fugiat magna irure laboris dolore
                                                        in dolor commodo sed deserunt exercitation mollit laborum non
                                                        Lorem in aliqua pariatur in minim ut velit aute ipsum aliquip
                                                        commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.
                                                        <span class="quoteEnd"></span> </p>
                                                    <!-- name -->
                                                    <p class="text-center profName">Dr. Sean William</p>
                                                    <p class="text-center uniName">University of California, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div>
                                        <div class="boxCertified testimonial-box">
                                            <div class="centerEverything">
                                                <div class="whiteBackground">
                                                    <!-- image --><img src="assets/images/common/profile.jpg"
                                                        class="img-fluid imgCircle center-block" alt="image">
                                                    <!-- comment -->
                                                    <p class="text-center testimonialPara"><span
                                                            class="quoteStart"></span>
                                                        Consectetur occaecat ad sed fugiat magna irure laboris dolore
                                                        in dolor commodo sed deserunt exercitation mollit laborum non
                                                        Lorem in aliqua pariatur in minim ut velit aute ipsum aliquip
                                                        commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.
                                                        <span class="quoteEnd"></span> </p>
                                                    <!-- name -->
                                                    <p class="text-center profName">Dr. Sean William</p>
                                                    <p class="text-center uniName">University of California, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <div class="boxCertified testimonial-box">
                                            <div class="centerEverything">
                                                <div class="whiteBackground">
                                                    <!-- image --><img src="assets/images/common/profile.jpg"
                                                        class="img-fluid imgCircle center-block" alt="image">
                                                    <!-- comment -->
                                                    <p class="text-center testimonialPara"><span
                                                            class="quoteStart"></span>
                                                        Consectetur occaecat ad sed fugiat magna irure laboris dolore
                                                        in dolor commodo sed deserunt exercitation mollit laborum non
                                                        Lorem in aliqua pariatur in minim ut velit aute ipsum aliquip
                                                        commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.
                                                        <span class="quoteEnd"></span> </p>
                                                    <!-- name -->
                                                    <p class="text-center profName">Dr. Sean William</p>
                                                    <p class="text-center uniName">University of California, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <div class="boxCertified testimonial-box">
                                            <div class="centerEverything">
                                                <div class="whiteBackground">
                                                    <!-- image --><img src="assets/images/common/profile.jpg"
                                                        class="img-fluid imgCircle center-block" alt="image">
                                                    <!-- comment -->
                                                    <p class="text-center testimonialPara"><span
                                                            class="quoteStart"></span>
                                                        Consectetur occaecat ad sed fugiat magna irure laboris dolore
                                                        in dolor commodo sed deserunt exercitation mollit laborum non
                                                        Lorem in aliqua pariatur in minim ut velit aute ipsum aliquip
                                                        commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.
                                                        <span class="quoteEnd"></span> </p>
                                                    <!-- name -->
                                                    <p class="text-center profName">Dr. Sean William</p>
                                                    <p class="text-center uniName">University of California, USA</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fileds of specialization -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="headingThree">Fields of Specialization</h3>
                <p class="subP">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate Lorem Duis veniam,
                    elit.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <ul class="specialField listNone">
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <ul class="specialField listNone">
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <ul class="specialField listNone">
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed deserunt</li>
                    <li>commodo sed </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- gpts certified -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="headingThree text-center">GPTS Certified Colleges and Institutes</h3>
                <p class="subP text-center">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate Lorem
                    Duis veniam, elit.</p>
            </div>
            <div class="col-12">
                <div class="swiper-container" [swiper]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="swiper-scrollbar"></div>
              <div class="swiper-pagination"></div>
             
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>-->
                </div>
            </div>
            <!-- button -->
            <div class="col-12 centerEverything">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12">
                    <button type="button"
                        class="btn btn-success btn-customSuccess removeBorderRadius text-uppercase">View
                        all courses</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
            </div>
        </div>
    </div>
    <!-- average fee tab -->
    <div class="container">
        <!-- navigation -->
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs nav-tabsCustomThree centerEverything">
                    <li class="nav-item"> <a class="nav-link threeTabsActive active" data-toggle="tab"
                            href="#averagefees">Average
                            Fee</a> </li>
                    <li class="nav-item"> <a class="nav-link threeTabsActive" data-toggle="tab"
                            href="#scholarship">Scholarship
                            & Funding</a> </li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="averagefees">
                        <p class="text-center threeTabPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit
                            ex ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur
                            exercitation adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod
                            adipiscing fugiat ullamco non. Non velit velit in id dolore elit.</p>
                        <div class="col-12 d-xl-flex removePadding">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-center border-right">
                                <p class="text-center countryText">National</p>
                                <ul class="specialFieldTwo listNone">
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding">upto INR 50,000</div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-center">
                                <p class="text-center countryText">International</p>
                                <ul class="specialFieldTwo listNone">
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding">upto INR 50,000</div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="scholarship">
                        <p class="text-center threeTabPara">Et deserunt esse nisi reprehenderit quis sint reprehenderit
                            ex ex exercitation ex ut adipiscing eu aute dolor velit et dolor sit dolore pariatur
                            exercitation adipiscing deserunt ea mollit Lorem aliquip in ex ad et dolor eiusmod
                            adipiscing fugiat ullamco non. Non velit velit in id dolore elit.</p>
                        <div class="col-12 d-xl-flex removePadding">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-center border-right">
                                <p class="text-center countryText">National</p>
                                <ul class="specialFieldTwo listNone">
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding">upto INR 50,000</div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-center">
                                <p class="text-center countryText">International</p>
                                <ul class="specialFieldTwo listNone">
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding">upto INR 50,000</div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="col-6 text-right remove-padding countryListText">Certification</div>
                                        <div class="col-6 text-left remove-padding countryListText">upto INR 50,000
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <!-- pros and cons -->
    <div class="container">
        <div class="row">
            <!-- pros -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <h4 class="prosText">Pros</h4>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
            </div>
            <!-- cons -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <h4 class="consText">Cons</h4>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
                <p class="proconText">Consectetur occaecat ad sed fugiat magna irure laboris dolore in dolor commodo
                    sed deserunt exercitation mollit laborum non Lorem in aliqua pariatur in minim ut velit aute ipsum
                    aliquip commodo nulla eu est ipsum in consequat esse fugiat Duis Lorem.</p>
            </div>
        </div>
    </div>
    <!-- top companies -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="headingThree text-center">Top Companies</h3>
                <p class="subP text-center">Proident, ipsum fugiat officia. Aliqua ut ad incididunt. Voluptate Lorem
                    Duis veniam, elit.</p>
            </div>
            <div class="col-12">
                <div class="swiper-container" [swiper]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="boxCertified"> <img src="assets/images/common/schoolicon.png"
                                        class="img-fluid center-block" alt="image"> </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="swiper-scrollbar"></div>
              <div class="swiper-pagination"></div>
             
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>-->
                </div>
            </div>
            <!-- button -->
            <div class="col-12 centerEverything">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12">
                    <button type="button"
                        class="btn btn-success btn-customSuccess removeBorderRadius text-uppercase">Build
                        your profile</button>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
            </div>
        </div>
    </div>
</div>